[2019-12-09 11:59] nicklockwood commented on #275
@pmanna > even though my wording would have been different (i.e. that OR had precedence)

Ah, yes quite. In fact it's more that `,` isn't actually an operator at all, but a delimiter between expressions, so it always has the lowest precedence.

[2019-12-10 09:50] r-plus opened #513 "blank-lines option for indent rule."
@nicklockwood Hi, I won't remove white spaces of blank lines by `indent` rule.
What do you think of `--blank-lines` option? (e.g. `remove` (default) and `ignore`)

[code]

[2019-12-10 10:06] nicklockwood commented on #513
@r-plus You can use `--disable blankLinesAtStartOfScope` to disable the rule that does this.

[2019-12-10 10:35] r-plus commented on #513
@nicklockwood thanks for your response.

sorry, my sample is not good. I have mixed code that have space having blank line and no-space blank line. In this case, `indent` rule will remove all of the spaces from blank lines.

### sample

before format code.

[code]

after the format by `$ swiftformat --rules indent --swiftversion 5.1 test.swift`

[code]

I'm won't format about blank lines in this c

[2019-12-11 09:06] nicklockwood commented on #513
@r-plus you can add the `--trimwhitespace nonblank-lines` option if you don't want the whitespace in empty lines to be trimmed.

[2019-12-11 11:59] r-plus commented on #513
@nicklockwood with that rule and option by following command

`$ swiftformat --rules indent --rules trailingSpace --trimwhitespace nonblank-lines --swiftversion 5.1 test.swift`

file will be formatted to

[code]

I won't format about blank lines. So i wanting ignore able option for indent rule for blank lines.
How about?

[2019-12-11 17:53] nicklockwood commented on #513
Hmm, this is a pretty obscure use-case. Why do you want the blank line preserved in some cases and not others - is it just to avoid noise in the commit?

[2019-12-12 03:07] r-plus commented on #513
yes, i'm thinking changes of blank lines are not meaningful change for code readability.

[2019-12-15 09:25] klaas commented on #494
Great tipp! This should be included in the FAQ / Known Issues section!

Every once in a while the "SwiftFormat" menu gets missing in my Xcode installation and this helps!

[2019-12-16 00:37] nicklockwood commented on #511
@fphilipe thanks for reporting this, I'll fix it asap.

[2019-12-16 00:40] nicklockwood commented on #509
@Cyberbeni thanks for reporting this, I'll try to fix it.

[2019-12-17 14:53] mmysliwiec commented on #134
Is there any progress on this issue? Can we install SwiftFormat Xcode extension with `brew cask`? It would be extremely useful.

[2019-12-18 21:25] nicklockwood commented on #511
@fphilipe fixed in 0.43.0.

[2019-12-18 21:25] #511 closed

[2019-12-18 21:30] nicklockwood commented on #485
I don't see any way I can change this without breaking a lot of existing workflows, and I'm not convinced that the problem is all that serious in practice. I you have further ideas or arguments, feel free to reopen.

[2019-12-18 21:30] #485 closed

[2019-12-19 07:26] fphilipe commented on #511
Thanks! ❤️

[2019-12-19 07:44] fphilipe opened #515 "Indentation regression in 0.43.0 when var/let type is specified"
I just installed version 0.43.0 and came across the following regression. The following code would **not** get changed in version 0.42.0:

[code]

On version 0.43.0, the `let/var` that specify the type get changed:

[code]

<details>
<summary>Diff</summary>

[code]

</details>

Both versions were tested with default settings.

[2019-12-19 08:53] nicklockwood commented on #515
@fphilipe thanks for reporting, I'll get it fixed asap.

[2019-12-22 17:54] nicklockwood commented on #515
@fphilipe fixed in 0.43.1

[2019-12-22 17:54] #515 closed

[2019-12-23 10:30] axl411 opened #516 "weird line break behavior"
I got this seemly weird line break result, seems like a bug:
[code]

Version:
0.42.0

Config:
[code]

[2019-12-23 10:33] nicklockwood commented on #516
@axl411 this isn't a SwiftFormat config file - maybe you confused it with SwiftLint?

[2019-12-23 10:38] axl411 commented on #516
Oops lol, edited.

[2019-12-23 11:59] nicklockwood commented on #516
@axl411 this seems to already be fixed in version 0.43.1.

[2019-12-23 11:59] #516 closed

[2019-12-24 07:29] paxos commented on #484
I see the same in `0.43.1`:

`if(self.showFull && self.showBackground){`
gets transformed into
`if self.showFull, self.showBackground {`

causing an error in Xcode:
`
/file.swift:37:13: Closure containing control flow statement cannot be used with function builder 'ViewBuilder'
`

[2019-12-24 07:30] paxos opened #517 "Problem with andOperator in SwiftUI"
I see this in `0.43.1` and Swift 5:

`if(self.showFull && self.showBackground){`
gets transformed into
`if self.showFull, self.showBackground {`

causing an error in Xcode:
`
/file.swift:37:13: Closure containing control flow statement cannot be used with function builder 'ViewBuilder'
`

[2019-12-24 07:31] paxos commented on #484
https://github.com/nicklockwood/SwiftFormat/issues/517

[2019-12-24 07:54] nicklockwood commented on #484
@paxos can you share the surrounding code context is as well? The workaround I added depends on detecting that the if statement is inside a function builder, so your code must look a bit different from the cases I've seen so far.

[2019-12-24 07:56] paxos commented on #517
Example code:
https://github.com/AppPear/ChartView/blob/master/Sources/SwiftUICharts/LineChart/Line.swift#L34

[2019-12-24 07:56] paxos commented on #484
https://github.com/AppPear/ChartView/blob/master/Sources/SwiftUICharts/LineChart/Line.swift#L34

[2019-12-25 09:40] nicklockwood commented on #517
@paxos thanks, I'll try to get this fixed asap. In the meantime, adding the following line just above the `if` should solve the problem:

[code]

[2019-12-28 00:49] nicklockwood commented on #517
@paxos fixed in 0.43.2.

[2019-12-28 00:49] #517 closed

[2019-12-28 00:50] nicklockwood commented on #509
@Cyberbeni fixed in 0.43.2.

[2019-12-28 00:50] #509 closed

[2019-12-28 00:54] nicklockwood commented on #481
@dlindenkreuz as of version 0.43.0, lint mode now prints every line that requires changes by default. This isn't exactly what you asked for, but it's consistent with how SwiftLint behaves, and is the most useful form of feedback when running inside Xcode.

I'll consider this closed, but feel free to reopen it if you feel that a separate files-only mode is still warranted.

[2019-12-28 00:54] #481 closed

[2019-12-28 00:55] #457 closed

[2019-12-28 00:56] nicklockwood commented on #454
@szweier are you still experiencing this issue on the latest version?

[2019-12-28 00:56] #447 closed

[2019-12-28 00:58] nicklockwood commented on #409
@nallick in 0.43.2 I've added a `--nospaceoperators` option which should solve your issue.

[2019-12-28 01:05] nicklockwood commented on #377
@kuyazee sorry, I forgot to update the ticket, but 0.41.0 added a `--maxwidth` option to enforce automatic wrapping of arguments.

[2019-12-28 01:05] #377 closed

[2019-12-28 01:07] nicklockwood commented on #345
@mgrebenets this was merged in version 0.43.0.

[2019-12-28 01:07] #345 closed

[2019-12-28 04:11] aerobounce commented on #134
I've made a personal tap for `SwiftFormat for Xcode.app`.
If you like: [aerobounce/Homebrew-SwiftFormat-for-Xcode](https://github.com/aerobounce/Homebrew-SwiftFormat-for-Xcode)

[2019-12-28 08:05] paxos commented on #517
This is awesome, thank you so much!

[2019-12-31 11:40] nicklockwood commented on #461
@davepen sorry for the delayed response. There isn't really an option for this at the moment. The closest option is `--allman true`, which would convert this:

[code]

to this

[code]

but that option won't currently wrap cases where the code is all on one line - it only applies to multi-line blocks. That's arguably the wrong behavior, so I'll consider changing it.

[2019-12-31 23:48] nicklockwood commented on #510
@ChristopherRogers fixed in 0.43.3.

[2019-12-31 23:48] #510 closed

[2019-12-31 23:58] #409 closed

[2019-12-31 23:58] nicklockwood commented on #132
@blackm00n this is fixed in 0.43.3.

[2019-12-31 23:58] #132 closed

[2020-01-01 16:26] rudifa opened #518 "“SwiftFormat for Xcode.app” can’t be opened because Apple cannot check it for malicious software."
On 1 Jan 2020 around noon UTC, @nicklockwood tweeted:
Can someone verify that the latest SwiftFormat for Xcode build works correctly on their machine?

I just downloaded the `SwiftFormat-master.zip` from github and tried to launch `SwiftFormat for Xcode.app ` 0.43.3.  **It failed to start.**

![image](https://user-images.githubusercontent.com/172404/71643402-8c249100-2cb9-11ea-846d-8ede4e1c8b0f.pn

[2020-01-01 16:57] nicklockwood commented on #518
@rudifa Was this on Catalina? And was this after right-click open or just just double-click?

[2020-01-01 17:24] nicklockwood commented on #518
@rudifa I've tried resigning and pushing the release again. See if it works better now.

[2020-01-01 20:52] rudifa commented on #518
After a fresh download of SwiftFormat-master.zip, I tried to
launch SwiftFormat for Xcode.app, comes up with the same problem:

[image: image.png]
Just in case, also downloaded with safari - same problem

[image: image.png]

On Wed, 1 Jan 2020 at 18:24, Nick Lockwood <notifications@github.com> wrote:

[2020-01-01 21:01] rudifa commented on #518
UPDATE:
The workaround using *ctrl-click-on-app* lets me to open the app from the
dialog.
However, this is less than ideal.

rudifa
P.S. Happy New Year!

On Wed, 1 Jan 2020 at 18:24, Nick Lockwood <notifications@github.com> wrote:

[2020-01-02 10:28] proxi opened #519 "--nospaceoperators does not accept open range"
In 0.43.3, it is not possible to specify `..<` in `--nospaceoperators`:

`error: Unsupported --nospaceoperators value '..<'.`

[2020-01-02 11:17] Deco354 opened #520 "Inconsistent whitespace in multi-line, error: Failed to format any files on 2nd run."
I get a warning about inconsistent whitespace in multi-line string literals which will cause an error if I run swiftformat a 2nd time.

Version 0.43.3

![image](https://user-images.githubusercontent.com/18557720/71664301-639ba600-2d50-11ea-8ca3-7894fa99c7e5.png)

File with warnings
[code]

Config file:

[code]

I've excluded the file for now which resolves this problem but figured I'd report it.
O

[2020-01-02 11:55] nicklockwood commented on #519
@proxi thanks, I'll fix that asap. In the meantime, `--ranges no-space` should still work even though it's deprecated.

[2020-01-02 11:57] nicklockwood commented on #520
@Deco354 thanks, I'll take a look.

[2020-01-02 15:33] nicklockwood commented on #134
I've now added an official cask based on @aerobounce's tap: https://github.com/nicklockwood/SwiftFormat#xcode-source-editor-extension

[2020-01-02 15:33] #134 closed

[2020-01-02 19:43] nicklockwood commented on #520
@Deco354 fixed in 0.43.4.

[2020-01-02 19:43] #520 closed

[2020-01-02 19:43] nicklockwood commented on #519
@proxi fixed in 0.43.4.

[2020-01-02 19:43] #519 closed

[2020-01-02 20:13] nicklockwood commented on #518
@rudifa would you mind trying again with version 0.43.4? I've notarized the app, so it should hopefully work without issue this time.

[2020-01-03 00:02] raphaeloliveira commented on #223
@Cyberbeni, did you end up finalising your script? As you mentioned, the `stash pop` would cause a conflict.

[2020-01-03 00:27] Cyberbeni commented on #223
@raphaeloliveira moved formatting to pre build phase as it's important to check if your code builds/runs correctly before commiting.

You could try this instead of `git stash pop`: `git stash show -p | git apply && git stash drop`

[2020-01-03 00:46] raphaeloliveira commented on #223
Thanks for the answer @Cyberbeni. Unfortunately, that's what I'm trying to move away from. Currently, my build phases are too big and a simple rebuild without any code changes takes 5 seconds, which I'm trying to improve. Swiftformat takes 0.5~1 seconds, even when there are no changes. That's why I'm trying to move it to a pre-commit hook script that solves this unstaged files issue. I'm currently

[2020-01-03 01:47] raphaeloliveira commented on #223
For those still searching a script, I believe I found one that works well - https://github.com/hallettj/git-format-staged / https://www.olioapps.com/blog/automatic-code-formatting/.

I added the [script](https://github.com/hallettj/git-format-staged/blob/master/git-format-staged) on my project and run it on the pre-commit hook

[code]

The `stdin` was the trick to make it work with `git-format-sta

[2020-01-03 10:23] rudifa commented on #518
OK, *SwiftFormat for Xcode.app* 0.43.4 opens successfully (Catalina 10.15.2)
[image: image.png]
[image: image.png]

On Thu, 2 Jan 2020 at 21:13, Nick Lockwood <notifications@github.com> wrote:

[2020-01-03 10:36] nicklockwood commented on #518
👍

[2020-01-03 10:36] #518 closed

[2020-01-03 10:53] krunk4ever opened #521 "Can we add an option so that strongifiedSelf also replaces ss, sSelf, and strongSelf with self?"
Love that we now have a `strongifiedSelf` rule! ❤️

https://github.com/nicklockwood/SwiftFormat/blob/435abcbffdebf4ba91c1cde68c3bf6c66ff9dee3/Sources/Rules.swift#L3768

Instead of just replacing `` `self` ``, I was wondering if it was possible to add more identifiers to autocorrect (or allow us to pass in a list of variable names). e.g. we want to detect and autocorrect any references to `ss`, `sS

[2020-01-03 10:54] krunk4ever commented on #521
Not sure if something like the following would work:

[code]

[2020-01-03 10:56] mick111 opened #522 "Default in switch case is removed"
When formatting this code,
[code]
the output is
[code]
instead of something like
[code]
Making code not compiling (Switch must be exhaustive).

No specific configuration changed.

`./SwiftFormat-0.43.4/CommandLineTool/swiftformat main.swift`

[2020-01-03 20:08] nicklockwood commented on #522
@mick111 thanks for reporting - I'll get it fixes asap. In the meantime, manually removing the semicolon will fix it.

[2020-01-04 11:15] nicklockwood commented on #522
@mick111 fixed in 0.43.5.

[2020-01-04 11:15] #522 closed

[2020-01-06 09:07] omaralbeik commented on #520
@nicklockwood Is this bug back in `v0.43.5` 🤔

[2020-01-06 12:08] nicklockwood commented on #520
@omaralbeik as far as I can tell there are no warnings or errors when formatting the example file with the specified settings. If you are seeing something similar it may be a different bug with similar symptoms. Please post a sample file demonstrating the problem (preferably in a new issue).

[2020-01-06 14:50] omaralbeik commented on #520
Sorry, it was a problem from our side, thanks!

[2020-01-06 21:02] AnthonyMDev commented on #421
Yes, I agree! Though #198 was resolved for the use case of the author, it didn't actually resolve this feature request, and I'd really love to have this also. @nicklockwood, is there any chance we could get this implemented with separate configurations for function declarations and calling functions?

[2020-01-06 21:12] AnthonyMDev opened #524 "Wrap maxWidth should respect wrapArguments"
First off, thanks for the amazing library!

I have `--wraparguments before-first --maxwidth 100` in my config file. This line:

[code]
gets formatted as:

[code]
This is awkward to me. What I'd like is for this to respect the way that I've configured `--wraparguments`, so since I have that set to `before-first`, I'd think when the `func` declaration is longer than the max width, it would format it

[2020-01-06 21:14] AnthonyMDev commented on #524
I further noticed that if you haven't manually wrapped arguments at all, even with multiple arguments, this isn't respecting `wrapArguments`.

[2020-01-06 21:25] AnthonyMDev opened #525 "Indent incorrect with chaining function call"
I'm not sure why, but the `indent` rule is changing the indentation on this chained function call. I don't think that should be happening.

I do have `--xcodeindentation enabled`.

[code]

[code]
---
This is also occurring with chained use of `&&`. I've got `--disable andOperator` and `--disable redundantReturn`.

My code looks like this:

[code]
It's changed to this:

[code]

With `--xcodeindenta

[2020-01-06 23:09] nicklockwood commented on #525
@AnthonyMDev yes, this looks like a bug. Thanks for reporting it.

[2020-01-06 23:16] nicklockwood commented on #524
@AnthonyMDev

Can you clarify what you mean here - are you saying it doesn't wrap the arguments even if they exceed the specified line length? Do you have a sample file that demonstrates this?

[2020-01-06 23:23] AnthonyMDev commented on #524
@nicklockwood
I tested this by adding another parameter.

[code]
gets formatted as:

[code]

Rather than what I think it should be:

[code]

[2020-01-06 23:24] AnthonyMDev commented on #525
Awesome. Looking forward to a fix. I have to `--disable indent` until then. :P

[2020-01-06 23:27] nicklockwood commented on #524
@AnthonyMDev wrapArguments will only kick in if the arguments themselves extend beyond the maximum line length. As it is, this part:

[code]

is only 91 characters wide. I can see an argument for why this *shouldn't* be the case, but it seems like it is working as intended at the moment.

[2020-01-07 00:23] AnthonyMDev commented on #524
I see. Thanks for explaining!
I feel like that's not the correct behavior. If we have a max line length set, then it should be paying attention to the length of the entire line.

Since the return statement brings it over the line length, we should then wrap the _arguments_ before the `wrap` kicks in and wraps the line (in the middle of the return type in this case).

[2020-01-07 01:19] AnthonyMDev commented on #421
To be clear, what I want in my config file is something like this:
[code]

[2020-01-07 09:04] #454 closed

[2020-01-07 18:31] nicklockwood commented on #187
@rjchatfield this now works in a better way. With the default settings you get this:

[code]

with `--closing-paren` you get this, which IIUC is what you wanted for array, but still isn't quite right for closures:

[code]

[2020-01-08 03:06] AnthonyMDev commented on #525
I'm working on a fix for a few bugs I've found with wrapping/indent. I'll have a PR up for you tomorrow hopefully.

[2020-01-09 05:16] AnthonyMDev commented on #483
I think my PR #528 might fix this. If it doesn't, we should look at this. With the code I've added there, it shouldn't be hard to fix this next.

[2020-01-09 08:57] #525 closed

[2020-01-09 20:54] AnthonyMDev commented on #421
@nicklockwood  I'm working on a PR for this today. This is going to be a breaking change.
I'm considering the API of this now. Would like your thoughts.

I'm thinking of creating a new option `--wrapparameters` which would define the behavior currently used for `--wraparguments` on function declarations, and then `--wraparguments` would be used for all other argument lists. Does that make sense to

[2020-01-09 21:58] nicklockwood commented on #421
@AnthonyMDev that does make sense, and it's the approach I would take. It should be possible to have `--wrapparameters` take the same value as `--wraparguments` if not specified, in which case it won't be much of a breaking change.

[2020-01-09 22:03] nicklockwood commented on #500
This is now fixed on the develop branch.

[2020-01-09 22:09] nicklockwood commented on #524
@AnthonyMDev I agree. It gets complicated if whatever else is at the end of the line has higher wrap-priority than the arguments though, since `wrapArguments` logic is processed first before general `wrap`.

E.g. in this case, the `{ ... }` should be wrapped in preference to arguments:

[code]

I guess it would work if the heuristic only counted up as far as the `{` and if that was within the limi

[2020-01-09 22:52] AnthonyMDev commented on #524
Ahh that makes a lot of sense. Yes, the priority issue and `warpArguments` running before `wrap` has been a struggle with a few of the other things I've been working on also.

I'm working on this, and I think that your proposed heuristic is pretty close, but perhaps it should be up until the next start of scope? Whether that scope is a `{` or a `(`. That should deal with return type that are tuple

[2020-01-09 22:54] AnthonyMDev commented on #421
I was thinking about doing that. I wasn't sure if you wanted it to take the default of `--wraparguments` or not, since while it doesn't break things that way, its not completely clear.
I'll do that though then! :)

I'm almost done with the PR, so I'll get that part fixed and have it up for you in a bit.

[2020-01-10 01:22] nicklockwood commented on #524
@AnthonyMDev I considered that, but I think it's usually preferable to wrap the function arguments than the return-type. I guess I can imagine cases where that wouldn't be true, though, e.g.

[code]

It's possible I'll eventually need to make the heuristics more advanced, e.g. taking the relative lengths of argument lists into account when prioritising.

[2020-01-10 14:36] taku0 commented on #500
It works perfectly. Thank you.

[2020-01-10 14:36] #500 closed

[2020-01-12 14:58] #421 closed

[2020-01-12 16:17] #524 closed

[2020-01-14 01:25] AnthonyMDev commented on #524
After dealing with some more bugs and trying to improve the heuristic, I realized that this should only actually take the return type into account when the `wrap` rule is enabled. My next PR will address this.

[2020-01-14 01:46] nicklockwood commented on #524
@AnthonyMDev ok. Note that I've also made some fixes which may overlap/conflict with yours. Be sure to pull the latest commit off the develop branch.

[2020-01-14 02:24] AnthonyMDev commented on #524
thanks for the heads up. I'll rebase on your changes as well.

[2020-01-14 02:28] AnthonyMDev commented on #524
@nicklockwood Ooof. I've made some pretty big refactors to the wrapping logic as well. I may have some really big issues merging here.

After I finish my fixes off of MY last branch, I'm going to just pull your changes one at a time on top of mine, make sure that all of both of our behaviors still make sense and manually merge.

Might have a confusing code review...

[2020-01-14 06:13] timbms opened #532 "Illegal instruction: 4 error in version 0.43.5"
I see a similar pattern to #331 when running the version installed via cocoapods

I get the following error
....
[code]

Seems to be related to all small files with <10 lines of code

[2020-01-14 07:21] nicklockwood commented on #532
@timbms thanks for reporting this - could you share an example file that demonstrates the issue?

[2020-01-14 07:22] nicklockwood commented on #524
@AnthonyMDev I'm happy to help out with the rebase if you just want to push a PR with whatever you've got on master.

[2020-01-14 07:44] ChristopherRogers opened #533 "redundantSelf removes required self in capture when contained in if/guard let"
The self in `self.myVar` below gets removed, but is required by the compiler. It gets removed in an if/guard let statement, but not if it's just a plain "if" statement.

Tested with 0.43.5.

[code]

[2020-01-14 08:26] AnthonyMDev commented on #524
Thanks!
I mad a lot of progress tonight. Going to bed now, but I’ve got a few kinks to work out in my code and then I’ll hopefully have something for you.

It should add a lot of flexibility to the heuristic, add some new functionality, and likely be more performant as well!

[2020-01-14 17:54] timbms commented on #532
Here is an example file
[charStyle.zip](https://github.com/nicklockwood/SwiftFormat/files/4060592/charStyle.zip)

[2020-01-14 21:22] nicklockwood commented on #532
I'm not able to reproduce this with 0.43.5 and the swift file you sent. Could there be some other factor involved?

[2020-01-14 21:24] nicklockwood commented on #532
I tested using the homebrew install with the following command:

[code]

Does that also reproduce the error for you, or does it have to be a Cocoapods install?

[2020-01-15 05:27] timbms commented on #532
Homebrew install is indeed without error. Problem occurs only with cocoapods install

[2020-01-15 19:28] AnthonyMDev opened #535 "Wrap should ignore color & image literals"
`#colorLiteral` and `#imageLiteral` should not be wrapped. They don't display in Xcode as over the maxWidth and when they are wrapped they display buggy in Xcode.

[2020-01-15 20:06] AnthonyMDev opened #536 "xcodeindentation should not indent second line of type declaration"
To mirror the behavior of Xcode auto indentation, type declarations should not have an indent on their second line. Currently, if exceeding the maxWidth, the indent rule indents this:

[code]

to:

[code]

It should not indent the second line when `xcodeindentation == enabled`. It should look like this:
[code]

[2020-01-15 23:27] nicklockwood commented on #532
@timbms I believe this should be fixed in 0.44.0. Please verify.

[2020-01-15 23:28] nicklockwood commented on #533
@ChristopherRogers fixed in 0.44.0. Thanks!

[2020-01-15 23:28] #533 closed

[2020-01-15 23:31] nicklockwood commented on #487
@haikusw this is fixed in Swiftformat for Xcode version 0.44.0.

[2020-01-15 23:34] haikusw commented on #487
Sweet!  This, or a related issue, also made breakpoints lose their place after running SwiftFormat.
Thank you 🙏

[2020-01-15 23:54] nicklockwood commented on #487
@haikusw ah, I didn't know about the breakpoints issue. I'm sorry to say that *isn't* fixed by this release 😔

[2020-01-15 23:57] haikusw commented on #487
I've only started noticing the breakpoint issue recently.  So maybe it's possibly something new that showed up in 0.43?  Or maybe my code was bug free up until recently and so I wasn't using breakpoints… 😂.  Apologize for not reporting it separately; I figured it was the same issue.

[2020-01-15 23:58] haikusw commented on #487
P.S. Is there a place to contribute for your efforts on this? I use it daily and it's clear this involves a lot of work, so…. I should support you doing it.

[2020-01-16 00:23] nicklockwood commented on #487
@haikusw that's very kind of you - I've added a PayPal donate button to the README :-)

[2020-01-16 00:27] haikusw commented on #487
Done!  Not as much as I wish it was, but maybe nice lunch/modest dinner.  Thanks again.

[2020-01-16 05:09] ChristopherRogers opened #537 "Corner case for spaceInsideComments"
I think spaceInsideComments shouldn't be adding a trailing space to single-line documentation comments when the character directly after the third slash is another slash. Usually this happens when commenting out code. Any comments contained within it will usually get four consecutive slashes; this shouldn't be formatted to be documentation comments. (`////` would get formatted to `/// /`). Also I'

[2020-01-16 05:29] ChristopherRogers opened #538 "Double/no indentation when closure and parentheses on same line"
The following (formatted) code gets formatted oddly with `--disable trailingClosures`. The indentation inside of the closure is double indented (one for the parentheses, I assume). The indentation for the last line gets completely ignored.

Tested in 0.44.0

[code]

[code]

[2020-01-18 12:01] r-plus opened #539 "Is this expected behavior of --nospaceoperators?"
### tested file

[code]

### executed command

[code]

### result
[code]

I expected `--nospaceoperators` option will not add space around `..<` range operator.
Is this correct behavior of SwiftFormat?

[2020-01-18 16:12] timbms commented on #532
0.44.0 still shows the same error with installation by cocoa pods
How could I trace this further?

[2020-01-18 16:24] nicklockwood commented on #539
@r-plus try `--nospaceoperators "...,..<"`

[2020-01-19 14:40] r-plus commented on #539
@nicklockwood oh! thanks a lot. I understood what i should specify to `--nospaceoperators` option.

[2020-01-19 14:40] #539 closed

[2020-01-19 15:21] timbms commented on #532
I played with the .swiftformat file.
The offending rule seems to be the last line with the attached .swiftformat file. If I comment out the header file, everything runs smoothly.
Just changed filename to swiftformat.txt to make it uploadable on GitHub
[swiftformat.txt](https://github.com/nicklockwood/SwiftFormat/files/4082835/swiftformat.txt)

[2020-01-21 20:02] msanders opened #540 "False positive in redundantFileprivate rule when using type inference with initializers"
Hi, I ran into this today when running `swiftformat` on a codebase of mine:

[code]

#### Expected behavior

This is a valid use of `fileprivate`, so it shouldn't automatically change to `private` (which will cause a compiler error) or throw a lint error.

#### Actual behavior

It shows the following warning:

[code]

Then, when running the formatter it causes this error:

[code]

This behavior do

[2020-01-23 18:48] sfaxon opened #541 "Inline disable all still applies wrap and wrapArugements with --maxwidth"
I have some Paintcode generated files that I would rather swifformat leave alone, but using the inline option

    // swiftformat:disable all

does not seem to be honored with the `--maxwidth` parameter.

    // swiftformat:disable all
    // consider everything in this code block to be `SwiftFormatDisableBug.swift`, very meta.
    // running `swiftformat --verbose --swiftversion 5.1.3 --maxwidth

[2020-01-23 20:23] Cyberbeni opened #542 "else placement for guard"
When the guard condition is multiple lines, I like having the else in a new line, like this:

[code]

I think it would be cool to have an option to automatically place else in a new line when the condition is multiple lines, so that the body is separated from the condition instead of continuously having the same indentation.

[2020-01-23 22:45] nicklockwood commented on #541
@sfaxon thanks, I'll take a look. It probably makes more sense to exclude these files using the --exclude command-line option though, or by using a .swiftformat config file.

[2020-01-23 23:42] sisoje opened #543 "imports are not formated very well when there are empty lines"
FYI i have no headers in my swift files, so:
- empty lines above first import should be removed
- empty lines between imports should be removed
- exactly one empty line should exist after last import

[2020-01-23 23:58] rmaz opened #544 "Formatting enum comparison fails"
Formatting the example:

[code]

fails with:

[code]

Other operators format correctly, only seems to occur with < or >.

[2020-01-24 00:00] sfaxon commented on #541
We're actually using some CI tasks to force the same swiftformat version and config down to our main applications as well as about 15 in house dependencies. `--exclude` would work, but unfortunately our "global" config would override it without changes to our tooling that might end up being pretty fragile.

`Swiftformat` is still a huge win without the `maxwidth` option, thanks to everyone involve

[2020-01-24 09:57] nicklockwood commented on #544
@rmaz thanks - investigating now.

[2020-01-24 10:00] nicklockwood commented on #544
@rmaz it's a bug in the `yodaConditions` rule. You can fix it for now by temporarily disabling that rule.

[2020-01-24 16:51] rmaz commented on #544
Thanks for the workaround

[2020-01-24 18:57] 1oo7 commented on #144
Note: still have this issue on the latest SwiftFormat.

[code]

... did not work for some reason on macOS Mojave. I removed the anchor characters `^` and `$` from the grep regex, then it started working. Not sure why, but maybe this will help someone.

[2020-01-25 13:27] timbms opened #545 "Error: #if(iOS) formatted into #ifiOS"
Hi,
I am using swiftformat 0.44.0
It corrupts one file where I make use of `#if(iOS)`.
All instance are turned into
`#ifiOS`
Can you please have a look

[2020-01-25 17:17] nicklockwood commented on #545
@timbms thanks for reporting. It looks like this is caused by the `redundantParens` rule, so disabling that rule should be a workaround for now.

[2020-01-25 17:31] timbms commented on #545
Confirmed: This workaround is effective. I was so far excluding the relevant file

[2020-01-25 17:59] nicklockwood commented on #545
@timbms if that's the only place it happens, you can also fix it by just manually inserting a space after the #if - SwiftFormat won't remove it again.

[2020-01-25 18:02] nicklockwood commented on #540
@msanders thanks for reporting. I'll fix it asap.

[2020-01-26 15:18] nicklockwood commented on #537
@ChristopherRogers agreed, this is a bug.

[2020-01-26 15:36] nicklockwood commented on #535
@AnthonyMDev do you have an example of code where this happens? AFAIK #imageLiteral and #colorLiteral only have one argument, so they should be wrapped anyway according to the current logic.

[2020-01-26 16:53] nicklockwood commented on #545
@timbms fixed in 0.44.1.

[2020-01-26 16:53] #545 closed

[2020-01-26 16:54] nicklockwood commented on #544
@rmaz fixed in 0.44.1.

[2020-01-26 16:54] #544 closed

[2020-01-26 16:54] nicklockwood commented on #541
@sfaxon this should now be fixed in 0.44.1.

[2020-01-26 16:54] #541 closed

[2020-01-26 16:54] nicklockwood commented on #540
@msanders fixed in 0.44.1.

[2020-01-26 16:54] #540 closed

[2020-01-26 16:55] nicklockwood commented on #532
@timbms thanks for digging into this. It should now be fixed in 0.44.1.

[2020-01-26 16:55] #532 closed

[2020-01-27 10:31] OliverPearmain-Pusher commented on #262
I have a requirement for multiple versions of Xcode and therefore always name my Xcode applications `Xcode-X.Y.Z.app`.

I was able to resolve this issue (of the Extension not appearing) _without having to rename Xcode_ by running the following two commands:

- `/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -f /Applications/Xcode-X.Y.Z.app`

[2020-01-27 16:22] sebleclerc opened #546 "private and file private var braces"
Hi! Nice job for the tool! I added it to my existing project and feel a lot better knowing I don't have unnecessary `self.` and braces on another line anymore.

Regarding braces, I think I found a bug. Inside a class, if I create variable as `private` or `fileprivate`, it doesn't get formatted to have the brace on the same line. We have K&R description.

For example:
[code]

When running SwiftForm

[2020-01-27 16:38] nicklockwood commented on #546
@sebleclerc thanks for reporting, I'll look into it.

[2020-01-27 19:12] AnthonyMDev commented on #535
[code]

This gets wrapped to
[code]

And then it shows up all funky in Xcode.

[2020-01-27 19:55] AnthonyMDev commented on #535
My colleague @javierrivarolaq said he would be interested in working on a PR to fix this for us.

[2020-01-27 20:26] nicklockwood commented on #535
@AnthonyMDev ah I see, I didn't understand how it could happen with image literals as they only have one parameter AFAIK. For colors it makes more sense.

[2020-01-27 20:30] AnthonyMDev commented on #535
I think it was still happening previously with `imageLiteral` when they were on a long line sometimes and the line would wrap. If I remember correctly, I think we might have fixed that by ensuring that functions with one parameter don't wrap? Not quite sure. I haven't tested it in a while. I can check again at some point soon, but I know it's happening with colors.

[2020-01-27 23:33] keith opened #547 "Removing `.map` parens breaks build with `?`"
With version 0.44.1

When you have this code:

[code]

And run `swiftformat foo.swift`, you end up with:

[code]

Which is no longer valid because of the space before `?`. Removing the space fixes it.

[2020-01-27 23:35] nicklockwood commented on #547
@keith thanks, I'll fix it.

[2020-01-27 23:35] keith opened #548 "Fixes enum case spacing but not comment spacing"
With version 0.44.1 if you have this code:

[code]

Where there are 3 spaces before the case and comment, running `swiftformat foo.swift` produces:

[code]

In this case I would expect it to fix the comment leading space as well?

[2020-01-28 00:09] keith opened #549 "Crash when using `--maxwidth` on long function line"
With version 0.44.1 and this code:

[code]

When fixing this with:

[code]

It crashes with this report:

<details>
<summary>Click to expand</summary>

[code]

</details>

[2020-01-28 14:03] javierrivarolaq commented on #535
I have a fix for the bug, will make a PR today.

[2020-01-28 14:24] sebleclerc commented on #546
I must add more info to this issue. While reviewing the rest of my codebase, I saw some places where the example above won't get formatted at all. Not even the public property. Sometimes, the opening bracket for a class or extension is not moved beside the declaration.

[2020-01-28 14:30] javierrivarolaq commented on #535
Here it is https://github.com/nicklockwood/SwiftFormat/pull/550

[2020-01-28 14:37] mike011 opened #551 "Pre Commit script fails if the file has a folder with a spaces in it."
With 0.44.1 after following the steps from [here](https://github.com/nicklockwood/SwiftFormat#git-pre-commit-hook), when I make a commit the following script is ran:

[code]
The formatting on a file with spaces fails with the following:

[code]
The file that changed is  /Users/michael.charland/git/App/Supporting Files/Reachability.swift

If I run SwiftFormat on the parent directory Reachability.sw

[2020-01-28 17:23] #535 closed

[2020-01-29 16:43] rmaz commented on #544
👍

[2020-01-30 10:56] subdan commented on #549
I have the same issue. When I set `--maxwidth 120` I get this error:
[code]

[2020-01-30 15:51] AlexisQapa commented on #549
I have the same issue, using 0.44.1 from mint.
55028 Illegal instruction: 4  mint run --mintfile ../Mint/Mintfile SwiftFormat swiftformat path --config Config.swiftformat --swiftversion 5.1.3

[2020-01-30 16:50] nicklockwood commented on #549
Thanks all, I'll try to fix asap.

[2020-01-31 11:17] rolandleth opened #552 "Spacing issues in documentation"
Hey, Nick!

Searched all issues and I saw that at some point this was a Known Issue, but it appears it's not anymore, so here I am.

    /**
    Some description;
[code]
    */

Will be transformed to:

    /**
     Some description;
[code]
     */
[code]

[2020-01-31 14:40] AlexisQapa opened #553 "expand lines if less than max width"
Hi,

Could it be possible to expand lines that are less than maxwidth ?

Let's say i have a func:
I add another param, it goes over maxwidth
-> swift format compact it
I remove the param
-> go back to inline mode

I hope my message clear, not sure thought

[2020-01-31 14:42] nicklockwood commented on #553
@AlexisQapa this is something I plan to add once the line shortening is working well. It will be a separate rule so it can be disabled if people don't want it.

[2020-01-31 14:45] AlexisQapa commented on #553
Awesome !

I there non public work being done or ideas on this or the shortening rules ? If I can find some time I'd like to contribute

[2020-01-31 14:48] nicklockwood commented on #553
@AlexisQapa nothing non-public. If you have ideas then you can post them here, or open a PR and we can iterate on them.

I did nothing on this for years until I came to the conclusion that it's better to ship a partial solution and then iterate on it. As long as it doesn't break anyone's project and/or is easy to turn off then I'd  be happy to accept a PR that just handles one or two cases and bui

[2020-02-02 12:18] subdan opened #554 "--allman false doesn't work for computed properties"
Hello, @nicklockwood.

I've found an issue with [`braces`](https://github.com/nicklockwood/SwiftFormat/blob/master/Rules.md#braces) rule. Option `--allman false` doesn't work for computed properties.

Input
[code]

Expected output
[code]

Actual output
[code]

[2020-02-02 12:45] subdan commented on #554
In `Rules.swift` file on 1343 line I've found this code:
[code]
Computer property isn't a closure. Is it a bug in `isStartOfClosure` implementation?

[2020-02-02 13:07] subdan commented on #554
I've found another issue. Option --allman false doesn't work with `init`.
Input
[code]

Expected output
[code]

Actual output
[code]

[2020-02-02 13:11] subdan commented on #549
Example where SwiftFormat crashes with maxWidth rule

[code]
.swiftformat
`--maxwidth 120`

[2020-02-02 15:02] nicklockwood commented on #554
@subdan thanks for the report! I think your guess about the root cause seems likely - I'll investigate further.

[2020-02-02 18:58] nicklockwood commented on #554
@subdan this is now fixed on the [develop](https://github.com/nicklockwood/SwiftFormat/tree/develop) branch.

[2020-02-02 18:59] subdan commented on #554
Wow! You are super fast. Thanks!

[2020-02-02 23:06] nicklockwood commented on #554
@subdan fixed in 0.44.2.

[2020-02-02 23:06] #554 closed

[2020-02-02 23:08] nicklockwood commented on #549
@keith @subdan @AlexisQapa fixed in 0.44.2.

[2020-02-02 23:08] #549 closed

[2020-02-02 23:08] nicklockwood commented on #547
@keith fixed in 0.44.2.

[2020-02-02 23:08] #547 closed

[2020-02-02 23:09] nicklockwood commented on #546
@sebleclerc fixed in 0.44.2.

[2020-02-02 23:09] #546 closed

[2020-02-04 06:36] abesuunto opened #555 ""error: Failed to format any files." on second run"
The following code

[code]

fails to format when the SwiftFormat runs the second time.
[code]

SwiftFormat version: 0.44.2

[2020-02-04 12:04] dirkoswanepoel opened #556 "redundantReturn removes return statement when it shouldn't"
The first block of code below will not be altered by SwiftFormat. The second block of code is definitely not the cleanest way to write the specific code, but it does compile and run without any issues. Running SwiftFormat however removes the return statement, resulting in execution continuing after the if statement even when the if statement was true. I believe the body of the if statement is trea

[2020-02-05 07:29] subdan opened #557 "redundantReturn doesn't support functions and getters"
Hello @nicklockwood.

Could you add support for functions and getters for `redundantReturn` rule? It would be cool to get 3 options for this rule: closures, functions, getters.

Input:
[code]
Output:
[code]

[2020-02-05 08:30] nicklockwood commented on #557
@subdan it's already supported, but you need to set SwiftFormat's `--swiftversion` to 5.1 or higher because that feature wasn't available on earlier versions of Swift.

[2020-02-05 08:31] nicklockwood commented on #556
@dirkoswanepoel thanks for reporting this, I'll try to fix it asap.

[2020-02-05 08:31] nicklockwood commented on #555
@abesuunto thanks for reporting this, I'll get it fixed.

[2020-02-05 08:33] abesuunto commented on #555
Thank you Nick for this awesome tool! :)

[2020-02-05 09:14] subdan commented on #557
Oops. Thanks!

[2020-02-05 09:14] #557 closed

[2020-02-05 23:27] marciniwanicki opened #558 "Redundant self rule can break String extensions using methods from NSString extensions"
If user defines two custom extensions:

[code]

`self` in `self.second()` call is redundant and SwiftFormat correctly removes it. However, when one of the extensions is targeting `String` type and uses a method defined in `NSString` extension:

[code]
`self` **is required** (I do not know why.. but would love to understand this requirement better).

Same will happen if `String` extension is using

[2020-02-06 10:50] subdan opened #559 "wrapArguments doesn't work"
I have this code:
[code]
SwiftFormat unable to wrap `deviceId` parameter.
Actual output:
[code]
Expected output:
[code]

[2020-02-06 10:59] AlexisQapa commented on #559
The current behaviour is to wrap each time the args would be longer than the line limit, so it keep two short args on the same line, so it works as intended I think. Thought it's true that most conventions I came across would either wrap none or all args. I think this second behaviour should be the default but maybe someone would like the current one

[2020-02-06 12:17] nicklockwood commented on #559
@subdan yes, @AlexisQapa is correct. I think it may be worth adding another option to always wrap though.

[2020-02-06 13:30] AlexisQapa commented on #559
As stated above I think the either wrap none or all would be better as the default option thought I don't know if this project have kinda feature stability as requirements

[2020-02-06 13:46] nicklockwood commented on #559
I found that made a lot of undesirable changes in my own projects when I tried it, so I don't think it's a good choice as the default.

[2020-02-06 19:03] andrewjmeier opened #560 "Option to prefer a single space in emptyBraces"
I prefer to use `{ }` instead of `{}` but would like to use the emptyBraces rule to prevent empty braces containing new lines or more than one space. Can we add an option to this rule for that?

I'm happy to make a PR for it.

[2020-02-06 20:02] nicklockwood commented on #560
@andrewjmeier a PR would be great, thanks!

I'd propose adding an option called `--emptybraces` with values of `spaced` and `no-space` (default).

[2020-02-08 06:00] rastersize opened #561 "Indentation breaks when having protocol conformances on multiple lines"
Heya 🙂 Looks like there’s some kinda bug in the indentation. Given the following code (we use this to split the line when the list of protocols would extend past our line length):

[code]

This will be corrected as:

[code]

This is with SwiftFormat 0.44.2. It was working fine in 0.40.14 which is the version we where at before. We tried bumping in hope that it would solve another issue*.

<details

[2020-02-08 18:17] gregcotten commented on #542
Maybe even like this? Where the first conditional statement is on a newline.

[code]

[2020-02-10 16:14] klauslanza commented on #285
It's an old thread, but this is still an issue. Would love having the possibility to select a previous version, even if not installed in a particular machine (like, for example, `brew install postgresql@8.4.4`).
Looks like this should be configured on Brew repo to manage several formulae.

[2020-02-11 09:47] Deco354 opened #562 "Indent rule creates compile error on multi-line string arguments"
I get a compile error `Insufficient indentation of next 4 lines in multi-line string literal` when applying the `indent` rule on the following code. (
[code]

I can resolve this by extracting the multi-line string to a variable as seen below but figured I'd report it all the same to avoid this happening to others in future.

### Fix
[code]

### Versions
swift: 5.1
swiftformat: 0.43.4
Xcode: 11.3
O

[2020-02-12 13:35] rhinoid opened #563 "formatter breaks code where there is a double completion block as param"
We have a method like this:

`    public func doOnce(_ action: () -> Void, alreadyDone: (() -> Void)? = nil) {

        ... blabla...

        action()
    }
`

and called like this:

`            LocalStorageKeys.showWelcomeScreen.doOnce ({
                ...
            })
`

which then gets rewritten like:

`           LocalStorageKeys.showWelcomeScreen.doOnce {
                ...

[2020-02-14 23:42] calda opened #564 "Incorrect formatting behavior for redundantReturn rule"
We've added the `redudantReturn` rule to the Airbnb style guide (airbnb/swift#95). When we ran the new rule on our codebase, we noticed an issue where SwiftFormat behaved incorrectly.

### Example

[code]

`$ swiftformat --rules redundantReturn .` reformats this by removing the `return`. This example no longer compiles:
[code]

Notably, SwiftFormat behaves correctly if you add a space between the

[2020-02-14 23:44] nicklockwood commented on #564
@calda thanks for reporting this, I'll get it fixed asap.

[2020-02-18 16:46] PompeiaPaetenari opened #565 "Braces Not Being Formatted for Structs, Extensions, or if-statements"
Hello again,

When I have code like the following:
[code]
And attempt to run SwiftFormat, either through the Xcode extension or command line, it does not change the brace indentation to allman style (or back again) when either option is specified.  It does for the `init() {}` part, but not the `struct` itself.

As far as I can tell, it is only performing the correct swapping of brace-style for fun

[2020-02-19 00:15] nicklockwood commented on #565
@PompeiaPaetenari thanks for reporting, I'll get it fixed asap.

[2020-02-19 00:17] nicklockwood commented on #562
@Deco354 sorry for the delay, I'll get it fixed asap.

[2020-02-19 00:17] nicklockwood commented on #561
@rastersize thanks for reporting this, I'll look into it.

[2020-02-19 12:13] PompeiaPaetenari commented on #562
I also encountered this for any time I pass a multiline string as a function parameter by switching between using tabs and using spaces.  Everything seems to remain the same except the closing quotes, which end up indented differently.

[2020-02-19 17:51] bawjensen opened #566 "Add option for enforcing a specific style of multiline array/dictionary"
From what I can tell there are two main patterns for indenting multiline arrays and dictionaries:

[code]

Would it be a reasonable feature request to add an option to enforce one or the other? For example in our project we'd prefer to enforce the first case in order to play more nicely with `trailingCommas` given we don't want something like `"key3": "value3",]`.

[2020-02-19 18:43] nicklockwood commented on #566
@bawjensen using `--wrapcollections` before-first` should enforce the first style, and `--wrapcollections after-first` should enforce the second.

[2020-02-19 18:53] bawjensen commented on #566
Damn, I thought I read the rules thoroughly before creating this but maybe not. I'll take a look at those two options

[2020-02-19 19:00] bawjensen commented on #566
yep, that's what I was looking for. Thank you so much for the quick response!

[2020-02-19 19:00] #566 closed

[2020-02-19 20:19] nicklockwood commented on #563
@rhinoid unfortunately this is a very hard case to detect at the call site. I'll see if there's a way to solve it automatically, but for now your best bet is disable the trailingClosures rule for that line:

[code]

[2020-02-19 20:33] rhinoid commented on #563
I can only imagine this might be tricky to solve.
in any case, very low prio as far as I'm concerned. Our massive code base formatted perfectly except for this small thing which indeed I'll tag with the comment

[2020-02-20 00:41] nicklockwood commented on #565
@PompeiaPaetenari fixed in 0.44.3.

[2020-02-20 00:42] nicklockwood commented on #564
@calda fixed in 0.44.3.

[2020-02-20 00:42] #564 closed

[2020-02-20 00:42] nicklockwood commented on #562
@Deco354 @PompeiaPaetenari fixed in 0.44.3.

[2020-02-20 00:42] #562 closed

[2020-02-20 00:49] nicklockwood commented on #558
@marciniwanicki I suspect the fact that the String/NSString case works even with `self` is a bug. Swift removed automatic conversion from NSString to String in version 3 IIRC. You should have to explicitly cast with `as`.

[2020-02-20 00:52] nicklockwood commented on #558
@marciniwanicki as for the pattern, other than the `String`/`NSString` anomaly, the rule is that is types are the same (Int is the exact same type as NSInteger) then it should work with or without `self`, and if the types are not the same (IndexPath is a struct, NSIndexPath is a class - they are not automatically bridged) then it won't work even with `self`, but should work with `(self as IndexPat

[2020-02-20 19:24] fdiaz opened #567 "redundantReturn leaves empty line"
When running the `redundantReturn` rule, when there's only a a `return` statement in a line, instead of removing the full line it keeps an empty line.

This is the current behavior:

[code]

The behavior we were expecting was:

[code]

[2020-02-21 01:43] stuartro opened #568 "Crash when exactly two \n chars in --header"
This works fine:

[code]

This crashes:

[code]

Surprisingly, this works again:

[code]

The workaround, for now, is just to have an extra blank line. That is:

[code]

[2020-02-21 05:27] JohnEstropia opened #569 "propertyWrappers nested in another type are not handled correctly"
PropertyWrappers may be nested in types like this:
[code]

Running `swiftformat` breaks the qualified name:
[code]

This compiles normally, but would prefer the qualified name intact.

[2020-02-23 13:12] marciniwanicki commented on #558
Thanks a lot @nicklockwood for the clarification. I submitted a feedback (FB7565234) and will post an update when I hear back.

[2020-02-23 13:12] #558 closed

[2020-02-24 16:42] PompeiaPaetenari commented on #565
Hi Nick,

This is still not formatting if-statements correctly for `--allman` style.  This is what I get when running the `--allman` option on a file after it has gone through the non-allman option:

[code]

I would expect that the braces for these if-statements are also moved to their own line.

[2020-02-24 17:15] nicklockwood commented on #565
@PompeiaPaetenari looks like I missed a case. I'll add some more tests, thanks.

[2020-02-25 17:44] abesuunto commented on #555
Thank you Nick. Just tested 0.44.3 and it seems to be working.

[2020-02-26 20:37] nicklockwood commented on #568
@stuartro I'm having some trouble reproducing this. Can you supply a test Swift file that reproduces the crash?

[2020-02-26 23:59] #555 closed

[2020-02-27 09:22] nicklockwood commented on #569
@JohnEstropia fixed in 0.44.4. Thanks for reporting!

[2020-02-27 09:22] #569 closed

[2020-02-27 09:23] nicklockwood commented on #567
@fdiaz fixed in 0.44.4. Thanks for reporting!

[2020-02-27 09:23] #567 closed

[2020-02-27 09:23] nicklockwood commented on #565
@PompeiaPaetenari fixed in 0.44.4. Thanks for reporting!

[2020-02-27 09:23] #565 closed

[2020-02-27 09:24] nicklockwood commented on #556
@dirkoswanepoel fixed in 0.44.4

[2020-02-27 09:24] #556 closed

[2020-02-27 11:33] alexito4 opened #570 "Small indentation regression in 0.44.4"
Hello! I was just updating swiftformat and found that `0.44.4` does an indentation change I'm not expecting. It's fine on `0.44.3`.

On 0.44.3:

[code]

On 0.44.4:

[code]

The diff:

[code]

<details><summary>Config:</summary>
<p>

[code]
</p>
</details>

[2020-02-27 13:57] PaulD2012 opened #571 "addOperator not valid in config file"
if I add --andOperator true to a config file I get the error

error: Unknown option --andOperator in configuration file.

[2020-02-27 15:31] nicklockwood commented on #571
Try it in all lowercase: --andoperator

[2020-02-27 16:16] PaulD2012 commented on #571
Hi

The code is being read by C++ devs now and again. They find

if (x > 3) && (x < 7)

easier to read than

if x > 3, x < 7

So I’m trying to preserve the &&

I added  --andOperator true but may have misread the docs then

Cheers
Paul

On 27 Feb 2020, at 15:36, Nick Lockwood <notifications@github.com<mailto:notifications@github.com>> wrote:

Try it in all lowercase: --andoperator

Sorry, ignore t

[2020-02-27 18:25] nicklockwood commented on #571
@PaulD2012 right, what you want to add in that case is:

[code]

[2020-02-27 18:49] nicklockwood commented on #570
@alexito4 I'm not able to reproduce this with that code sample and settings. Perhaps it's triggered by some other code in the file? Can you supply a sample file that I can use to reproduce the problem?

[2020-02-27 21:36] ochristensen opened #572 "trailingCommas does not handle nested arrays"
[code]
does not produce
[code]
as expected

[2020-02-27 21:39] nicklockwood commented on #572
Trailing commas are only applied if the array is split over multiple lines, e.g.

[code]

[2020-02-27 23:57] ochristensen commented on #572
is there a rule to make that splitting happen automatically?

[2020-02-28 06:39] nicklockwood commented on #572
@ochristensen only if the array literal exceeds the maxwidth value for lines, or if the array literal already contains a linebreak.

[2020-02-28 08:01] PaulD2012 commented on #571
Thank you for the quick response

On 27 Feb 2020, at 18:25, Nick Lockwood <notifications@github.com<mailto:notifications@github.com>> wrote:

@PaulD2012<https://nam03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FPaulD2012&data=02%7C01%7Cpaul.delivett%40ivanti.com%7C218bc45b0fe9400c1c1908d7bbb2797b%7Ce5208e76dd1247f09541c9b45afaffe6%7C1%7C0%7C637184247531994726&sdata=mDJWtHk3PGO

[2020-02-28 08:35] alexito4 commented on #570
Hi @nicklockwood , I've been able to reduce it to this example:

[code]

If you remove the `if` it doesn't happen. Or, if you remove the first notification observer, it doesn't happen. But when you have both the last lines are wrongly indented as shown in the original post.

I hope it helps!

[2020-02-28 11:48] PompeiaPaetenari commented on #565
So sorry to bother you again about this, but switch statements with tuples are still not happy (in either direction to allman or back):

[code]
Got ^ after running with allman true.

[code]
And ^ when I move the brace manually and run without `--allman`:

[2020-03-05 19:16] PompeiaPaetenari commented on #570
I believe this is similar to trailing closures having too much indentation of following lines?
[code]
The first three lines are fine, but the last two have an extra amount of their indentation (we have it set to two spaces).  Currently, we disabled the indent rule, but several other locations in code end up with incorrect spacing and it is causing issues in our very massive codebase.

[2020-03-06 07:32] #571 closed

[2020-03-06 07:45] #480 closed

[2020-03-06 07:50] #422 closed

[2020-03-06 08:08] nicklockwood commented on #570
@PompeiaPaetenari this looks like a separate issue (it's not fixed by @zizi4n5's PR)

[2020-03-06 14:40] nicklockwood commented on #537
@ChristopherRogers this was fixed in 0.44.1, but I forgot to mention it. Sorry!

[2020-03-06 14:40] #537 closed

[2020-03-09 17:10] PompeiaPaetenari opened #574 "Braces not formatted with switches containing tuples, extensions, or "required init" function."
So sorry to bother you again about this, but switch statements with tuples are still not happy (in either direction to allman or back):

[code]
Got ^ after running with allman true.

[code]
And ^ when I move the brace manually and run without `--allman`

Similarly for extensions when converting to/from allman style:
[code]

Also required init:
[code]
which does not get formatted in either directio

[2020-03-10 08:33] nicklockwood commented on #574
@PompeiaPaetenari thanks for reporting this, I'll get it fixed for the next release.

[2020-03-10 18:46] 2bjake opened #575 "duplicateImports rule wiped out @testable import"
A minor issue, but it looks like ```duplicateImports``` rule doesn't watch out for ```@testable```. A test file with imports like this:

[code]

got formatted like this:

[code]

which caused the test file to fail to build. I would have expected:

[code]

[2020-03-10 21:37] nicklockwood commented on #575
@2bjake thanks for reporting - I'll get it fixed asap.

[2020-03-11 01:13] nicklockwood commented on #575
@2bjake fixed in 0.44.5

[2020-03-11 01:13] #575 closed

[2020-03-11 01:13] nicklockwood commented on #574
@PompeiaPaetenari fixed in 0.44.5

[2020-03-11 01:13] #574 closed

[2020-03-11 01:14] nicklockwood commented on #570
@alexito4 @PompeiaPaetenari fixed in 0.44.5

[2020-03-11 01:14] #570 closed

[2020-03-11 01:16] nicklockwood commented on #561
@rastersize fixed in 0.44.5

[2020-03-11 01:16] #561 closed

[2020-03-11 01:17] nicklockwood commented on #548
@keith fixed in 0.44.5 - thanks for reporting

[2020-03-11 01:17] #548 closed

[2020-03-11 09:27] #407 closed

[2020-03-11 09:37] alexito4 commented on #570
I can confirm that it works 👍  Thanks Nick!

[2020-03-13 06:18] realityworks opened #577 "[CRASH] - Timeout when many closures exist in function"
With functions that contain a lot of closures, such as an init file using RxSwift for binding, when adding more closures, at a certain point SwiftFormat will just break. This occurs for us in an init function with 30+ closures.

[code]

[2020-03-13 08:48] nicklockwood commented on #577
@realityworks can you provide a sample file that demonstrates the problem?

[2020-03-13 18:43] 1oo7 commented on #559
Yeah current behavior is not good.

[2020-03-16 13:00] alphatroya commented on #577
Same here. I have a `warning: braces rule timed out` here. Please, check out my example.

<details open>
<summary>Details</summary>
<br>

[code]
</details>

[2020-03-17 07:48] yanpanpan opened #578 "NSMapTable/NSHashTable/NSPointerArray format wrong, when check empty."
NSMapTable/NSHashTable/NSPointerArray has no var `isEmpty`, so empty format should ignore.
[code]
will be wrongly format to

[code]

[2020-03-17 07:55] nicklockwood commented on #578
Yes, this is a known limitation of the rule. You can disable it for just that line or file using

[code]

[2020-03-17 07:55] yanpanpan commented on #578
Thanks

[2020-03-17 07:55] #578 closed

[2020-03-18 00:26] zizi4n5 commented on #577
In my program code, some of the Quick-based test code had similar problems.
This problem is most likely to occur when using frameworks that require heavy use of closures.

[2020-03-19 18:41] bryanforbes commented on #577
I'm also running into this. I use `Combine` a lot in my app and have a few files that fail to format. I can add them here if need be.

[2020-03-20 01:08] zizi4n5 commented on #577
@bryanforbes Can you provide the code so I need it?
I want to check if it is fixed by https://github.com/nicklockwood/SwiftFormat/pull/579.

[2020-03-20 16:40] bryanforbes commented on #577
Here's one of the files I'm having an issue with:

*PreferencesStoreTests.swift*
[code]

If I take out lines 85-105 and 147-167, `swiftformat` has no issue with the file.

[2020-03-20 22:27] nicklockwood commented on #577
@bryanforbes I can confirm that @zizi4n5's fix works for your file. It's up on the develop branch now - I'll try to get a release out shortly.

[2020-03-21 09:40] nicklockwood commented on #577
Fixed in 0.44.6.

[2020-03-21 09:40] #577 closed

[2020-03-21 18:12] bryanforbes commented on #577
I just wanted to confirm that 0.44.6 fixes the crash for my source files. Thank you, @nicklockwood, for the quick turn around!

[2020-03-21 23:47] bryanforbes commented on #411
I have a similar scenario:

[code]

Gets formatted as:

[code]

And I was expecting it to format as:

[code]

[2020-03-23 09:11] mltbnz opened #581 "Rules time out when running swiftformat with swift run"
I am getting warnings that some some rules timed out when running `swiftformat` with `swift run swiftformat .` I have also installed swiftformat system via brew and if I run `swiftformat .` on the branch it works just fine 🤷‍♂️

[2020-03-23 09:47] karlpuusepp opened #582 "Inconsistent formatting of closures after switch"
Given an input like this
[code]

SwiftFormat will reindent the closure expression
[code]

However if the previous `switch` statement is removed  or commented the closure expression is not reindented.

[2020-03-23 11:21] nicklockwood commented on #581
Does swift run use release or debug mode? If it's a debug build it might be running substantially slower, resulting in timeout.

[2020-03-23 12:01] mltbnz commented on #581
Thanks for the quick response. That was a hint in the right direction. I did not specify the release mode (like you actually specified in the docs https://github.com/nicklockwood/SwiftFormat#using-swift-package-manager). Works great now. Thanks

[2020-03-23 12:01] #581 closed

[2020-03-23 19:56] #464 closed

[2020-03-24 10:15] lukecharman opened #583 "Blank line only after top-level braces"
I'm trying to set up `blankLinesAtStartOfScope` to do the following (see the two comments):
i.e., a blank line to start non-nested scopes, and no blank line for nested scopes.

[code]

[2020-03-25 03:10] jshier opened #584 "Request: Replace { $0.property } with (\.property) in Swift 5.2"
Swift 5.2 add function / `KayPath` equivalence for properties, meaning `map { $0 }` can now be written `map(\.self)` and `map { $0.some.property.path }` can now be written `map(\.some.property.path)`. It would be great if SwiftFormat had an optional rule in Swift 5.2 mode which could make this replacement automatically.

[2020-03-26 00:41] gregcotten commented on #584
yes!

[2020-03-26 22:42] nicklockwood commented on #584
Good idea!

[2020-03-26 22:43] nicklockwood commented on #583
This isn't currently supported. I'll consider adding more config options for this rule.

[2020-03-27 09:24] lukecharman commented on #583
Nice, thank you :) Apologies for being a picky sod ;)

[2020-03-28 04:06] rex-remind101 opened #587 "VSCode --disable patternlet not working"
added `--disable patternlet` to config and i'm receiving the following error
[code]
strangely the rule is configurable if not disabled.

[2020-03-28 10:37] nicklockwood commented on #587
`--patternlet` is the configuration option. The rule itself is called `hoistPatternLet`

[2020-03-29 20:38] #587 closed

[2020-03-30 09:19] alex-vasiliu opened #588 "format.sh warnings at building project"
Hello guys. I just joined a project which is using SwiftFormat.

My feedback? Pretty annoying that after a build you can no longer command+z (undo), but apart from this, a very good tool to indent code and make it easy to read.

However, I am encountering this issue. Every time I build, I am getting this warning. Can you help me with info to fix it?

[image with warnings](https://imgur.com/LCPckey

[2020-03-30 15:54] nicklockwood commented on #588
Those two options are being used in the .swiftformat file. They need to be removed and replaced with the new options instead.

[2020-03-30 16:54] revolter opened #590 "Build error manifest parse error"
After following [these steps](https://github.com/nicklockwood/SwiftFormat#xcode-build-phase), I get this error when building the target:

[code]

And now I'm getting:

[code]

[2020-03-31 02:17] rex-remind101 opened #591 "separate rules for function braces vs control flow braces"
I generally like braces flush like
[code]
which is the default, however, for wrapped argument lists for functions I like the brace to get it's own space like so
[code]
this doesn't seem like a supported configuration though

[2020-03-31 05:24] avasiliu-ro commented on #588
How can I replace them with the new options but keep the same settings, and make the warning dissapear?

I tried this configuration, it removed the warning but it no longer formats the code.

    swiftformat \
    --nospaceoperators
    --config .swiftformat \
    AppTest/

[2020-03-31 07:51] nicklockwood commented on #588
The options are inside a file called ".swiftformat" in the project directory (the leading . means it's an invisible file, so you may not be able to see it).

Open that file and remove the --comments and --ranges options from in that file.

If the --ranges option has a value of "no-space", you'll need to add:

--nospaceoperators "..<,..."

[2020-03-31 08:14] nicklockwood commented on #591
Yes, this isn't supported currently.

[2020-03-31 08:15] avasiliu-ro commented on #588
You are a life saver. It worked, many thanks.

[2020-03-31 08:17] nicklockwood commented on #590
Could this be related to https://github.com/nicklockwood/SwiftFormat/pull/586 ?

[2020-03-31 08:20] revolter commented on #590
Oh, wow, I didn't think it could be caused by Xcode 11.4. I'll try it tonight.

[2020-03-31 17:51] jandamm opened #592 "Rule to disable redundantReturn for returning closures."
I would like to have the `return` preserved in the following code:

[code]
While this is still readable in one line, its easy overlooked when the closure isn't in one line.
[code]
I hope this is something that is easily added :)

[2020-03-31 21:19] revolter commented on #590
Yes, it's fixed by #586. Thank you!

[2020-03-31 21:19] #590 closed

[2020-03-31 22:23] #588 closed

[2020-03-31 22:25] nicklockwood commented on #592
@jandamm you can disable the rule that removes it using `--disable redundantReturn`.

Does that solve your problem, or do you mean that you want to preserve it only in this particular case?

[2020-03-31 22:27] #568 closed

[2020-04-01 05:53] jandamm commented on #592
No, I've been proposing a more granular rule.

I want to remove the return statements except when returning a closure.

[2020-04-03 15:28] brunofgs opened #594 ""Failed to format any files" on second run with --config option"
Adding this on the build phase:
`${PODS_ROOT}/SwiftFormat/CommandLineTool/swiftformat" "$SRCROOT"  ' --config ' "$SRCROOT/../swiftformart"
`

fails on the second run:
Failed to format any files.

Adding this:
``${PODS_ROOT}/SwiftFormat/CommandLineTool/swiftformat" "$SRCROOT" `

Works fine all the times.

version:
  - SwiftFormat/CLI (0.44.6)

[2020-04-03 16:38] nicklockwood commented on #594
"swiftformart" looks like a typo

[2020-04-03 18:31] jandamm opened #595 "Feature Request: Smart Tabs"
I'm using this config: `--indent tabs --tabwidth 2`.

When formatting this code:
[code]
it produces this output:
[code]

While this looks good in my editor with a tabwidth of 2, it does not look good on github (tabwidth 8) or for my colleagues not using my tabwidth.
We decided to use tabs over spaces to have everyone to display the code as one likes.

I would love to be able to do this: `--indent

[2020-04-03 20:55] Dlemex opened #596 "property wrappers require an initialization (cannot strip nils) (version 0.44.6)"
Property wrappers require an initialization. This may just be a problem with complex property wrappers since this was previously resolved.

This
    @ThreadSafe(queue: statusSyncQueue) fileprivate(set) var deviceIdentifier: String? = nil
cannot become
    @ThreadSafe(queue: statusSyncQueue) fileprivate(set) var deviceIdentifier: String?

Currently in 5.1.3 their removal will cause swift to seg fau

[2020-04-04 08:39] nicklockwood commented on #594
@brunofgs are there any `--exclude` rules in your config file?

[2020-04-04 08:42] nicklockwood commented on #595
Hmm, I think this is actually how it *used* to work prior to 0.41.0, when I changed tabs to behave more like Xcode. Perhaps the original behavior was actually better.

[2020-04-04 08:44] nicklockwood commented on #596
Thanks for reporting this, I'll get it fixed.

[2020-04-04 09:09] jandamm commented on #595
With the current behavior you have to define the tabwidth for alignment to work.
At least in my eyes the advantage of using (smart)tabs is that you don't need to know the tabwidth.

I'd really appreciate if you'd add a configuration for this 👍

[2020-04-04 11:16] #50 closed

[2020-04-04 23:22] nicklockwood commented on #596
@Dlemex fixed in 0.44.7

[2020-04-04 23:22] #596 closed

[2020-04-04 23:23] nicklockwood commented on #582
@karlpuusepp fixed in 0.44.7

[2020-04-04 23:23] #582 closed

[2020-04-05 12:14] revolter opened #602 "Missed case by the unusedArguments rule when linting"
[code]

doesn't get flagged when linting with the `unusedArguments` rule enabled, and the default `--stripunusedargs` option value.

And nor does this code:

[code]

---

The formatter changes this:

[code]

to:

[code]

but does nothing to the two examples.

IOW, it replaces the 2 unused arguments with `_`, but doesn't replace one unused argument with `_` while the other is already `_` or unnamed

[2020-04-09 13:52] brunofgs commented on #594
No.
So just to recap:
Comand in the build phase:
`"${PODS_ROOT}/SwiftFormat/CommandLineTool/swiftformat" "$SRCROOT" ' --config ' "$SRCROOT/../swiftformat"`

swiftformat file:
[code]

Runs successfully if any file is update, otherwise fails due:
`Failed to format any files`

[2020-04-13 21:13] brandtdaniels opened #606 "A couple files in project are indented and outdented over and over again"
We have a contractor on our project from a different country. Whenever he runs `swiftformat .` on our project two specific files are outdented to 4 spaces. Whenever we checkout his branch and run the same command those two same file are re-indented to two spaces.

He did have his indentation settings in Xcode set to 4 spaces, where we all had ours set to 2 spaces, however I don't think Xcode setti

[2020-04-13 23:42] nicklockwood commented on #606
@brandtdaniels ask the contractor to check if he has any .swiftformat files sitting in directories above the project. SwiftFormat looks for these files anywhere in the path, so it's possible that the project settings are somehow being overridden.

[2020-04-14 08:03] keisme opened #607 "After format closure, then compile failed"
**Before format:**

// (self, isValid) is a tuple
view.textFieldDidChange.delegate(on: self) { (self, isValid) in
    // code
}

**After format:**
view.textFieldDidChange.delegate(on: self) { self, isValid in
    // code
}

Thus, compile failed...
How to solve this problem?

[2020-04-14 09:51] dalemyers commented on #364
We've also run into this issue with SwiftLint vs SwiftFormat. I agree with weakfl that this should probably be configurable. @a2 do we have any bandwidth to open a PR with this? Would be nice to have both be able to run independently without messing up the other.

[2020-04-14 11:04] nicklockwood commented on #364
Sorry, I missed the follow-up comments since they were in a closed issue. I'm happy to change the order to match SwiftLint.

[2020-04-14 16:06] brandtdaniels commented on #606
There was only the one for our project.

[2020-04-14 17:47] nicklockwood commented on #606
What version of SwiftFormat is he using? Is it older or newer than yours? (Run `swiftformat --version` to find out).

[2020-04-14 18:31] brandtdaniels commented on #606
He is on 0.44.0, I am on 0.43.5

[2020-04-14 19:17] nicklockwood commented on #606
Try upgrading to 0.44.0 locally and see if you experience the same issue he's seeing. If so, try upgrading to 0.44.7 (the latest release) and see if that fixes it again.

[2020-04-14 19:49] brandtdaniels commented on #606
ok so he updated to 0.44.7, ran swiftformat, committed the changes. I also updated to 0.44.7, pulled his changes, ran swiftformat, and saw no files changed!

I think maybe what we want to do here is lock down a version in our Brewfile, but then it makes it harder to keep things up to date.

[2020-04-14 20:39] nicklockwood commented on #606
One option is to include swiftformat in your project, e.g. using Cocoapods.

[2020-04-15 14:41] tachoknight opened #608 "Can't set shortcut in XCode"
Aloha-

I installed `swiftformat-for-xcode` from Homebrew and, while everything works, I can't seem to set a keyboard shortcut for it; I set one in Xcode preferences but it doesn't seem to take in that the shortcut doesn't appear next to the menu item, and pressing the shortcut key doesn't do anything. I would assume this was an Xcode issue but I can set shortcuts for other things properly, I chec

[2020-04-15 15:10] nicklockwood commented on #608
I've not encountered this specific issue - it seems to work correctly for me.

Previously, problems with SwiftFormat not showing up in the menu have been fixed by moving Xcode.app into a different folder and then moving it back again - might be worth a try?

[2020-04-16 08:37] dalemyers opened #609 "Commented out comments can produce infinite formatting."
Here's an example file (notice that everything is commented out):

[code]

You can see that there is a badly indented comment above the `doSomething` function. When swiftformat is run (Just out of the box with `swiftformat /path/to/file` is enough to repro), then those indented lines in that indented comment get further indented by one space every time swiftformat is run. The end result is that us

[2020-04-16 13:29] dalemyers opened #610 "Indent rule fires on empty lines before trimwhitespace gets the chance"
Here's some example code:

[code]

For this the `indent` rule fires on the empty line, when really it should be the `trimwhitespace` one.

[2020-04-16 13:43] di-sh opened #611 "Incorrect indentation formatting space vs tabs Xcode extension vs CLI"
I have SwiftFormat/CLI installed via cocoapods and built in as build phase step. Also I have Xcode extension that allows me to format code directly from the editor.

I have noticed that with the same swiftformat configuration file, the indentation of a file differs when formatted by CLI vs Xcode.

The CLI formatting will enter spaces
![format_with_cli](https://user-images.githubusercontent.com/302

[2020-04-16 14:24] nicklockwood commented on #611
The Xcode extension isn't able to read your configuration file from inside your project (Apple's sandboxing doesn't allow it).

To configure the Xcode extension, you have to manually import your configuration file into the SwiftFormat for Xcode companion app every time you switch projects.

[2020-04-16 14:32] di-sh commented on #611
I have imported the configuration file listed above through File > Open. It does seem like SwiftFormat app loads this file, but it does not change the formatting from tabs to spaces.

Here indentation config from Xcode
![xcode_identation](https://user-images.githubusercontent.com/30266602/79468781-a7fd3a00-7fff-11ea-9dc6-47f1ddce6b55.png)

Also, I have loaded the config as described above and rest

[2020-04-21 17:48] vladvarna opened #612 "Feature request: Support Whitesmith style braces indentation"
https://en.wikipedia.org/wiki/Indentation_style#Whitesmiths_style

[2020-04-22 08:56] MaxDesiatov opened #613 "Infinite formatting with a multi-line interpolated string"
I have this snippet:

[code]

With this config:

[code]

After formatting, the indentation within the interpolated bit is increased, but after another formatting run it is increased even further, here's how it looks after the first run:

[code]

and a second one:

[code]

[2020-04-22 09:27] nicklockwood commented on #613
Thanks, I'll investigate.

[2020-04-22 09:32] MaxDesiatov commented on #613
I've been able to narrow it down to the multiline interpolation bits (not counting for the inner multi-line string), when the interpolation is on a single line it's fine:

[code]

[2020-04-23 02:58] 1oo7 opened #614 "Crash when running SwiftFormat"
SwiftFormat crashes on line 72 of "ParsingHelpers.swift":
[code]

Because `start` is less than `end`. The error text from the console says:

[code]

Steps to reproduce:

Create a folder "Test".

Inside this folder create a file "test.swift" with the following contents:

[code]

Also inside folder "Test", create a .swiftformat file with the following contents:

[code]

Lastly run swiftformat inside

[2020-04-23 03:12] 1oo7 commented on #614
The following line also causes the crash:

[code]

Evidently, any time there is closure parameter which has multiple input arguments then swiftformat dies...

[2020-04-23 03:23] 1oo7 commented on #614
Adding the following line after line 1084 of ParsingHelpers.swift seems to fix the bug:

[code]

So the full `if` statement now reads:

[code]

[2020-04-25 07:50] #606 closed

[2020-04-25 08:03] nicklockwood commented on #607
@keisme thanks for reporting. This looks like a bug - I'll try to get it fixed asap.

There are two possible workarounds, either put backticks around the `self` parameter, i.e.

[code]

Or disable the redundantParens rule with a comment:

[code]

[2020-04-25 08:06] nicklockwood commented on #609
Thanks for reporting. I'll try to get this fixed asap. In the meantime you can work around it in this case with:

[code]

[2020-04-25 08:09] nicklockwood commented on #611
@di-sh Ah, sorry you're right. The Extension also uses the Xcode project settings for configuring tab/space rather than the the helper app. You'll need to configure your project preferences in Xcode.

I'll see if there's a way I can make this more intuitive.

[2020-04-25 08:17] nicklockwood commented on #614
Thanks for reporting, I'll get this fixed asap.

[2020-04-27 16:22] sharplet commented on #475
Another case where this would help readability is generic declarations with `where` clauses:

[code]

[2020-04-27 19:01] 1oo7 commented on #609
I also noticed this one. Weird bug.

[2020-04-27 19:03] 1oo7 commented on #559
I think regardless of `maxwidth`, if someone has manually wrapped a line, then SwiftFormat should enforce that the wrapping is done properly.

That's the default behavior when there is no `maxwidth` on the latest version so I'm not sure why it would stop working just because a `maxwidth` has been specified.

[2020-04-27 19:13] 1oo7 opened #615 "Bug: wrap with "maxwidth" prefers wrapping before dot-accessors rather than wrapping arguments/parameters & after assignment operator"
Bug: wrap with "maxwidth" prefers wrapping before dot-accessors rather than wrapping arguments/parameters.

## How to Reproduce

Given the following line:

[code]

We expect a `--maxwidth 80` with wrap first settings across all options to result in:

[code]

However instead SwiftFormat wraps like this:

[code]

## Thoughts

I feel that line breaks should not prefer to wrap just before a dot access

[2020-04-27 19:17] 1oo7 commented on #614
@nicklockwood I don't know if it's related but, after I implemented the fix by inserting the check `max(lastIndex, 0) > nextWrapIndex,` as shown above, I noticed that we started to see this other issue:

https://github.com/nicklockwood/SwiftFormat/issues/615

(where wrapping prefers to wrap at the dot accessor over wrapping arguments/parameters).

Since I'm not sure they're related, I made that a

[2020-04-28 06:15] byassine52 opened #616 "Shouldn't this error message to be rewritten?"
I got this error when specifying tab usage in `.swiftformat`:
[code]

And I got this error message:
[code]

Shouldn't this error message to be rewritten?
It took me a while to find out that I needed to set `--tabwidth` value, and `--maxwidth` had nothing to do there.

https://github.com/nicklockwood/SwiftFormat/blob/9508a160654f03ce8ba6275efacdb160181c21d7/Sources/CommandLine.swift#L793

[2020-04-28 09:17] nicklockwood commented on #616
@byassine52 good point. I'll fix it.

[2020-04-30 22:01] nicklockwood commented on #615
@1oo7 this seems to have been due to a bug in the wrapping logic, which I believe I've now fixed.

[2020-05-01 08:52] nicklockwood commented on #616
Fixed in 0.44.8

[2020-05-01 08:52] #616 closed

[2020-05-01 08:52] nicklockwood commented on #615
Fixed in 0.44.8

[2020-05-01 08:52] #615 closed

[2020-05-01 08:52] nicklockwood commented on #614
Fixed in 0.44.8

[2020-05-01 08:52] #614 closed

[2020-05-01 08:52] nicklockwood commented on #613
Fixed in 0.44.8

[2020-05-01 08:52] #613 closed

[2020-05-01 08:52] nicklockwood commented on #610
Fixed in 0.44.8

[2020-05-01 08:52] #610 closed

[2020-05-01 08:53] nicklockwood commented on #609
Fixed in 0.44.8

[2020-05-01 08:53] #609 closed

[2020-05-01 08:53] nicklockwood commented on #607
Fixed in 0.44.8

[2020-05-01 08:53] #607 closed

[2020-05-01 08:53] nicklockwood commented on #602
Fixed in 0.44.8

[2020-05-01 08:53] #602 closed

[2020-05-01 08:53] nicklockwood commented on #552
Fixed in 0.44.8

[2020-05-01 08:53] #552 closed

[2020-05-01 08:53] nicklockwood commented on #364
Fixed in 0.44.8

[2020-05-01 08:53] #364 closed

[2020-05-01 09:35] MaxDesiatov commented on #613
Fantastic, thank you so much @nicklockwood!

[2020-05-02 22:11] jshier opened #618 "Feature: configurable modifier ordering..."
In 0.44.8, modifier ordering was changed "to match SwiftLint". Given that SwiftLint has configurable modifier ordering, SwiftFormat's default behavior now conflicts with my preferred ordering. There doesn't seem to be any way to control to the ordering of modifiers in SwiftFormat, so in order to fully match SwiftLint here, a configurable ordering is needed. Is this possible?

[2020-05-02 23:03] nicklockwood commented on #618
@jshier apologies, I probably shouldn't have included that change in a point release. It's certainly possible to add ordering customization.

[2020-05-04 14:50] MaxDesiatov opened #619 "Multiline comments formatting breaks with 0.44.8"
I would assume this is either a side-effect of #609 or something that was present before 0.44.8, but currently this snippet:

[code]

is re-formatted as

[code]

And then on a subsequent formatting iteration as

[code]

and so on, with the position of `*/` never converging to something fixed.

I know this would be detrimental for performance, but maybe SwiftFormat could do another formatting run i

[2020-05-04 17:28] PompeiaPaetenari commented on #595
Bless you <3
I wish more folks understood this.

[2020-05-04 17:34] PompeiaPaetenari commented on #594
I am seeing the same thing.

Config file:
[code]
Command:
[code]

[2020-05-04 17:47] nicklockwood commented on #619
It does this in the test suite, but unfortunately it only works for cases included in the test suite :-)

I'll add this case, and fix it for the next release.

[2020-05-04 19:07] 1oo7 commented on #614
Thank you @nicklockwood

[2020-05-04 19:07] 1oo7 commented on #615
Thank you @nicklockwood!

[2020-05-04 20:08] 1oo7 opened #620 "Bug: wrap with "maxwidth" prefers wrapping before dot-accessors rather than wrapping arguments/parameters & after assignment operator"
Duplicate of: https://github.com/nicklockwood/SwiftFormat/issues/615

You said 615 was fixed in 0.44.8 but it's not fixed.

Maybe I did not provide enough information to fully fix this issue.

## Steps to reproduce:

### Example 1

Given the Swift version file and SwiftFormat file (see bottom of issue description), the following line:

[code]

Gets wrapped like this:

[code]

Why is it wrapping at

[2020-05-04 21:33] nicklockwood commented on #594
@PompeiaPaetenari this result is very odd because it mentions the `--ranges` option, which doesn't appear in your config file. SwiftFormat also doesn't support `[A-Z]*` wildcard patterns for input files.

[2020-05-04 23:15] nicklockwood commented on #620
@1oo7 thanks for the additional examples. The common factor appears to be that functions with a single parameter are not wrapped. I'll try tweaking the heuristic again.

[2020-05-04 23:52] nicholaslythall opened #621 "Request: redundantNilInit should preserve nil initialization for struct properties"
Swift 5.1 added [synthesizing default values for the memberwise initializer](https://github.com/apple/swift-evolution/blob/master/proposals/0242-default-values-memberwise.md) so that the initial values of a struct's mutable properties are used as default parameter values for the generated initializer. E.g:
[code]

In this situation, `nil` initializers are not redundant as the presence (or lack the

[2020-05-05 07:00] PompeiaPaetenari commented on #594
Yeah, I am not sure on where the ranges thing comes from either.  Maybe just another random bug somewhere?

As to the `[A-Z]*` thing, that is a bash wildcard.  You can see what it does with `ls [a-Z]*`; basically, it helps when our Swift source code is all in folders starting with uppercase and other modules/Python scripts are with lowercase folders.  So, even if SwiftFormat does not accept it, ba

[2020-05-05 07:05] nicklockwood commented on #594
@PompeiaPaetenari is it possible you have a hidden .swiftformat file somewhere in your folder hierarchy? It seems unlikely that the `--ranges` warning would be produced spontaneously by a bug.

[2020-05-05 14:11] PompeiaPaetenari commented on #594
I have one in a parallel folder, but the parent folder, which is my `Swift/` directory, only has `swift_format.cfg`, which also does not have ranges.  Nor is there anything in the folders above that.

My only guess is that the Xcode extension I have, which is supposed to be using aforementioned `cfg` file, is using it somewhere... but that one is 0.44.5.  Brew installs the latest, so the CLI one i

[2020-05-05 21:36] nicklockwood commented on #620
@1oo7 I've added a `--nowrapoperators` argument in 0.44.9 that will let you opt out of wrapping at . operators, e.g.

[code]

To get the result you want for the example you've given you'll probably need to use:

[code]

I'll try to improve the default heuristics further in future.

[2020-05-05 21:40] #620 closed

[2020-05-05 21:41] nicklockwood commented on #621
@nicholaslythall fixed in 0.44.9

[2020-05-05 21:41] #621 closed

[2020-05-05 21:42] nicklockwood commented on #619
@MaxDesiatov fixed in 0.44.9

[2020-05-05 21:42] #619 closed

[2020-05-05 21:42] MaxDesiatov commented on #619
Splendid, thanks!

[2020-05-05 21:42] nicklockwood commented on #618
@jshier I've added a `--specifierorder` argument in 0.44.9

[2020-05-05 21:43] jshier commented on #618
Thanks!

[2020-05-06 01:02] thomasMinshull opened #622 "Indent code in trailing closure"
I don't seem to be able to find away to get the desired indentation in a trailing closure.

I have
[code]

It would be preferable if the switch statement was indented, so the code in the trailing closure is not inline with the list of arguments.
[code]

[2020-05-06 01:03] thomasMinshull commented on #622
my current swift format file is as follows

# file options
--exclude Pods,**/GeneratedMocks.swift,**/Constants/Strings.swift,**/Constants/Images.swift,**/Constants/Storyboards.swift,**/Constants/Fonts.swift,**/Constants/Colors.swift

# rules
--binarygrouping none
--closingparen same-line
--commas inline
--decimalgrouping none
--hexgrouping none
--hexliteralcase lowercase
--ifdef no-indent
--octalg

[2020-05-06 07:21] fabianbraach commented on #618
What am I doing wrong? I added

`--specifierorder public,override`

to my `.swiftlint` file. But it still changes my methods to `override public func..`

[2020-05-06 08:13] nicklockwood commented on #618
@fabianbraach it seems that I'm sorting the arguments alphabetically, which didn't show up in the tests. 🤦‍♂️

You can fix it by using:

[code]

Or, to get the pre-0.44.8 behavior, use:

[code]

[2020-05-06 08:20] fabianbraach commented on #618
@nicklockwood Thanks, this works for now 🙂

[2020-05-06 08:54] nicklockwood commented on #622
@thomasMinshull this isn't currently supported. Using `--closingparen balanced` solves the indenting mismatch, but I guess that's not your preference.

[code]

[2020-05-07 20:07] schjonhaug opened #623 "Sorting enum values alphabetically"
It would be neat if SwiftFormat could sort enum values alphabetically, so that

[code]

would become

[code]

[2020-05-08 07:45] nicklockwood commented on #623
This is doable, but it would have to be disable by default. I think it's safe in the simple case but for enums with `Int` type or that conformed to `CaseIterable` it would potentially change program behavior.

[2020-05-08 08:26] schjonhaug commented on #623
Could it safely be enabled by default for simple cases?

[2020-05-08 10:16] nicklockwood commented on #623
@schjonhaug it could, but I don't know if most users would necessarily want it.

[2020-05-08 10:41] schjonhaug commented on #623
For small enums like in my example, probably not. But for larger ones, it's hard to scan the list when it's not sorted.

[2020-05-08 11:56] VinceBurn commented on #623
This is not a feature that I would like to be on by default, since it has the potential to break code like @nicklockwood mention.

My personal feeling is that I'm not sure this should be in a code formatter, since it looks to me more like an adhoc thing that you may want on some case, but not on other.
It feel that this is something that should be left at developer judgment,
unless the solution is

[2020-05-08 20:15] keith opened #624 "`if case` broken code"
swiftformat applied this change:

[code]

which doesn't compile

[2020-05-08 20:19] keith opened #625 "Named enum case `let` issue"
SwiftFormat applied this diff:

[code]

To an enum with this case:

[code]

which caused the build to fail.

This also happened with a case with more arguments:

[code]

with this case:

[code]

[2020-05-11 12:23] PompeiaPaetenari commented on #623
If this were going through, it needs to also apply to the switch statements over said enum, or similar.

Also, I think it needs to be configurable.  Perhaps as simple as a comment in the code or something to not do certain enums, but do all the rest of them.  In our code, for example, we sort all enums alphabetically except for the `CaseIterable`, as per Nick, and ones that are
[code]
 where we wa

[2020-05-11 13:24] daniel-mohemian commented on #542
@nicklockwood I like @gregcotten's suggestion. I can't promise anything but maybe I can find some time to add a rule for this - if it is something you would find useful as well. Let us know what you think!

[2020-05-11 17:45] nicklockwood commented on #623
So maybe it would make sense to apply it only to enums above a certain number of items?

[2020-05-11 17:52] nicklockwood commented on #542
@daniel-mohemian I'd be happy to add this. Needs some discussion around the best way to configure it though.

There's already the (slightly confusingly-names) `elseOnSameLine` rule which moves `else`, `catch` or `while` statements to the same line as the previous closing `}`, so I'm wondering if this should be an extension of that rule, or a new one, etc.

[2020-05-12 09:47] PompeiaPaetenari commented on #623
I agree to this with a caveat:  `--enumsortmin 5` or similar config options.  I think picking an arbitrary number is not going to be perfect for everyone.

[2020-05-12 16:15] turtlemaster19 commented on #594
I attempted to update SwiftFormat from 0.44.0 to 0.44.9 and experienced this error.

[2020-05-13 07:07] mkoorn commented on #608
I had the same issue. swiftformat had been working as expected for some time.
After installing using brew (deleted the previous version) the shortcut stopped working.

Only after complete uninstall using clean my mac and downloading the latest version via releases, did the shortcut work again.

[2020-05-13 15:24] itaiferber commented on #618
@nicklockwood I just hit that sorting when specifying a long `--specifierorder` myself; thought I'd been going crazy! Uniquing with a `Set` should be fine but the original order should be preserved. I'm assuming you're using this issue to track that?

(For now we'll stick to `0.44.7`)

[2020-05-13 15:53] nicklockwood commented on #618
@itaiferber it's already fixed on develop - fix will be included in the next release.

[2020-05-13 16:09] itaiferber commented on #618
@nicklockwood Ah, excellent; thanks for the quick response!

[2020-05-13 21:26] tachoknight commented on #608
So, I "fixed it", I removed the brew versions, I tried using the release builds, I even tried rebuilding it myself, all to no avail. What I noticed was that at some point additional choices was added, there is "Format File" and "Format Entire File", as well as "Format Selection" and "Format Selected Source".

I tested just on the file option, so I tried "Format Entire File", but no luck. I switche

[2020-05-14 08:40] nicklockwood commented on #624
@keith Fixed in 0.44.10. Thanks for reporting!

[2020-05-14 08:40] #624 closed

[2020-05-14 08:41] nicklockwood commented on #625
@keith Fixed in 0.44.10. Thanks for reporting!

[2020-05-14 08:41] #625 closed

[2020-05-14 08:42] nicklockwood commented on #618
Fixed in 0.44.10.

[2020-05-14 08:42] #618 closed

[2020-05-14 13:54] itaiferber commented on #618
@nicklockwood Confirmed that this resolves the issue for us. Thanks!

[2020-05-14 13:54] turtlemaster19 commented on #594
Just in case, here is the output with the verbose flag set, changing the last command to `swift run -v -c release swiftformat "$SRCROOT"`

<details>
<summary>Verbose Output</summary>

[code]

</details>

[2020-05-14 21:06] keith opened #626 "Blank lines and compiler conditionals"
Current SwiftFormat changes:

[code]

To:

[code]

In this case maybe this should not happen when the line after the `}` is a compiler conditional?

[2020-05-14 22:58] nicklockwood commented on #594
@turtlemaster19 what would be really helpful is a sample project that I can use to replicate the issue. It looks like your project is using an open source license, so perhaps you can share it?

[2020-05-14 23:06] nicklockwood commented on #594
Incidentally, "Failed to format any files." is a generic error and based on the logs, I have a strong suspicion that @brunofgs, @PompeiaPaetenari and @turtlemaster19 are all experiencing a different bug, so if you could each share your projects then that will increase the chance I can find a solution.

(It's likely that the root cause requires only a few lines within a single file to replicate, if

[2020-05-14 23:48] turtlemaster19 commented on #594
@nicklockwood Of course. It will probably bug you about a `data.bin`, but you should be fine just creating a zero byte file with that name, unless you actually need to run the app (unlikely since this is at build time)

https://github.com/turtlemaster19/tsurukame/releases/tag/1.21.701-alpha

[2020-05-15 12:31] schjonhaug opened #627 "Formatting breaks code"
Formatting

[code]

with standard rules gives

[code]

which does not compile.

[2020-05-15 13:08] PompeiaPaetenari commented on #594
As our codebase is likely nearly a quarter of a million lines of code, and is proprietary, I cannot provide it nor would I know how to narrow down which file, and lines within it, produce the error.  If there is some way to narrow it down, I could "scrub" the code as I have in the past and provide it for assistance.

Also, as our build phases includes a call to SwiftFormat and checks the return be

[2020-05-15 13:37] turtlemaster19 commented on #594
@PompeiaPaetenari Could you try removing all the code, leaving only a skeleton of the files behind, in such a way that the error still occurs?

It's probably not to do with the code itself but with some hidden file or something in the project file.

[2020-05-15 13:38] nicklockwood commented on #627
@schjonhaug thanks for reporting, I'll try to fix this. In the meantime you can work around it either by adding

[code]

To your SwiftFormat CLI arguments, or by adding the following comment above that line in your code:

[code]

[2020-05-15 15:11] tobihagemann commented on #583
I don't think it's picky at all, I was stumbling upon this as well. 😄

[2020-05-18 13:43] weissi opened #628 "CommandLine.swift:744:17: warning: 'init(contentsOf:)' is deprecated"
When running on `master` (6d651123c8eb72f530c088e2287b5ed9193d727e) with Swift 5.3

[code]

you'll get warnings:

[code]

[2020-05-18 19:57] keith opened #629 "Unexpected format with `wrapArguments`"
When you have this content:

[code]

And run `swiftformat foo.swift --swiftversion 5.2 --rules wrapArguments`, you get:

[code]

0.44.8

[2020-05-19 15:47] dalemyers opened #630 "Feature Request: Accept a wider range of "TODO"/"FIXME" tokens"
Currently the `todos` rule matches on some keywords in comments to verify formatting. However, a common standard in larger codebases is something like:

[code]
or
[code]

Since these don't tokenize to "TODO", the rule doesn't pick them up, letting them slip through. I can't think of any case where `// TODO: [steve] Do the thing` wouldn't be acceptable, so my suggestion would be to expand the token

[2020-05-19 19:24] c0diq commented on #470
We have the same issue and the workaround is not enough for us. We are using swiftformat as part of our xcode build phase and this failure causes Xcode to stop building - when only assets have changed which causes a rebuild of R.swift.generated only (which is excluded similarly).

[2020-05-19 21:02] nicklockwood commented on #630
Good idea 👍

[2020-05-20 00:38] namolnad opened #631 "[Feature Request] Ability to preserve just generic arguments"
For my company's codebase we'd like to be able to wrap before-first for all arguments, with the exception of generic arguments, which we'd like to preserve. I've played with some of the config options, but don't seem to be able to get this behavior. Perhaps there could be an enhancement to create a rule like: `--wrap-generics preserve`?

[2020-05-20 01:10] nicklockwood commented on #631
Yeah, there isn't a separate option for this yet, but it makes sense to add one.

[2020-05-21 00:50] tony3298 opened #632 "Max width produces a failure when trying to wrap specific lines that have long text"
The following code is causing the invocation of `swiftformat` to produce the output below:
[code]
[code]
Here is the config file I am using:
[code]

I think I've narrowed down the issue and it has to do with wrapping and the `maxwidth` rule. If I up the `maxwidth` to 110, `swiftformat` succeeds with no issue. It seems like there might not be any leniency when `swiftformat` is unable to wrap a line

[2020-05-21 00:57] tony3298 commented on #594
@PompeiaPaetenari @turtlemaster19 @brunofgs If you guys run `swiftformat` with the `--verbose` flag (i.e. `swiftformat --config <CONFIG_FILE_PATH> --verbose .` in your root project directory) you can see which, if any, individual file is failing. From there, you can pinpoint exactly which line(s) are causing the issue by commenting sections of scoped code bit by bit and executing `swiftformat` on

[2020-05-21 00:58] turtlemaster19 commented on #594
@tony3298 I already did and shared the output. It's kind of long. 🤪

[2020-05-21 01:00] tony3298 commented on #594
@turtlemaster19 What you posted was the verbose log of the `swift run` command, not the `swiftformat` command. I assume if you add `--verbose` in your build script you should see that output as well, but I was just doing it in terminal.

[2020-05-21 07:46] nicklockwood commented on #632
@tony3298 thanks for reporting this. SwiftFormat isn't designed to fail if it can't wrap a line, but from the "Failed to terminate" part of the error, it looks like it's got into an infinite loop. I'll try to fix asap.

[2020-05-21 13:50] tony3298 commented on #632
Awesome, happy to help. Thanks @nicklockwood !

[2020-05-22 09:29] nicklockwood commented on #594
@turtlemaster19 the issue with your project is fixed on the [develop](https://github.com/nicklockwood/SwiftFormat/branches) branch.

@brunofgs and @PompeiaPaetenari your issues are unrelated and I still don't have a way to reproduce them, but you can try the develop branch and see if it solves them.

[2020-05-22 09:44] nicklockwood commented on #594
@PompeiaPaetenari I cannot find any explanation for the `--ranges` warning other than that you have an additional config file, or perhaps a hard-coded command-line option in the script that runs SwiftFormat.

In term of narrowing down the problem, just try deleting files until the warning goes away. The project does not need to compile for SwiftFormat to work as it looks at each source file separa

[2020-05-23 00:41] nicklockwood commented on #632
Fixed in 0.44.11

[2020-05-23 00:41] #632 closed

[2020-05-23 00:41] nicklockwood commented on #629
Fixed in 0.44.11

[2020-05-23 00:41] #629 closed

[2020-05-23 00:42] nicklockwood commented on #628
Fixed in 0.44.11

[2020-05-23 00:42] #628 closed

[2020-05-23 00:42] nicklockwood commented on #627
Fixed in 0.44.11

[2020-05-23 00:42] #627 closed

[2020-05-23 00:42] nicklockwood commented on #626
Fixed in 0.44.11

[2020-05-23 00:42] #626 closed

[2020-05-23 00:44] nicklockwood commented on #594
I've taken steps to solve these issues in 0.44.11, in particular by removing the "Failed to format any files" error and only failing for more specific error cases. Let me know if this doesn't solve the issue(s).

[2020-05-23 00:44] #594 closed

[2020-05-23 00:45] nicklockwood commented on #470
This should be fixed in 0.44.11. The "No eligible files found" error has been downgraded to a warning.

[2020-05-23 00:45] #470 closed

[2020-05-24 08:09] weissi commented on #628
thank you so much!

[2020-05-26 09:22] PompeiaPaetenari commented on #584
Just a note that our team is "excitedly" waiting for this after I pointed this out to them :D.

[2020-05-26 09:47] PompeiaPaetenari commented on #594
Still getting this one, but the "Failed to format any files" error is gone so that works out.

I am taking a wild guess that the ranges issue comes from having the SwiftFormat Xcode Extension as well, and it saving a config file somewhere (even though I am running from command line, outside of our build).  I have no idea where it saves the file it generates to check on that, however.  Unless an up

[2020-05-27 22:59] #223 closed

[2020-05-27 23:01] nicklockwood commented on #155
@timothy-volvo This should be fixed by https://github.com/nicklockwood/SwiftFormat/pull/617, feel free to reopen if not.

@Johennes --dry and --lint modes have been added since your comment.

[2020-05-27 23:01] #155 closed

[2020-05-28 01:47] nicklockwood commented on #594
@PompeiaPaetenari the latest release (0.44.12) now logs the file path of any .swiftformat files it encounters while formatting. That should help you track down the rogue config file.

[2020-05-28 10:56] PompeiaPaetenari commented on #594
Perfect, I will give this a try.

[2020-05-29 16:30] PompeiaPaetenari opened #635 "SwiftFormat Adding Extra Indentation to Empty Array"
Just updated our SwiftFormat version from 0.44.5 to 0.44.12 and we encountered the following error:

Before:
[code]
After:
[code]

The only change to the config was to add: `--specifierorder convenience,override`.

As far as I can tell (as the real version of this code is much larger) is that is only happens with these empty arrays.

[2020-05-29 16:47] nicklockwood commented on #635
@PompeiaPaetenari can you check if it also happens with 0.44.11?

[2020-05-29 17:24] PompeiaPaetenari commented on #635
Yes, it does it there, too.

[2020-05-29 17:36] weissi opened #636 "SwiftFormat does semantically not equal translations"
SwiftFormat suggests this change

[code]

which is not semantically equivalent. In fact, the suggested version is worse.

See [this comment](https://github.com/swift-server/async-http-client/pull/227#discussion_r432634892) and [that bug](https://bugs.swift.org/browse/SR-11777) on how `Optional<Thing>` and `Thing?` are _not_ the same when they're properties in classes/structs.

Is there a way for m

[2020-05-29 17:38] weissi commented on #636
See here for a proof:

[code]

[2020-05-29 17:39] nicklockwood commented on #635
@PompeiaPaetenari thanks for checking. I'll get this fixed asap.

[2020-05-29 17:42] nicklockwood commented on #636
@weissi yes, you can disable this by adding the following comment immediately before that line:

[code]

Alternatively you can disable it globally by adding `--disable typeSugar` to your swiftformat command-line arguments or configuration file.

[2020-05-29 17:44] weissi commented on #636
Thanks so much @nicklockwood ! I'll add that. For the future it may be worth adding an option that does the opposite because `Optional<T>` has clear advantages over `T?`. We did it manually in [SwiftNIO](https://github.com/apple/swift-nio/pull/1252).

[2020-05-29 17:46] nicklockwood commented on #636
I'll consider adding an option to disable the rule for just this case. It might also make sense just to try to detect this particular case and not apply the transform, since the aim is not to make semantically non-equivalent changes if possible.

[2020-05-29 19:08] jandamm commented on #592
Yes, Swiftlint was the reason I noticed it in the first place.
Because SwiftFormat fixes malformatted braces of function definitions I've turned the Swiftlint rule for this.

[2020-05-29 19:28] nicklockwood commented on #592
This seems like a bug in SwiftLint rather than a problem with SwiftFormat, however I'm happy to add an option to remove return only for closures.

[2020-05-31 14:14] nicklockwood commented on #636
@weissi I've added an option for this to version 0.44.13. If you put the following in your .swiftformat file:

[code]

then you can remove

[code]

[2020-05-31 14:14] #636 closed

[2020-05-31 14:15] nicklockwood commented on #636
@weissi Note: I don't currently replace `T?` with `Optional<T>` when that option is set, because that would be a breaking change in some cases. It *should* be possible to detect those cases, but that's a significantly more complex feature to implement. Feel free to open a feature request if that's something you'd find useful.

[2020-05-31 14:16] nicklockwood commented on #635
@PompeiaPaetenari fixed in 0.44.13.

[2020-05-31 14:16] #635 closed

[2020-05-31 19:52] weissi commented on #636
Amazing! Thanks so much for the super quick turnaround

[2020-06-03 18:42] meherkasam opened #637 "Exception for braces on same line"
Google's style guide states an exception for the K&R-style braces when the opening brace follows a line-wrapped expression. Here's the recommendation:

[code]

![image](https://user-images.githubusercontent.com/450030/83676081-f86c2f00-a58e-11ea-9039-5da973d4df0a.png)

In the following code sample, I'd hope that running the braces rule wouldn't move the opening brace of the `init` method:

[code]

[2020-06-03 18:42] meherkasam commented on #637
Link to the Google style guide: https://google.github.io/swift/#line-wrapping

[2020-06-04 19:43] weissi opened #638 "SwiftFormat does semantically not equivalent rewrite from `(#file)` to `#file`"
In Swift 5.3, `(#file)` can be used to silence a warning if you're passing `#file` to an argument that's defaulted to `#filePath`. `#filePath` however is Swift 5.3+ only so you can't easily use it and the shimming hacks [don't work](https://bugs.swift.org/browse/SR-12934).

Therefore, doing this

[code]

will in Swift 5.3 get you a warning. To silence it (because in Swift 5.3 `#file` == `#filePath

[2020-06-04 19:51] nicklockwood commented on #638
Thanks for reporting. I'll add a special case for this. In the meantime, adding this to the line above should fix it:

[code]

[2020-06-04 19:55] weissi commented on #638
https://github.com/apple/swift-log/pull/133

[2020-06-05 21:45] MaxDesiatov opened #639 "Avoid raising "Malformed .swift-version file" error"
I've got a somewhat peculiar request, but please bear with me.

Versions stored in the `.swift-version` file don't always match semantic versions. As [`swiftenv`](https://github.com/kylef/swiftenv) also relies on encoding versions in the file, it allows installing nightly snapshots with the `swiftenv install` command. For example, [SwiftWasm](https://swiftwasm.org/) relies on that as it is current

[2020-06-08 08:49] trispo opened #640 "Header template var "created" not correctly replaced when using pre-commit hook"
Hi,

I just found an issue when using swiftformat with the pre-commit hook from the Readme.

My `.swiftformat` file contains the following:

[code]
When running `swiftformat` from the command line, the `created` and `year` templates are replaced correctly. But when using your provided pre-commit hook, the `created` template is not replaced whereas the `year` gets replaced correctly.

The result:
[

[2020-06-09 20:06] gbrandt opened #641 "SpaceInsideParens"
Is it possible to have space added to parans unless its beside another paren?

ie

   (func(a))

becomes

   ( func( a ))

[2020-06-09 20:33] gbrandt opened #642 "--allman true does not move brace"
A file such as

    HStack {
       Text( "test" )
    }

does not become

    HStack
    {
       Text( "test" )
    }

as expected, the opening brace stays behind `HStack`

[2020-06-09 20:38] nicklockwood commented on #642
@gbrandt there's currently an exception in the allman rule for closures, but this probably doesn't make sense, especially for cases like this. I'll revisit the logic.

[2020-06-09 20:40] nicklockwood commented on #641
@gbrandt it's definitely possible, the main problem is coming up with a good scheme for fine-grained spacing configuration such as this. Suggestions welcome!

[2020-06-09 20:41] nicklockwood commented on #640
Thanks for reporting, I'll investigate.

[2020-06-09 20:47] gbrandt commented on #641
I'll poke around the code and see whats up.  Could the logic for spaceInsideBraces be adapted? No promises, I'm a seasoned developer but just starting in Swift (coming from C++)

[2020-06-09 20:59] nicklockwood commented on #641
The issue is not implementing the rule, but how to configure it. Adding a new option like `--space-inside-parens true` isn't very scalable because then people would want similar options for dozens of other cases. I'd rather have a single option like `--spaceinside (,{` but it needs more thought.

[2020-06-10 07:19] shawnkoh opened #643 "SwiftLint's number_separator rule conflict"
Hello,

I'm unsure if this is a bug, but I can't seem to get swift format to adhere to SwiftLint's number_seperator rule.

SwiftFormat constantly removes the underscore e.g. 1_234 --> 1234

I'm on version 0.44.13

I tried configuring the numberFormatting settings to no avail.

These are my SwiftFormat settings
[code]

[2020-06-10 07:42] nicklockwood commented on #643
@shawnkoh the decimal grouping values are the grouping size (3) and the minimum length a number needs to be before adding grouping (6), so if you want it to apply to a number with only 4 digits you'll need to change it to

[code]

[2020-06-10 07:45] shawnkoh commented on #643
THANK YOU! This was driving us insane! It would be awesome if Rules.md mentioned what the parameters represented

[2020-06-10 12:41] nicklockwood opened #644 "Ignore .swiftformat files above file when using explicit --config"
When using an explicit --config file and targeting a specific swift file, the user probably isn't expecting their explicit config to be overridden by .swiftformat files at a higher directory level than the specified file.

[2020-06-10 15:49] PompeiaPaetenari opened #645 "WrapArguments/Parameters before-first -> after-first -> before-first Causing Unexpected Changes"
I noticed a lot of our code is inconsistently formatted in regards to the arguments and the commonality I see is they all have a function call or closure as a parameter, much like the simplified tests below.  When I ran SwiftFormat with the config file given, nothing changed.  I wanted to see why `wraparguments` might not be working, so I ran the opposite `after-first` and then re-ran with `before

[2020-06-10 20:21] keith opened #646 "Unexpected reformatting with `wrap`"
With this code:

[code]

If you format it with `swiftformat --rules wrap --maxwidth 110 foo.swift --swiftversion 5.2`

It ends up unnecessarily reformatting `pair` to:

[code]

If I remove some of code in the `baz` function it sometimes ends up not reformatting it, so it seems like something there is causing an unexpected cascade of reformatting.

0.44.13

[2020-06-10 20:29] keith opened #647 "Unexpected generic wrapping with `wrap`"
With this code:

[code]

If you format it with `swiftformat --rules wrap --maxwidth 110 foo.swift --swiftversion 5.2 --cache clear` you end up with:

[code]

Where the first line now exceeds the 110 width. If I remove the `syncUI` function I end up with more what I would expect:

[code]

0.44.13

[2020-06-10 20:35] keith opened #648 "Unexpected multiline string format with `wrap`"
With this code:

[code]

If you format with: `swiftformat --rules wrap --maxwidth 110 foo.swift --swiftversion 5.2 --cache clear`

You get:

[code]

Where the string has now changed.

0.44.13

[2020-06-10 20:37] keith opened #649 "Unexpected indent with comment and `wrap`"
With this code:

[code]

If you format with `swiftformat --rules wrap --maxwidth 110 foo.swift --swiftversion 5.2 --cache clear` you end up with:

[code]

Where `bar` is not de-dented.

0.44.13

[2020-06-10 20:44] keith opened #650 "Unexpected `wrap` with long string initializer"
With this code:

[code]

If you format with `swiftformat --rules wrap --maxwidth 110 foo.swift --swiftversion 5.2 --cache clear` you end up with:

[code]

which now exceeds 110. Also this doesn't happen if you delete anything inside the extension above.

0.44.13

[2020-06-10 21:29] keith opened #651 "Unexpected `wrap` with long string"
With this code:

[code]

If you format with `swiftformat --rules wrap --maxwidth 110 foo.swift --swiftversion 5.2 --cache clear` you get:

[code]

Which no longer wraps at 110.

If you remove the assignment below the call to `baz` it does not reformat.

0.44.13

[2020-06-10 21:43] keith opened #652 "Unexpected `spaceInsideBraces` spacing instead of newline"
With this code:

[code]

If you format with `swiftformat --rules spaceInsideBraces foo.swift --swiftversion 5.2 --cache clear`

You get:

[code]

But maybe this should be used alongside another rule to give you something more like:

[code]

0.44.13

[2020-06-12 09:10] meyermarcel opened #653 "Old SwiftFormat for Xcode.app version 0.44.10 in newer zip archives"
Zip archives `0.44.11`, `0.44.12` and `0.44.13` have `0.44.10` version for `SwiftFormat for Xcode.app` inside.

To reproduce the error execute the following commands with different versions:

[code]

Zip archives `0.44.9` has correct `0.44.9` version for `SwiftFormat for Xcode.app` inside.

Is this wanted because nothing changed for the `SwiftFormat for Xcode.app`?

[2020-06-12 12:39] nicklockwood commented on #653
That definitely shouldn't be the case. Thanks for raising it.

[2020-06-12 12:41] meyermarcel commented on #653
@nicklockwood thank you for this great project! 🙏

[2020-06-12 19:12] nicklockwood commented on #648
@keith I can see why this would be slightly surprising, but are you sure the value of these strings has actually changed?

[2020-06-12 19:14] keith commented on #648
ah I think you're right that they haven't, I'm too used to python's semantics here, sorry about the alarmism

[2020-06-12 19:17] nicklockwood commented on #648
n/p thanks for all the detailed reports - I'll get those fixed asap.

[2020-06-18 23:43] jshier opened #655 "redundantBackticks breaks `get` inside subscript"
I created a `subscript` extension for the Vapor `Parameters` type to give myself a slightly more ergonomic way of extracting typed values from `Parameters`.

[code]

However, SwiftFormat strips the tick marks around "get", breaking the code.

[code]

Disabling `redundantBackticks` for that line fixes the problem.

[2020-06-18 23:45] dcramps opened #656 "isStartOfClosure incorrectly treats some functions as closures"
I'm working on a new rule and have come across an issue with `Formatter`'s `isStartOfClosure` function.

A simple test case:

[code]

It seems to be falling into the `default` case here: https://github.com/nicklockwood/SwiftFormat/blob/master/Sources/ParsingHelpers.swift#L305-L326

I'm not sure if this is the only case where a function would trigger this bug, but it's the only one I've come across

[2020-06-18 23:52] dcramps commented on #656
Actually I think this is a pretty simple fix after checking a bit more. The switch is on `tokens[prev]`, which is the end of the generic scope, `>`. Adding a `case .endOfScope(">"): return false` has my test passing now and no regressions in the `ParsingHelpersTests`

[2020-06-21 00:28] DanielEdrisian opened #657 "How to fix block parameter indentation?"
Hello,

So I see that SwiftFormat is automatically indenting each parameter and closing bracket, so it's kinda skewed forward:

<img width="424" alt="Screen Shot 2020-06-20 at 5 26 32 PM" src="https://user-images.githubusercontent.com/11810973/85214077-651b5380-b31b-11ea-960a-791ffbbca3a6.png">

Where I would rather have something like:

<img width="424" alt="Screen Shot 2020-06-20 at 5 26 24 PM"

[2020-06-22 09:22] MaxDesiatov commented on #639
Hi @nicklockwood, would you mind tagging a new release to include the fix for this? I'm using `swiftformat` as a pre-commit hook in almost all of my projects, and this error requires forcing all the hooks for every commit where a certain Swift snapshot is used. Using `swiftformat` with the fix would save some time there 🙂

Thanks!

[2020-06-23 00:00] nicklockwood commented on #655
@jshier fixed in 0.44.14.

[2020-06-23 00:00] #655 closed

[2020-06-23 00:01] nicklockwood commented on #653
@meyermarcel fixed in 0.44.14. As it turns out, it was just the version number that hadn't been updated - the actual binary was correct.

[2020-06-23 00:01] #653 closed

[2020-06-23 00:01] nicklockwood commented on #639
@MaxDesiatov fixed in 0.44.14.

[2020-06-23 00:02] nicklockwood commented on #638
@weissi fixed in 0.44.14.

[2020-06-23 00:02] #638 closed

[2020-06-23 07:03] MaxDesiatov commented on #639
Amazing, thank you!

[2020-06-25 23:50] haikusw opened #659 "enhancement: option to not change indentation of line with only a comment"
Small enhancement desired:

For code like this:

[code]

[code]

swiftformat --lint says:

but of course we want indent turned on for _code_, just not for comments on a line by themselves when they are aligned with a comment on the preceding line (this sounds potentially difficult, so maybe just leaving lines with only comments alone would be sufficient?).

[2020-06-25 23:52] haikusw commented on #659
Our format file contains only this:

[2020-06-25 23:53] haikusw commented on #659
If there's a setting I'm missing, that'd be sweet to know about :) TIA!

[2020-06-26 00:03] haikusw commented on #659
Also tried adding "disable spaceAroundComments":

same result.

[2020-06-26 00:16] haikusw opened #660 "swiftformat --rules gives a list that doesn't match what SwiftFormat app puts into a config file; confusing."
I find it somewhat confusing that `swiftformat --rules` generates a list that doesn't match what the SwiftFormat for Xcode application puts into a format file when you setup settings and save them.

Lots of examples, but `trimwhitespace` is the one I ran into that motivated me to write this.  Here's a view of a sample swiftformat file generated by SwiftFormat for Xcode (Version 0.44.14 (1)) and th

[2020-06-26 07:32] nicklockwood commented on #660
Sorry for the confusion. SwiftFormat has a number of _rules_ which can be configured by _options_. These are represented by separate tabs in SwiftFormat for Xcode.

When you call

[code]

its prints the list of _rules_, and when you using `--ruleinfo` you must pass one of those rules, which will tell you what it does and which options it can be configured with.

When you export config from SwiftFo

[2020-06-26 07:46] haikusw commented on #660
Ah ha!  Probably I just didn't read the documentation closely enough.
I'll try to re-read the documentation and maybe suggest clarifications if it still doesn't seem clear.

Thanks for clearing up my confusion.

[2020-06-26 07:46] #660 closed

[2020-06-26 08:52] oonoo commented on #454
I have the same issue and it seems the same solution to turn off concurrency by using --verbose solves it for me. I use version 0.44.10.

[2020-06-26 09:01] nicklockwood commented on #659
I don't think there's currently a solution for this, other than disabling the indent rule altogether. I'll see if there's a way to make this possible.

[2020-06-26 09:07] nicklockwood commented on #660
@haikusw I've identified a few things that could be clarified based on your feedback, so I'll try to improve those, but any suggestions are welcome (and thanks for the donation!)

[2020-06-26 15:50] haikusw commented on #659
Thanks for taking a look and considering possibilities.  Much appreciated.

[2020-06-26 15:55] haikusw commented on #660
You are welcome. I thought about it and realized that I use SwiftFormat many many times every day while I'm writing code in Xcode.  SwiftFormat is especially helpful when doing large refactors where you're moving large pieces of code around and the indentation gets all weird as a result.  Sure, I could use Xcode's provided formatter, but since we have standardized on SwiftFormat with a set of form

[2020-06-27 11:37] nicklockwood commented on #640
@trispo the issue is that the `git-format-staged` command is using stdin as the input, so it has no access to the actual file. I don't know if there's a simple way to rewrite this command to use the file path instead, but that's probably the way to solve it.

[2020-06-27 18:36] drewolbrich commented on #494
Thank you for posting this.

[2020-06-27 21:40] nicklockwood commented on #640
@trispo I have a fix for this - I'll include it in the next release.

[2020-06-27 21:52] trispo commented on #640
Sounds great. Thanks

[2020-06-27 21:58] nicklockwood commented on #657
@DanielEdrisian there's something I'm not understanding from your code example: Why are there two closing ) ) at the end? I see one opening ( after register, but the code is cut off so I can't see exactly what's going on. Can you paste the full code in?

[2020-06-28 21:27] nicklockwood commented on #656
@dcramps your suggested fix seems to work - thanks!

[2020-06-28 21:33] nicklockwood commented on #652
With the default settings, the `emptyBraces` rule means this gets formatted as

[code]

which seems pretty reasonable.

[2020-06-29 04:17] DanielEdrisian commented on #657
Sure thing! It's a block.
<img width="898" alt="Screen Shot 2020-06-28 at 9 17 30 PM" src="https://user-images.githubusercontent.com/11810973/85972407-c7f89480-b984-11ea-9b82-381b95bcd303.png">

[2020-07-01 05:29] DanielEdrisian commented on #657
awesome, thanks for doing this.

[2020-07-01 23:18] nicklockwood commented on #657
@DanielEdrisian fixed in 0.44.15. Thanks for reporting!

[2020-07-01 23:18] #657 closed

[2020-07-01 23:18] nicklockwood commented on #656
@dcramps fixed in 0.44.15. Thanks again!

[2020-07-01 23:18] #656 closed

[2020-07-01 23:18] nicklockwood commented on #652
@keith fixed in 0.44.15. Thanks for reporting!

[2020-07-01 23:18] #652 closed

[2020-07-01 23:18] nicklockwood commented on #651
@keith fixed in 0.44.15. Thanks for reporting!

[2020-07-01 23:18] #651 closed

[2020-07-01 23:19] nicklockwood commented on #650
@keith fixed in 0.44.15. Thanks for reporting!

[2020-07-01 23:19] #650 closed

[2020-07-01 23:19] nicklockwood commented on #647
@keith fixed in 0.44.15. Thanks for reporting!

[2020-07-01 23:19] #647 closed

[2020-07-01 23:19] nicklockwood commented on #646
@keith fixed in 0.44.15. Thanks for reporting!

[2020-07-01 23:19] #646 closed

[2020-07-01 23:20] nicklockwood commented on #640
@trispo fixed in 0.44.15. Check README.md for updated pre-commit hook instructions.

[2020-07-01 23:22] nicklockwood commented on #551
@mike011 I've updated the pre-commit hook instructions, and I think it should now work correctly with spaces - can you verify?

[2020-07-01 23:28] nicklockwood commented on #538
@ChristopherRogers this is slightly improved in 0.44.15. Result now looks like:

[code]

[2020-07-01 23:31] keith commented on #647
Thanks for fixing all these!!

[2020-07-02 07:44] trispo commented on #640
@nicklockwood I tried the new version with the updated hook but unfortunately this doesn't work for me. A commit results in a committed version of my file where every line is deleted and a new (unstaged) file name stdout which contains the changes. Am I doing something wrong?

[2020-07-02 07:51] nicklockwood commented on #640
Are you using version 0.44.15 of SwiftFormat? It only works with the latest version.

[2020-07-02 07:54] trispo commented on #640
Yes
<img width="241" alt="image" src="https://user-images.githubusercontent.com/1045441/86331933-0f637700-bc4a-11ea-8fc8-ede3a0d6d651.png">

[2020-07-02 08:53] nicklockwood commented on #640
Sorry about that, there was a bug. Can you try with 0.44.16? (you'll have to download the binary from this repo as homebrew will take a while to update).

[2020-07-02 10:10] nicklockwood commented on #640
OK, it seems that there's a problem with the approach I was trying to take. You can't read from a file and also replace its contents with stdout in the same command - you just get a blank file. I'm not really sure why, but it's not a problem with SwiftFormat itself AFAICT.

I'll have to come up with a different solution. It won't be solved for this release I'm afraid.

[2020-07-02 10:14] trispo commented on #640
OK, thanks for investigating further. You do an amazing work for the community.

[2020-07-02 14:07] b-onc commented on #640
Hello @nicklockwood ,
Addition to the issue described in this ticket, is there a way to use `{file}` in header template while using `stdin` (because `git-format-staging`) as input?

[2020-07-02 14:22] nicklockwood commented on #640
@b-onc no, it's not possible currently (for the same reason).

[2020-07-03 11:39] gcox opened #661 "redundantReturn doesn't seem to work in Xcode extension"
I can't get this rule to work in the Xcode extension. I've tried versions 0.44.15 & 0.44.16 in both Xcode 11.5 & Xcode 12 beta 1.
It works as expected from the command line.

I saw this issue: https://github.com/nicklockwood/SwiftFormat/issues/557. I opened the companion app, exported the config, added `--swiftversion 5.2` to it, opened the modified config file with the companion app, restarted Xc

[2020-07-06 13:54] PompeiaPaetenari opened #662 "Indentation of trailing closure not in line with start of closure."
Just updated to latest SwiftFormat (0.44.16) this morning and tried running it to check for any changes to our code and if I can update us but facing an issue with a closure in a `.map` statement.

[code]

Error from SwiftLint:
`Closure End Indentation Violation: Closure end should have the same indentation as the line that started it. Expected 8, got 6.`

Before the change, we have (version 0.44.

[2020-07-06 23:30] pm-dev opened #663 "redundantSelf incorrectly removes self when the property is shadowed"
When --self is set to "remove" (default) or "init-only" it is possible that formatting will change code semantics. This would happen when, in the same scope, you were shadowing an instance variable with a `var`
Example:
Before formatting
[code]
After formatting
[code]

Expected:
Formatting should not remove the `self.` in this case, as it's not redundant. This will require knowing whether the inst

[2020-07-07 16:23] nicklockwood commented on #663
@pm-dev this sounds like a bug, but I wasn't able to reproduce it with just the few lines you provided in the example. Can you supply a short code sample that demonstrates this bug when formatted in isolation?

[2020-07-07 20:59] nicklockwood commented on #661
@gcox I believe the problem is that there's currently no way to specify Swift version in the Xcode extension. I'll fix this - thanks.

[2020-07-08 04:31] pm-dev commented on #663
I just retried on the exact same code I was seeing this yesterday and couldn't repro. No idea what could have changed. I'll re-open the issue if I have a file you can run this on to repro, but until then, let's close this out. Apologies for burning a few of your cycles.

[2020-07-08 04:31] #663 closed

[2020-07-08 09:35] nicklockwood commented on #663
@pm-dev no problem, feel free to reopen the issue if it happens again.

[2020-07-09 21:59] calda opened #664 "Unexpected indentation behavior for wrapArguments rule"
I'm looking into adding the `wrapArguments` rule to the [Airbnb Swift Style Guide](https://github.com/airbnb/swift).

This would allow us to bring back a few former style rules:
  - [Long function invocations should also break on each argument](https://github.com/airbnb/swift/issues/40)
 - [Multi-line arrays should have each bracket on a separate line](https://github.com/airbnb/swift/issues/42)

W

[2020-07-09 22:48] calda opened #665 "Unexpected behavior for indent rule"
I'm looking into adopting the `indent` rule in the [Airbnb Swift Style Guide](https://github.com/airbnb/swift). We have  an indentation rule (e.g. [_"Use 2 spaces to indent lines."_](https://github.com/airbnb/swift#spaces-over-tabs)) that is not currently being enforced with a SwiftFormat rule.

I'm seeing unexpected indentation behavior when I run `swiftformat . --rules indent --indent 2`:

[code

[2020-07-09 23:51] nicklockwood commented on #665
This is deliberate. Indenting is relative to the starting of the expression where the scope begins, not the line where the scope begins.

I agree it looks odd in this example, but I would normally use the following style (which can also be enforced using the wrapArguments rule):

[code]

[2020-07-09 23:56] calda commented on #665
I see -- we'd like to use [`--closingparen same-line`](https://github.com/airbnb/swift/issues/40) for `wrapArguments`, so I'm not sure if that suggestion would work for us.

Do you think it would be reasonable for us to contribute an option for this (like `--closurebody indent`)?

[2020-07-10 00:02] calda commented on #664
Here's another example:

[code]

[2020-07-12 00:26] #664 closed

[2020-07-12 00:37] nicklockwood commented on #665
I think there might be a wider application for such an option, e.g. for conditional statements with wrapped arguments:

[code]

[2020-07-12 01:21] keith commented on #665
Are you saying that would be the correct indent for that example? I would expect:

[code]

[2020-07-12 01:52] nicklockwood commented on #665
@keith I'm saying that if you wanted an option to indent function bodies in this way (which is what @calda was requesting IIUC) then you would probably also want to indent conditional blocks in the same way.

[2020-07-12 02:33] calda commented on #665
This is how I would personally format multi-line `if` statements (and I'm fairly confident this would be our rule in the [Airbnb Swift Style Guide](https://github.com/airbnb/swift)):

[code]

But I think we would prefer double-indenting trailing closure bodies (since this would match the indentation of non-trailing closure bodies):

[code]

I think these two discussions are similar, but would be o

[2020-07-12 08:17] nicklockwood commented on #649
@keith this seems to be fixed in the latest version (I suspect it was a side-effect of another bug fix)

[2020-07-12 08:17] #649 closed

[2020-07-12 11:13] nicklockwood commented on #645
There are a couple of different issues here. The broken multiline string indenting is now fixed in develop. The other issues are by design AFAICT. For example `--wraparguments` only applies to functions with more than one parameter, which is why the `s: b(...)` isn't being wrapped.

[2020-07-12 16:51] #608 closed

[2020-07-12 17:38] nicklockwood commented on #662
@PompeiaPaetenari fixed in 0.44.17

[2020-07-12 17:38] #662 closed

[2020-07-12 17:38] nicklockwood commented on #648
@keith fixed in 0.44.17

[2020-07-12 17:38] #648 closed

[2020-07-12 17:39] nicklockwood commented on #645
@PompeiaPaetenari the multiline string indenting is fixed in 0.44.17. I'll leave this open as a feature request for the other issues.

[2020-07-12 17:40] nicklockwood commented on #640
@trispo @b-onc OK, this should be fixed (for real this time) in 0.44.17

[2020-07-12 17:40] #640 closed

[2020-07-16 09:07] Milos opened #670 "Running pre-commit hook from Xcode"
When trying to commit from Xcode, pre-commit tries to run swiftformat from the repo but _fails_ to commit.

**Xcode warning message after commit:**

[code]

In the **Xcode 11.5**, it seems as the changes were formatted and committed but in the terminal it looks like the changes where committed and then formatted resulting in *unstaged* changes.

**pre-commit hook**

`git diff --diff-filter=d --sta

[2020-07-23 13:32] dsabanin opened #677 "Add a sponsor button to GitHub page"
I'm so grateful for the amazing work Nick is doing with SwiftFormat as I'm sure are everyone else who is relying on this project in their day to day work.
I would love it if a sponsor button was enabled for this project on GitHub so that we can show our appreciation with something other than words.
I understand it's probably going to be pocket change, but it's the thought that counts :)

And maybe

[2020-07-23 15:21] jshier opened #678 "redundantSelf removing non-redundant selfs"
I have a type that takes a closure as part of its `init`. SwiftFormat is removing the `self` references from those closures.

[code]

When formatting,

[code]

is transformed into:

[code]

which is obviously incorrect.

[2020-07-23 16:34] nicklockwood commented on #678
It seems like it's failing to identify the braces as a closure. I'll take a look.

[2020-07-24 19:28] nicklockwood commented on #670
@Milos have you tried using [git-format-staged](https://github.com/hallettj/git-format-staged) as suggested in the README?

[2020-07-24 19:33] nicklockwood commented on #677
@dsabanin this is a very kind suggestion. Signing up to Github sponsorship seems to be a rather complex process. I'll look into it, but in the meantime I do have a PayPal donation link in the README file :-)

[2020-07-27 18:42] nicklockwood commented on #678
@jshier I'm not able to reproduce this problem in isolation. Can you provide a standalone code snippet that demonstrates the problem when formatted?

[2020-07-29 12:32] haemi commented on #267
I'm on 0.44.17 but the return value is always 0 for `swiftformat --lint .` even if there are errors found - am I missing something?

[2020-07-29 18:37] nicklockwood commented on #584
@jshier @PompeiaPaetenari sadly it seems that this doesn't actually work in the `\.self` case: https://bugs.swift.org/browse/SR-12897

I'll add it for the other cases though.

[2020-07-30 01:03] nicklockwood commented on #665
@calda this has landed in version 0.45.0. Thanks!

[2020-07-30 01:03] #665 closed

[2020-07-30 01:04] nicklockwood commented on #661
@gcox SwiftFormat for Xcode 0.45.0 now includes a Swift version dropdown.

[2020-07-30 01:04] #661 closed

[2020-07-30 01:04] nicklockwood commented on #643
@shawnkoh I've improved the documentation - hopefully it's a little clearer now.

[2020-07-30 01:04] #643 closed

[2020-07-30 01:05] nicklockwood commented on #642
@gbrandt fixed in 0.45.0.

[2020-07-30 01:05] #642 closed

[2020-07-30 01:14] calda commented on #665
Awesome!! Super excited that we can bring back some of our old Style Guide rules now

[2020-07-30 01:27] meherkasam commented on #637
Thank you for the update. I'm excited for it!

[2020-07-30 01:30] nicklockwood commented on #622
@thomasMinshull indenting of trailing closures on wrapped expressions is now indented an extra level in 0.45.0 - take a look and see if this solves your problem.

[2020-07-30 01:31] nicklockwood commented on #595
@jandamm @PompeiaPaetenari I've added a `--smarttabs` option in 0.45.0 (enabled by default).

[2020-07-30 01:31] #595 closed

[2020-07-30 01:32] nicklockwood commented on #584
@jshier @PompeiaPaetenari this is implemented in 0.45.0 (with the aforementioned limitation).

[2020-07-30 01:32] #584 closed

[2020-07-30 01:33] jshier commented on #584
Awesome, thanks!

[2020-07-30 01:33] jshier commented on #678
I'll try to extract one when I get a chance.

[2020-07-30 01:44] jshier opened #679 "preferKeyPath breaks compound closures"
With `preferKeyPath` enabled, closures which reference multiple variables are broken.

[code]

is reformatted into:

[code]

[2020-07-30 01:45] jshier commented on #679
This also breaks methods:

[code]

is reformatted into:

[code]

[2020-07-30 01:53] jshier commented on #679
It also breaks optional properties, where this:

[code]

is reformatted into:

[code]

[2020-07-30 01:54] nicklockwood commented on #679
Thanks - I thought I'd handled those cases, but I should've added more tests 🤦‍♂️ I'll fix it in the next release.

[2020-07-30 02:05] jshier opened #680 "0.45 indentation indents aligned generic parameters"
My codebase has some really long generic names, so I've been wrapping them onto individual lines:

[code]

0.45 indented only the last two parameters:

[code]

If this is now indented, it seems like aligning the generic type names would be ideal. Or perhaps indenting the whole set of types in `< >`. Otherwise, is there a way to configure this? Xcode's automatic indentation seems to prefer no inden

[2020-07-30 02:09] jshier opened #681 "0.45 loses parameter indentation after closure"
There seems to be a change in behavior in the indentation of parameters after a closure parameter. This code used the automatic Xcode indentation:

[code]

0.45 removes the indentation of the `otherParameter`:

[code]

This seems like a bug.

Edit: This may be related to Xcode 12, as its indenter seems to prefer the newly formatted version, while 11.6 aligns the parameters. Or it could be coincide

[2020-07-30 07:27] nicklockwood commented on #679
@jshier Fixed in 0.45.1.

[2020-07-30 07:36] nicklockwood commented on #637
@meherkasam fixed in 0.45.1.

[2020-07-30 07:41] nicklockwood commented on #681
It's a coincidence, as I've not deliberately updated the `--xcodeindentation` behavior for Xcode 12.

[2020-07-30 07:44] nicklockwood commented on #681
@jshier given the changes in Xcode 12, how would you expect this to behave? Should it

1) use Xcode 11-style indenting until Xcode 12 is out of beta and then switch
2) switch to Xcode 12 style now
3) alter the Xcode indentation mode based on the `--swiftversion`
4) add a new `--xcodeversion` option to control the behavior?

[2020-07-30 07:54] nicklockwood commented on #680
When I use Ctrl-I in Xcode 11.6 I get

[code]

which seems pretty broken. In Xcode 12 it's:

[code]

Which is basically the same as what SwiftFormat does now, except that it modulates the indent to line up with the `<` (which is consistent with how Xcode 12 handles indenting of other wrapped constructs).

I'm not sure what the ideal behavior is here. It's not clear to be that the old behavior is b

[2020-07-30 09:11] gcox commented on #661
@nicklockwood Awesome, thanks. Confirmed that `redundantReturn` works as expected with the extension now.

[2020-07-30 10:26] jandamm commented on #595
Works perfectly. Thanks! 👍

[2020-07-30 12:18] nicklockwood commented on #611
@di-sh is this working correctly in the latest version? I couldn't isolate the reason why it would be ignoring both the Xcode and SwiftFormat settings, but I did make a lot of changes in this area.

[2020-07-30 14:29] jshier commented on #680
I think consistency is most important: the indentation should match. Any additional formatting is cake. I like Xcode 12's formatting where the types are aligned within the angle brackets. But I was mostly reporting the change from 0.44 to 0.45.

[2020-07-30 14:32] jshier commented on #681
I'm pretty sure Xcode 12's behavior is a bug and I'm going to make a report to that affect. I'd like to keep the previous behavior (and an update to indent the closure indentation would be great too).

[2020-07-30 14:38] nicklockwood commented on #681
@jshier just to be clear, how I intended this to work (i.e. the behavior with `--xcodeindentation false`) should be:

[code]

For the `--xcodeindentation true` case, are you saying you would like the behavior to be:

[code]

or something else?

[2020-07-30 14:40] jshier commented on #681
Yes, those cases make sense. The second example matches what I see with Xcode 11.6. I'm not really familiar with the impact of `xcodeindentation`.

[2020-07-30 14:42] nicklockwood commented on #681
The idea of the `--xcodeindentation true` option is to make SwiftFormat behave like Xcode (excluding cases where Xcode's behavior is clearly a bug). With the  `--xcodeindentation false`, the formatting is just whatever I think looks good :-)

[2020-07-30 22:09] nicklockwood commented on #542
@Cyberbeni this is implemented in 0.45.0.

@gregcotten your suggested extension is *not* yet implemented, so I'll leave this open for now.

[2020-07-30 22:19] nicklockwood commented on #411
@ileitch this is fixed in 0.45.0.

@bryanforbes you example is not yet fixed, as trailing closure indenting needs a different fix.

[2020-07-30 22:23] nicklockwood commented on #406
@ZoeESummers this is slightly improved in version 0.45.0. Allman indenting is now enforced for closures, however the arguments are not auto-wrapped onto the next line, and the `in` is not yet treated as a new scope.

[2020-07-30 22:30] nicklockwood commented on #207
@wizofaus as of 0.45.0 the code sample you gave is unchanged when using --allman indenting, so I think this is fixed? Feel free to reopen if not.

[2020-07-30 22:30] #207 closed

[2020-07-30 22:34] nicklockwood commented on #206
@mgrebenets @rafcabezas @hartbit this is now implemented in 0.45.1. It's controlled by a new `--guardelse` option.

[2020-07-30 22:34] #206 closed

[2020-07-30 22:36] nicklockwood commented on #318
@MattLewin swiftformat 0.45.0 now converts

[code]

to

[code]

by default. Hope that helps!

[2020-07-30 22:37] nicklockwood commented on #187
@rjchatfield this is now the default behavior in version 0.45.0.

[2020-07-30 22:37] #187 closed

[2020-07-30 23:05] nicklockwood commented on #133
@aksswami SwiftFormat now has an internal compatibility suite, and I've submitted a request to have it added to Apple's compatibility suite also: https://github.com/apple/swift-source-compat-suite/pull/452

[2020-07-30 23:05] #133 closed

[2020-07-31 04:16] meherkasam commented on #637
@nicklockwood I tried the braces rule with 0.45.1 and the following was the output:

[code]
Is there something else I need to do apart from running the braces rule as follows?

`$ Pods/SwiftFormat/CommandLineTool/swiftformat test.swift --rules braces`

[2020-07-31 04:23] ZoeESummers commented on #406
Thank you! xXx

Stay safe.

Regards

Zoe

[2020-07-31 06:45] soranoba opened #682 "backquote will be removed (using `init`)"
## Problems

[code]
Execute swiftformat to this code will remove the back quotes.
Backquote must not be deleted because init is reserved.

## Environments

[code]

[code]

[2020-07-31 07:49] nicklockwood commented on #637
@meherkasam you need to enable the `wrapMultilineStatementBraces` rule as well.

[2020-07-31 09:22] nicklockwood commented on #682
@soranoba thanks for reporting this, I'll fix it in the next release. In the meantime, you can work around it by adding the following comment in the line above:

[code]

Or just disable the `redundantBackticks` rule globally in your SwiftFormat configuration.

[2020-07-31 09:25] soranoba commented on #682
Thank you for the quick response.

[2020-07-31 14:19] meherkasam commented on #637
Thank you, that worked!

[2020-07-31 21:40] meherkasam commented on #637
@nicklockwood This rule has worked really well for most cases in a sizeable codebase. I did notice one case where it didn't work as expected:
[code]

I ran the following command:
`$ Pods/SwiftFormat/CommandLineTool/swiftformat test.swift --rules braces,wrapMultilineStatementBraces`

I expected it to remain the same but got the following instead:
[code]

[2020-08-01 10:21] nicklockwood commented on #637
@meherkasam thanks for reporting, I'll take a look.

[2020-08-01 15:32] nicklockwood commented on #682
@soranoba fixed in 0.45.2.

[2020-08-01 15:32] #682 closed

[2020-08-01 15:32] nicklockwood commented on #681
@jshier fixed in 0.45.2.

[2020-08-01 15:33] nicklockwood commented on #637
@meherkasam fixed in 0.45.2.

[2020-08-01 15:33] #637 closed

[2020-08-01 18:32] meherkasam commented on #637
It worked great! Thank you once again.

[2020-08-01 18:41] calda opened #683 "[Discussion] New file / type organization rules"
There are several rules related to file / type organization that I'd like to reintroduce to the [Airbnb Swift Style guide](https://github.com/airbnb/swift):
 - [Each type in a file should be preceded by MARK](https://github.com/airbnb/swift/issues/54)
 - [Use // MARK: to separate the contents of a type definition](https://github.com/airbnb/swift/issues/56)
- [Within each top-level section, place c

[2020-08-01 20:45] nicklockwood commented on #683
This is pretty easy to implement but is rather more specific than I usually like rules to be. I'm OK with adding it as a disabled-by-default rule, but if there's some way we can make it a bit more user-configurable (e.g. like the FileHeader rule) then that would sit better.

As above. Fairly easy to hard-code, but ideally there would be some simple configuration grammar to define these in terms of

[2020-08-01 21:16] calda commented on #683
Cool, thanks for your input! Great suggestions about potential customization options.

[2020-08-01 21:26] nicklockwood opened #684 "FileHeader rule replaces comment directives at start of file"
When using `--header foobar` a file such as

[code]

Becomes:

[code]

[2020-08-01 21:39] nicklockwood opened #685 "Xcode extension ignores swiftformat:options directives"
Case is not indented by default when using the Xcode extension:

[code]

But works when using command line.

[2020-08-01 22:19] #685 closed

[2020-08-02 17:00] #622 closed

[2020-08-02 17:06] nicklockwood commented on #467
@bawjensen I believe this is now fixed. It now produces errors for all missing files, regardless of how many, or if there were also valid files found.

[2020-08-02 17:06] #467 closed

[2020-08-02 19:37] nicklockwood commented on #678
@jshier any luck with this?

[2020-08-02 19:57] jshier commented on #678
Yes, this example will trigger the issue:

[code]

It appears the key is the explicit generic on `Value`. `Value {` doesn't trigger the issue while `Value<String> {` does.

[2020-08-03 11:30] fgroeger opened #687 "Unexpected class/static func after update to 0.45.2"
I get the following error after updating to 0.45.2 (coming from 0.45.1):

`Unexpected class/static func on line xxx`

This small example reproduces the error:

[code]

[2020-08-03 13:16] nicklockwood commented on #687
Thanks for reporting, I'll get it fixed. In the meantime, disabling the `redundantSelf` rule should solve it.

[2020-08-03 15:12] nicklockwood commented on #687
@fgroeger I'm not seeing the error when running swiftformat 0.45.2 directly on that sample. Do you perhaps have a custom .swiftformat configuration?

[2020-08-03 15:16] fgroeger commented on #687
Oh yeah sorry, completely forgotten about that:

[code]

[2020-08-03 15:18] nicklockwood commented on #687
OK, I'm seeing it now (looks like the `--self init-only` option was the culprit).

[2020-08-03 21:13] Milos commented on #670
Yes. Using **git-format-staged** _fixed_ the issue. However, my `.swiftformat` config file doesn't seem to work with wildcards
For example:
[code]
After formatting, File's header becomes `// ignore **/File.swift` and `exclude` is ignored. On the other hand, command-line rules and options are working properly. 🤔

[2020-08-03 21:40] nicklockwood commented on #687
@fgroeger fixed in 0.52.3.

[2020-08-03 21:40] #687 closed

[2020-08-03 21:40] nicklockwood commented on #678
@jshier fixed in 0.52.3.

[2020-08-03 21:40] #678 closed

[2020-08-03 21:40] nicklockwood commented on #174
@castus fixed in 0.52.3.

[2020-08-03 21:40] #174 closed

[2020-08-03 21:42] nicklockwood commented on #245
@ferranpujolcamins this has now been added in 0.45.3. Use `--linerange start,end`.

[2020-08-03 21:42] #245 closed

[2020-08-03 21:43] jshier commented on #678
Yep, thanks! Confirmed fixed in 0.45.3.

[2020-08-03 22:08] nicklockwood commented on #670
`--header ignore **/File.swift` is not a supported syntax in the .swiftformat config file. All options or rules in the file are applied to every file formatted.

The `--exclude **/OtherFile.swift` should work, but it applies to all formatting rules.

[2020-08-04 06:20] mihaicristiantanase opened #688 "linerange issues"
I'm using `--linerange` (swiftformat 0.45.3) option and I've found 2 issues using the following file:

[code]

**First issue** - linerange formatting needs more context than necessary:

Actual:
Running
[code]
removes the extra spaces after the open parenthesis of `print` function.

The actual fix is to run:
[code]

Expected:
Running
[code]
should be sufficient for fixing the line.

**Second issue*

[2020-08-04 06:32] fgroeger commented on #687
Thanks!

[2020-08-04 07:30] nicklockwood commented on #688
Thanks for reporting, I'll look into it.

[2020-08-04 08:27] Milos commented on #670
Hmm, ok. I've checked again and exclude option is not working in the config file.

Same happens if I use the options (header ignore and exclude) in the pre-commit hook: ```git-format-staged --formatter "swiftformat stdin --stdinpath {}" "*.swift"```.

So what are other options in this case?

[2020-08-04 08:27] schjonhaug commented on #679
More breaking code related to compactMap (using version 0.45.3):

From: `let emoteIds = reactionSet?.reactions?.compactMap { $0.id }`
To: `let emoteIds = reactionSet?.reactions?.compactMap(\.id)`

From: `let items = combinedItems.compactMap { $0.text }`
To: `let items = combinedItems.compactMap(\.text)`

[2020-08-04 08:56] nicklockwood commented on #670
I suspect the `.swiftformat` file is being ignored completely when you use `git-format-staged`, since it's reading from stdin. Try adding an explicit `--config` argument, e.g.

[code]

[2020-08-04 08:57] nicklockwood commented on #679
@schjonhaug why does this break? Is it because it can no longer infer the type?

[2020-08-04 09:02] schjonhaug commented on #679
Yes exactly. I get the following errors:
[code]

[2020-08-04 09:08] nicklockwood commented on #679
@schjonhaug is the text property of type `String` or of type `String?` in this case? If it's the former, what happens if you change to `map()` instead of `compactMap()`?

[2020-08-04 10:05] Milos commented on #670
I've already did. This is my pre-commit hook:

```$PWD/git-format-staged --formatter "$PWD/swiftformat --config $PWD/Format/.swiftformat stdin --stdinpath {}" "*.swift"```

I know for sure that config file is picked up because  `--header` option works. On the other hand, `--exclude` doesn't work at all...

[2020-08-04 10:15] nicklockwood commented on #670
@Milos ah sorry, you're right. I never considered the `--stdinpath` in the exclude logic. That's a bug.

[2020-08-04 10:21] Milos commented on #670
@nicklockwood , oh ok. Thanks! By the way, Is there any way around this at the moment (to ignore headers and exclude some file), maybe without using the config file?

[2020-08-04 10:49] Milos commented on #670
@nicklockwood  by the way, is there a workaround at the moment?

Passing header ignore and/or exclude option in the pre-commit hook using `git-format-staged` results in an error: `Cannot combine stdin with other file inputs.`

Example: `$PWD/git-format-staged --formatter "$PWD/swiftformat --header ignore **/File.swift stdin --stdinpath {}" "*.swift"`

[2020-08-04 10:53] nicklockwood commented on #670
@Milos I'm not aware of any workaround in swiftformat. It looks like [git-format-staged](https://github.com/hallettj/git-format-staged) has a syntax for file exclusion, so maybe you can use that?

[2020-08-04 11:00] Milos commented on #670
Ok, I'll take a look, but as I understand, for now it's not possible to ignore headers using swiftformat in pre-commit hook?

[2020-08-04 11:11] nicklockwood commented on #670
@Milos I believe you could do it by applying git-format-staged multiple times with different rules, something like:

[code]

[2020-08-04 13:52] yungdai opened #689 "Running swift format 0.45 in the build phase lint's the .build folder in the BuildTools folder and ignores the rules set by .swiftformat"
I have setup the BuildPhase setup for swiftformat and it seems that even when I don't run the actual command it still lints my code.

I have purged the swiftformat cache folder, cleaned the build folder. I have added the .gitignore folders as recommended as well as added the exclusion of the .build folder to the .swiftformat file.

Nothing seems to work.

I am using SwiftFormat 0.45.3

Even when I

[2020-08-04 16:09] meherkasam opened #690 "'else' in multi-line 'guard' statement loses indentation"
@nicklockwood I found some weird behaviour around multi-line `guard` statements. Here's my test example:
[code]

Running the following command:
` $ Pods/SwiftFormat/CommandLineTool/swiftformat test.swift --rules elseOnSameLine,wrapMultilineStatementBraces`

Expected outcome:
[code]

Actual outcome:
[code]

[2020-08-04 16:11] nicklockwood commented on #690
@meherkasam thanks for reporting, I'll get it fixed asap.

[2020-08-04 16:14] nicklockwood commented on #690
I think this was probably masked in testing by the fact the `indent` rule normally fixes it automatically.

[2020-08-04 16:16] micampe opened #692 "Wrap after-first should always wrap after the first argument/parameter"
The `after-first` setting in the `--wrap*` options doesn’t really do what its name says. At first I thought it was a bug but when I started looking at the code to try to fix it I found out that the current behaviour is intentional (since there is a test for it), so in this issue I would like to discuss if my desired behaviour would be acceptable as a patch and how it should be implemented.

Curren

[2020-08-04 16:17] Milos commented on #670
Did the trick. Thanks @nicklockwood 🙌

[2020-08-04 16:17] meherkasam commented on #690
Yup, you're right!

Running the following command works fine:
`$ Pods/SwiftFormat/CommandLineTool/swiftformat test.swift --rules elseOnSameLine,wrapMultilineStatementBraces,indent`

I didn't have the `indent` rule turned on yet.

[2020-08-04 17:27] altagir commented on #406
@nicklockwood

I found this new behavior perturbating

the allman setting enabled creates lots of issue with Observable

it creates weird formatting now we used to fix manually

[code]
when a "in" is present, allman should not be enforced to have proper alignment

[2020-08-04 17:42] nicklockwood commented on #406
@altagir from what you've pasted, it seems that the problem is not that `--allman` shouldn't be applied when `in` is present, but rather than the brace should be indented to match the previous line (which looks like a bug rather than a deliberate design choice on my part). I would expect this to be formatted as:

[code]

[2020-08-04 18:00] nicklockwood commented on #692
Hmm, it looks like this behavior *is* a bug, or at least it's not something I was expecting.

I suspect the issue is that I try to preserve deliberate combining of parameters on a single line, which people sometimes do for aesthetic reasons:

[code]

So these are ignored in cases where the method is *otherwise* wrapped correctly. But what may be happening is that the method is first being wrapped

[2020-08-04 18:56] altagir commented on #406
@nicklockwood
it seems to appear on first block only
[code]

is there some options I specified which creates that ?

[2020-08-04 19:14] nicklockwood commented on #406
@altagir I'm pretty sure it's a bug, not something you did. I'll investigate.

[2020-08-04 21:49] nicklockwood commented on #679
@schjonhaug from my own testing, it seems like this can open happen in cases where you've used a `compactMap()` with a non-optional value, and could have used `map()` instead, which fixes the problem.

Although it's not ideal that SwiftFormat breaks compilation here, I'm not sure if I'd want to disable it since it's actually telling you something useful.

Let me know if replacing `compactMap()` wi

[2020-08-04 22:01] nicklockwood commented on #679
FYI, I've filed a Swift bug to report this discrepancy: https://bugs.swift.org/browse/SR-13347

[2020-08-04 22:39] nicklockwood commented on #689
@yungdai I'm having a bit of trouble visualizing your project structure. Can you maybe zip up the project without the actual source code just the scripts, folders, etc?

[2020-08-05 15:11] yungdai commented on #689
My project structure is

[code]

[2020-08-05 15:32] nicklockwood commented on #689
@yungdai where in that hierarchy is the script that runs swiftformat?

[2020-08-05 17:19] schjonhaug commented on #679
Sorry for the late reply, and thanks for investigating this.

Yes, it looks like you're right. The collections in question do indeed consist of of non-optional values and we should've used `map` instead. So I agree with you that it's good to leave SwiftFormat as is.

Thanks for reporting the radar.

[2020-08-05 17:34] stevelandeyasana commented on #692
I have a similar issue with before-first. Consider this 168-character line:

[code]

I invoke swiftformat with his config file:
[code]

And I get this result:
[code]

What I expected was this:
[code]

[2020-08-05 17:57] #679 closed

[2020-08-05 18:08] #551 closed

[2020-08-05 22:30] nicklockwood commented on #692
@stevelandeyasana although I think there are some bugs here, I believe your specific issue can be solved by adding `--wrapparameters before-first`.

(This is supposed to follow the value of `--wraparguments` if not specified, but it seems there's another bug)

[2020-08-05 22:58] Panajev opened #694 "[Regression] preferKeyPath option introduces compile time issue"
Hello @nicklockwood ,

We have noticed the following transformation as result of the preferKeyPath option being activated:

<img width="1213" alt="Screenshot 2020-08-05 at 23 12 52" src="https://user-images.githubusercontent.com/562991/89469374-32b1a280-d771-11ea-92ed-564f028e8271.png">

where the compiler error presented is: **Key path value type 'Game' cannot be converted to contextual type 'Gam

[2020-08-05 23:00] nicklockwood commented on #411
@bryanforbes your example is now also working correctly in 0.45.3.

[2020-08-05 23:00] #411 closed

[2020-08-05 23:20] nicklockwood commented on #694
@Panajev yes, this is a known issue (I just added it to the README). The simple workaround in these cases is to replace `compactMap` with `map`, since there is no need to use `compactMap` in cases where the return value isn't Optional.

[2020-08-06 13:13] yungdai commented on #689
If I do an echo on the $SRCROOT it's pointing to here
Showing Recent Messages
/Users/p125342/Developer/DFCore/iOSCoreShowcase/DFCoreShowcase

So it would look like this:
DFCoreShowCase\
    .swiftformat
     BuildTools\
         .build\
         Empty.swift
         Package.resolved
         Package.swift
    DFCoreShowcase\
    DFCoreShowcase.xcodeproj
    iOSCore\
    Package.swift

[2020-08-06 15:27] altagir commented on #406
@nicklockwood
 I just tried the develop branch but issue remains

[code]

[2020-08-06 17:14] nicklockwood commented on #406
@altagir did you build the CLI from source, or just run the binary in the develop branch? The binary hasn't been updated.

[2020-08-06 17:18] nicklockwood commented on #406
@altagir  Oh wait, it seems there is still an issue. The code I tested was

[code]

Which formats correctly. But if you remove the outer function it seems to be treated differently. I'd assume that doesn't arise very often in real (non-example) code, but I'll fix it anyway. Thanks for flagging it.

[2020-08-06 17:33] altagir commented on #406
I did build from source
Thanks for investigating ! :)

[2020-08-06 17:53] ZoeESummers commented on #406
Thanks for the work Nick.

Do you know if this all works correctly in SwiftUI with it's awful syntax?

[2020-08-06 17:56] ZoeESummers commented on #399
Any news please?

[2020-08-06 17:57] nicklockwood commented on #399
@ZoeESummers no progress on this yet I'm afraid.

[2020-08-06 17:59] nicklockwood commented on #406
Good question. I've done some testing with SwiftUI, but not with SwiftUI + Allman-style. I'll make sure to add some more tests around that. If you have any samples to share that would be helpful.

[2020-08-06 19:56] Panajev commented on #694
Shall I close this or is it something that you think can be fixed at some point and this is best kept open?

[2020-08-07 01:46] nicklockwood commented on #694
@Panajev I'll leave it open so others can find it. I'll try to gauge how common the problem is, and I may consider adding an option to disable the feature just for `compactMap()`.

I don't see any simple way for me to resolve it, but I'm hoping it's something Apple will eventually fix in Swift itself.

[2020-08-07 16:07] altagir commented on #406
@nicklockwood
Hi I am still seeing the issue with  latest code

[2020-08-07 16:18] nicklockwood commented on #406
@altagir that's very strange. I have that exact example in the Snapshots/Issues/406.swift file and it's working correctly (even if I include all options you've specified). Is there any other code in the file? Or perhaps some other configuration you are setting that might be relevant?

[2020-08-07 16:23] nicklockwood commented on #406
@altagir maybe try running it again with --cache clear ?

[2020-08-07 16:42] paulb777 opened #695 "Please keep old versions published on brew"
I need to install 0.45.2 for compatibility with GitHub Actions.

`brew upgrade swiftformat` installs 0.45.3

`brew search swiftformat` doesn't show any other version available.

[2020-08-07 16:48] nicklockwood commented on #695
@paulb777 you can download the 0.45.2 release here: https://github.com/nicklockwood/SwiftFormat/releases/tag/0.45.2 - you'll find the binary inside the CommandLineTool directory.

Any particular reason you can't just use 0.45.3?

[2020-08-07 16:53] paulb777 commented on #695
We have presubmit checks that run on GitHub Actions and GitHub Actions is still at 0.45.2.

Is there a better option to keep several developers and GHA in sync than checking in a binary or updating every time checks are run?

[2020-08-07 17:04] paulb777 opened #696 "Transforming trailing braces"
Upgrading from 0.44.17 to 0.45.3 moves several trailing braces to the next line. Details in https://github.com/firebase/firebase-ios-sdk/pull/6229.

I don't see any obvious options that control this or anything at https://github.com/nicklockwood/SwiftFormat/blob/master/CHANGELOG.md about changes to brace organization.

Is there an option to keep the trailing braces?

[2020-08-07 17:14] nicklockwood commented on #695
@paulb777 I have no idea why homebrew makes it so difficult to install old versions. Could you try using [Mint](https://github.com/yonaskolb/Mint) or CocoaPods, or just SPM directly?

[2020-08-07 17:29] nicklockwood commented on #696
@paulb777 you can disable the `wrapMultilineStatementBraces` rule, introduced in 0.45.0

[2020-08-07 17:30] nicklockwood commented on #696
FYI, if you run swiftformat with `--verbose` mode, it will tell you which rules were applied to each file. Alternatively you can use `--lint`, which will tell you which rules it would *like* to apply, but without actually modifying the code.

[2020-08-07 18:17] paulb777 commented on #696
Thanks!

[2020-08-07 18:17] #696 closed

[2020-08-07 18:29] altagir commented on #406
@nicklockwood
Just tried with empty dir and the code above....

still same result :/

even without config file (not allman)
the first switchmap is badly indexed

[2020-08-07 18:33] nicklockwood commented on #406
@altagir and with --cache clear?

[2020-08-07 18:50] altagir commented on #406
@nicklockwood
yes even with swiftformat . --cache clear

[2020-08-07 19:29] nicklockwood commented on #406
@altagir and you definitely checked out the [develop](https://github.com/nicklockwood/SwiftFormat/tree/develop) branch, not master?

[2020-08-07 20:16] altagir commented on #406
definitely :)Envoyé depuis mon téléphone Huawei-------- Message original --------De : Nick Lockwood <notifications@github.com>Date : ven. 7 août 2020 15:30À : nicklockwood/SwiftFormat <SwiftFormat@noreply.github.com>Cc : Sebastien Senechal <altagir@gmail.com>, Mention <mention@noreply.github.com>Objet : Re: [nicklockwood/SwiftFormat] Is there a way to enforce Allman bracing in closures AND functio

[2020-08-07 20:53] paulb777 commented on #695
Thanks, transition to mint in progress at https://github.com/firebase/firebase-ios-sdk/pull/6229

[2020-08-07 22:47] #695 closed

[2020-08-07 22:54] paulb777 opened #697 "Incorrect indent introduced in 0.45.3"
An extra two spaces of indent are added at lines 405-408 of https://github.com/firebase/firebase-ios-sdk/blob/master/Firestore/third_party/FirestoreEncoder/FirestoreDecoder.swift

[code]

[2020-08-08 07:22] nicklockwood commented on #406
@altagir unfortunately I can't find any explanation for this. There must be some difference with how you are running it, but I can't imagine what it could be.

[2020-08-08 07:46] nicklockwood commented on #697
@paulb777 this appears to already be fixed in 0.45.3 (I can reproduce it in 0.45.2).

[2020-08-08 08:32] nicklockwood commented on #692
@@stevelandeyasana your issues is fixed in 0.45.4.

[2020-08-08 08:33] nicklockwood commented on #690
@meherkasam fixed in 0.45.4.

[2020-08-08 08:33] #690 closed

[2020-08-08 08:34] nicklockwood commented on #688
@mihaicristiantanase I believe all of these issues are now fixed in 0.45.4. Let me know if you find any other problems.

[2020-08-08 08:34] #688 closed

[2020-08-08 08:34] nicklockwood commented on #684
Fixed in 0.45.4.

[2020-08-08 08:34] #684 closed

[2020-08-08 14:39] paulb777 commented on #697
Hmm, I'm seeing the opposite. Maybe we have a disconnect about what the right format is?

Shouldn't the right closing brace at line 408(411 in your [version](https://github.com/nicklockwood/SwiftFormat/blob/d294de84b97d0e4a63abaaa3ae92430313ce47f7/Snapshots/Issues/697.swift#L411)) be in the same column as the `p` of `public` on line 410(413)?

If not, why?

[2020-08-08 17:08] nicklockwood commented on #697
@paulb777 ah, sorry, I misunderstood. I assumed that the file you had linked to was the correct version, not the one with the wrong indent already applied.

I suspect the braces here are being mistaken for a closure. I'll investigate and try to fix it in the next release.

[2020-08-08 17:44] nicklockwood commented on #697
@paulb777 I pushed a fix to the develop branch. This will land in 0.45.5 (probably in a few days).

[2020-08-08 21:39] gurgeous opened #698 "sortedImports borkage"
Hey Nick, thanks for SwiftFormat and your many contributions to #ioslife... We couldn't build apps without you!

There's a wee bug in sortedImports, triggered by one of our `SwifterSwift` files. I narrowed it down with a small test case. Something to do with the header comment, the nested canImports, and `sortedImports. If I remove the comment the bug no longer occurs.

before

[code]

`$ swiftfor

[2020-08-08 23:41] nicklockwood commented on #698
@gurgeous thanks for reporting, I'll try to fix it asap

[2020-08-09 06:51] #274 closed

[2020-08-09 06:55] nicklockwood commented on #406
@altagir is this working correctly for you in the released version 0.45.4?

[2020-08-09 06:58] nicklockwood commented on #475
@sfktrifork this is now implemented in 0.45.0 and later. The rule that handles this is `wrapMultilineStatementBraces`, which is enabled by default.

[2020-08-09 06:58] #475 closed

[2020-08-09 07:38] mihaicristiantanase commented on #688
I can confirm that 0.45.4 fixes the issues.
Thank you!

[2020-08-09 09:42] nicklockwood commented on #698
@gurgeous fixed in 0.45.5.

[2020-08-09 09:42] #698 closed

[2020-08-09 09:42] nicklockwood commented on #697
@paulb777 fixed in 0.45.5.

[2020-08-09 09:42] #697 closed

[2020-08-09 09:42] nicklockwood commented on #670
@Milos fixed in 0.45.5.

[2020-08-09 09:42] #670 closed

[2020-08-09 09:43] nicklockwood commented on #538
@ChristopherRogers fixed in 0.45.5.

[2020-08-09 09:43] #538 closed

[2020-08-09 09:48] nicklockwood commented on #512
@asmundg in 0.45.5 you can now pass a `--stdinpath` argument to specify the file location when using stdin, and SwiftFormat will then pick up any `.swiftformat` files in the path.

[2020-08-09 09:48] #512 closed

[2020-08-09 16:01] altagir commented on #406
@nicklockwood
Hi Nick, I tried on a new machine (VM) and it worked with latest code ! Thanks!!

I see a weird thing though with other calls... like Async.main

![image](https://user-images.githubusercontent.com/1028010/89736500-ce743480-da37-11ea-9b18-d7bea3f88f61.png)

[2020-08-09 16:18] nicklockwood commented on #406
Hmm, I probably need to special-case this for Allman style. I'll fix that in the next version.

[2020-08-10 18:06] facumenzella commented on #425
I can tackle this one if no one is working on it.

I am thinking of starting with something simpler like `initCoderUnavailable`. I would make it optional though. In my experience, whenever I started to add `@available(*, unavailable)` I was either only using programmatic views and/or migrating legacy xibs.

Let me know what you think.

[2020-08-10 18:15] nolanw commented on #425
@facumenzella That sounds awesome! Thanks for picking this up.

Re-reading this issue (which I had totally forgotten about :), I can't think of a situation when I would call `init(coder:)` directly, so your simpler approach makes sense to me.

[2020-08-10 19:10] nicklockwood commented on #425
@facumenzella sounds good - pet me know if you need any pointers.

[2020-08-11 05:49] mattgallagher opened #699 ""yodaConditions" shouldn't apply to asymmetric operators"
I am forced to turn the "yodaConditions" rule off, due to it breaking code involving asymmetric `==` operator overloads.

Consider the following Swift code:

[code]

With a little operator overloading, this code builds a SELECT statement on a database:

[code]

The `yodaConditions` rule attempts to reorder this `.id == myObjectId` comparison because `.id` is a constant string (a column name). The

[2020-08-11 07:41] nicklockwood commented on #699
@mattgallagher unfortunately, since SwiftFormat operates at a token level it cannot know that == has been overloaded, or what the types of its arguments are.

I can't immediately see a good way to prevent it from being applied in this case. Maybe I can add an option to limit it to flow control statements like if/guard/while/where?

[2020-08-11 07:46] mattgallagher commented on #699
That might work. But if it's not straightforward, please don't spend too much time on hacking around it. It's a minor issue 😄

[2020-08-11 21:07] nicklockwood commented on #699
@mattgallagher I've added a `--yodaswap literals-only` option which will disable swapping `.foo == bar` type conditions, while still applying to cases like `true == foo`. Hopefully that will help in your case.

[2020-08-11 23:15] mattgallagher commented on #699
Thanks, @nicklockwood, that's a good solution. Tested and working well!

[2020-08-12 00:12] nicklockwood commented on #699
@mattgallagher released as version 0.45.6. Thanks for the report!

[2020-08-12 00:12] #699 closed

[2020-08-12 00:16] nicklockwood commented on #536
@AnthonyMDev fixed in 0.45.6. Sorry for the delay!

[2020-08-12 00:16] #536 closed

[2020-08-12 00:16] nicklockwood commented on #406
@altagir fixed in 0.45.6.

[2020-08-12 00:19] nicklockwood commented on #591
@rex-remind101 this is now handled by the `wrapMultilineStatementBraces` rule.

It's not exactly what you asked for, as it doesn't distinguish between  function and conditional braces, but is based purely on whether the expression is wrapped. But I think it achieves the same goal. Feel free to reopen if it doesn't meet your needs.

[2020-08-12 00:19] #591 closed

[2020-08-12 02:25] meherkasam opened #702 "`indent` rule also indents `where` clause"
The Google style guide shows the `where` clause in a multi-line class declaration to be indented at the same level as the class itself. However, in the following example I've noticed that it's not the case.

Test example:
[code]

Command run:
[code]

I'd expect the output to not change. Instead I see the following:
[code]

Is this a bug or should I be incorporating a separate rule in conjunction w

[2020-08-12 09:01] nicklockwood commented on #702
@meherkasam following the Google style guide is not a specific goal of this project. I do try to accomodate all reasonable styles, and this seems like a reasonable rule, so I'll consider it as a feature request.

[2020-08-12 14:03] altagir commented on #406
@nicklockwood
I tested the main repo, and issue seems fixed, huge thanks ! :D

[2020-08-16 15:50] #683 closed

[2020-08-19 14:28] facumenzella commented on #469
Is anyone working on this? I have some time to work on it ...

[2020-08-19 17:12] nicklockwood commented on #469
@facumenzella nobody's working on it - go for it!

[2020-08-19 18:41] weenzeel opened #705 "SwiftFormat is disabled in Xcode 12 Beta 5"
Installed SwiftFormat today, but can't get it to work.
I can see the option SwiftFormat in Xcode Editor menu, but it's disabled.

I've just installed Xcode 12 Beta 5. I'm on macOS 11.0-beta (20A5343i).

I read in the release-notes that extension should work in Xcode 12.

I've activated the extension etc.

[2020-08-19 23:58] hovaks commented on #705
Deprecations
For compatibility with new security features in macOS 11, Xcode extensions must be built using Xcode 12 and must embed XcodeKit.framework. An Xcode extension rebuilt with these tools remains compatible with older versions of Xcode and macOS. (51822755)

[2020-08-20 11:16] nicklockwood commented on #705
@weenzeel @hovaks ah, apologies for then - I've linked XcodeKit but not built with Xcode 12. You'll need to build it yourself from source.

[2020-08-20 23:50] haikusw commented on #705
It works fine with Xcode 12 Beta 5 on 10.15.6 fwiw.

[2020-08-23 21:13] jshier commented on #681
I think this was fixed in 0.45.2, but seems to have regressed in a newer release. Formatting Alamofire on `master` produces several instances of parameter indentation being removed. For example, in [UploadTests](https://github.com/Alamofire/Alamofire/blob/master/Tests/UploadTests.swift#L282) this:

[code]

Is reformatted to this:

[code]

Notice the removal of the indentation for the `to:` paramet

[2020-08-25 11:21] nicklockwood commented on #681
@jshier interestingly, it seems to be a bug related to the `--closingparen same-line` option. Without that, it formats as:

[code]

Which I would consider correct.

[2020-08-25 11:56] nicklockwood commented on #243
@facumenzella my understanding of the feature request was that it should convert:

[code]

to:

[code]

Which I think should not be a new rule, but a configuration option like `--indentstrings true` that is applied by the existing `indent` rule.

Unwrapping the `"""` onto previous line seems like a different requirement.

[2020-08-26 11:54] weenzeel commented on #705
Thank you @kadir-ince for the excellent work-around write up!

[2020-08-27 05:43] nmcc24 opened #713 "Switch @unknown case not formatted properly"
I'm finding that the switch indentation flag is not working correctly for the new swift 5 `@unknown` case.

`--indentcase true`
![Screenshot 2020-08-26 at 15 57 31](https://user-images.githubusercontent.com/4029254/91388979-55931c00-e830-11ea-82c7-74a4ea6a76d5.png)

`--indentcase false`
![Screenshot 2020-08-26 at 15 57 12](https://user-images.githubusercontent.com/4029254/91388977-5461ef00-e830-11

[2020-08-27 07:35] nicklockwood commented on #713
@nmcc24 this looks like a bug. But it seems that if you move the `@unknown` to the correct place manually then it doesn't move it to the wrong place (which is probably why this wasn't picked up before).

[2020-08-27 10:26] nmcc24 commented on #713
I can definitely confirm that moving @unkown to the right position works as you suggested 👍
Thanks for responding this quickly mate!

[2020-08-28 13:48] nicklockwood commented on #713
@nmcc24 fixed in 0.46.0.

[2020-08-28 13:48] #713 closed

[2020-08-28 13:48] nicklockwood commented on #681
@jshier fixed in 0.46.0.

[2020-08-28 13:48] #681 closed

[2020-08-28 13:49] nicklockwood commented on #495
@BalestraPatrick fixed in 0.46.0.

[2020-08-28 13:49] #495 closed

[2020-08-28 13:51] nicklockwood commented on #689
@yungdai I've not been able to reproduce this, but I did make some changes to .swiftformat file resolution in 0.46.0. Can you try with this version and see if it solves your issue?

[2020-08-28 17:43] nmcc24 commented on #713
Thanks a lot mate!

[2020-08-28 21:16] brandtdaniels opened #717 "Updated from 44 to 46 and now opening braces are on a newline"
Updated from 44 to 46 and now opening braces are on a newline, which is causing a breaking change for swiftlint.

[2020-08-28 21:34] #717 closed

[2020-08-29 17:44] calda opened #721 "0.46 printing out a bunch of newlines while formatting"
We updated to `0.46` and noticed that it's now printing out a bunch of newlines:

[code]

Is this expected?

[2020-08-29 17:53] calda opened #722 "Incorrect `isStartOfClosure(at:)` result for property observer block after executed closure"
In the example below, `formatter.isStartOfClosure(at: 19)` returns `true`, but should return `false`.

[code]

This causes the `organizeDeclarations` rule to think this declaration is an `instanceProperty`, rather than an `instancePropertyWithBody`.

(This was discussed in https://github.com/nicklockwood/SwiftFormat/pull/716#discussion_r478797017 — migrating it to an Issue so it can be tracked mor

[2020-08-29 20:38] nicklockwood commented on #722
@calda fixed - thanks!

[2020-08-29 22:37] nicklockwood commented on #469
@wangchou implemented in 0.46.0.

[2020-08-29 22:37] #469 closed

[2020-08-29 22:41] nicklockwood commented on #425
@nolanw implemented in 0.46.0.

[2020-08-29 22:41] #425 closed

[2020-08-30 09:04] nicklockwood opened #725 "Assertion failure in redundantSelf rule when using organizeDeclarations"
The following test raises an assertion on line 2721 in Rules.swift (`assert(!isTypeRoot)` in the `redundantSelf` rule):

[code]

This is due to the `organizeDeclarations` rule mangling the input into:

[code]

Interestingly, changing the `// Pulse` comment to `// Baz` fixes it.

I suspect "Pulse" is being wrongly identified as a misspelled section marker, but since it's not a type-level comment it

[2020-08-30 09:41] nicklockwood commented on #725
Issue seems to be caused by the organizeDeclarationsRule mangling the code into:

[code]

[2020-08-30 16:23] calda commented on #725
Oops! This one is especially bad, thanks for catching it. Fixed in #726.

It looks like:
 - `organizeDeclarations` was incorrectly trying to validate all comments, not just comments at the top level of a type scope.
 - The edit distance from `// Pulse` to `// Private` was less than 3, so it tried to replace the `// Pulse` comment with a corrected MARK comment.
    - This seems overly permissive, s

[2020-08-31 07:25] alphatroya opened #727 "Extend organizeDeclarations to mark protocol conformance extensions"
Hi! Big thanks for an `organizeDeclarations` rule. It's structuring my code on the fly!

I want to suggest one feature request. Can this rule place MARK: block above each extension block, like this (taken from [here](https://github.com/raywenderlich/swift-style-guide#protocol-conformance))?

[code]

I think it will be useful to discover extensions blocks in the Xcode minimap.

![Снимок экрана 2020

[2020-08-31 08:12] nicklockwood commented on #727
I think this should probably be a separate rule (e.g. `markExtensions`) since it doesn't require any actual code reordering and can be implemented independently.

[2020-08-31 08:13] #725 closed

[2020-08-31 08:14] #722 closed

[2020-08-31 08:14] #721 closed

[2020-08-31 09:33] alphatroya commented on #727
Maybe you are right but this action also could move all extensions at the bottom of the file (below the object content) and maybe perform extensions blocks sorting.

[2020-09-01 19:01] calda opened #728 "`organizeDeclarations` misplaces instance function in the Lifecycle category"
The `organizeDeclarations` is misplacing function declarations with nested types in the `Lifecycle` category:

[code]

[2020-09-01 19:02] calda commented on #728
I'll post a fix for this when I have a chance.

[2020-09-02 18:25] ydnar commented on #425
Hi, this rule broke our iOS builds via Fastlane:

[code]

[2020-09-02 23:08] nicklockwood commented on #425
@ydnar so the issue arises when one class subclasses another that has overridden `init?(coder _: NSCoder)` with a stub implementation?

I'll look into adding a fix for that. In the meantime, adding:

[code]

Just before the `init?(coder _: NSCoder)` should prevent the attribute being applied. Otherwise, you can disable the rule globally in your .swiftformat file or command-line args with `--disabl

[2020-09-02 23:10] ydnar commented on #425
Thanks! We ended up removing the override from the subclass. The problem turned out to be ours, and swiftformat revealed it.

[2020-09-03 22:45] Ruckt opened #729 "Spaces removed when needed around > or <"
Format changes
[code]
to
[code]

Spaces around > and < removed and thus doesn't compile.

[2020-09-03 23:05] nicklockwood commented on #729
@Ruckt thanks for reporting this - what format configuration options are you using?

[2020-09-03 23:07] Ruckt commented on #729
I'm using the default format. Haven't changed anything.

[2020-09-03 23:46] cliftonr opened #730 "Pre-commit hook fails when staged file path contains space"
Whenever a staged file path contains spaces, the pre-commit hook fails:
[code]

[2020-09-04 10:19] nicklockwood commented on #729
@Ruckt ah, OK. It looks like a bug in the parser - it's mistaking the < and > for generic arguments. I'll fix it, but you can work around it for now by adding the following to the top of the file:

[code]

[2020-09-04 14:49] hyperphonic0 commented on #705
Wasn't this fixed in PR https://github.com/nicklockwood/SwiftFormat/pull/669?

Should be just a case doing your own build.

[2020-09-04 17:20] meherkasam opened #732 "Possible bug in spaceAroundOperators"
My test example:
[code]

The command I ran:
`$ swiftformat test.swift --rules spaceAroundOperators`

I expected the code to remain unchanged. However, it updates to the following:
[code]

It appears to be treating the `[` as an operand.

[2020-09-04 17:23] nicklockwood commented on #732
@meherkasam thanks for reporting, I think the bug is actually that it always tries to remove the space between an opening bracket and a prefix `.`, but either way it needs fixing.

[2020-09-04 17:29] meherkasam commented on #732
Thank you for the quick response!

[2020-09-04 21:52] facumenzella opened #733 "Add convenienceType rule"
### Why?
There's a rule in Swiftlint called [convenienceType](https://realm.github.io/SwiftLint/convenience_type.html) that we use a lot in our project and does not support autocorrection.

### What?

The idea is to go from this:

[code]

to this:

[code]

### Proposal

Add a `convenienceType` rule that takes care of this.

I am happy to take this one ✋

[2020-09-04 22:00] nicklockwood commented on #733
Seems like a nice idea 👍

[2020-09-05 19:25] ryansobol opened #734 "Add Stroustrup brace indentation as an format option"
I was excited to try SwiftFormat for the first time. Unfortunately, the lack of support for [Stroustrup brace](https://en.wikipedia.org/wiki/Indentation_style#Variant:_Stroustrup) indentation (i.e. a variant of K&R) makes using SwiftFormat a non-starter for my projects.

[code]

How complicated would it be to add this indentation style as a format option?

[2020-09-05 19:35] ryansobol commented on #734
Nevermind, I found the [elseOnSameLine](https://github.com/nicklockwood/SwiftFormat/blob/master/Rules.md#elseonsameline) option. Sorry to waste your time!  😅

[2020-09-05 19:35] #734 closed

[2020-09-05 20:28] nicklockwood commented on #728
@calda fixed in 0.46.2.

[2020-09-05 20:28] #728 closed

[2020-09-05 20:29] nicklockwood commented on #729
@Ruckt fixed in 0.46.2.

[2020-09-05 20:29] #729 closed

[2020-09-05 20:29] nicklockwood commented on #732
@meherkasam fixed in 0.46.2.

[2020-09-05 20:29] #732 closed

[2020-09-05 20:30] #730 closed

[2020-09-06 00:01] calda commented on #728
Thank you!

[2020-09-06 11:38] FranzBusch opened #735 "Organise by type first then by category in organizeDeclarations rule"
First of, really awesome to see this rule land. This has been something we wished for a long time. Right now this rule is sorting based on the category first (`public`, `internal`, `private`, etc) and then by the type (`method`, `property`, etc.). For our formatting rules, we would prefer to have the reverse be true. That means sorting by type first and then by category. That means all properties

[2020-09-07 03:56] zizi4n5 opened #736 "Type definitions are removed in the case of ternary operators"
Since SwiftFormat version 0.46.0, type definitions have been removed from ternary operator code with the following, causing a compile error.

* input
[code]

* output
[code]

The reason seems to be that the following commits don't take into ternary operators.
I tried to look for a good fix, but I couldn't think of one right away, so I'll make an Issue.

https://github.com/nicklockwood/SwiftFormat/

[2020-09-07 07:44] nicklockwood commented on #736
@zizi4n5 thanks for reporting, this is definitely a bug. Possible workarounds are:

1) Change the code to:

[code]

2) Add the following comment above that line:

[code]

3) Add the following to your swiftformat config

[code]

[2020-09-07 08:07] nicklockwood commented on #735
@FranzBusch this seems like a reasonable request. The `organizeDeclarations` rule was implemented by @calda specifically to meet Airbnb's style guide, so your best chance of getting this done quickly would be to extend the rule yourself.

It seems like you'd need two changes - one for the order itself and one for the subheadings, assuming you'd want to label them "// MARK: Properties, // MARK: Fun

[2020-09-08 01:06] zizi4n5 commented on #736
@nicklockwood
Thanks for your comment.
I got around it the second way.

[2020-09-08 18:16] altagir opened #738 "Not removing type definition"
Hello, I noticed this new behavior from SwiftFormat

[code]

For our coding standards, we prefer to keep the type definition SomeType in our variable declaration.
Makes it more readable without knowing the return of someFunction

is there a new parameter that will let us NOT enforce this new rule ? (i.e. not clean the types)

thanks, regards

[2020-09-08 18:43] altagir commented on #738
`--disable redundantType`

[2020-09-08 18:43] #738 closed

[2020-09-08 19:32] nicklockwood commented on #738
@altagir the rule is only invoked for the pattern:

[code]

or

[code]

So another workaround is to rename these to:

[code]

[2020-09-09 11:22] hovox opened #739 "Cant disable `redundantSelf` rule"
We are updating `SwiftFormat` version and got large git diff. So we started to update our `.swiftformat` file.
Here is our `.swiftformat` file:
[code]
`redundantSelf` added into `--disable` option.

`SwiftFormat` version is `0.46.2`, installed with CocoaPods.

When running `Pods/SwiftFormat/CommandLineTool/swiftformat .` we are getting `Reading config file at PATH_TO_DIRECTORY/.swiftformat` line,

[2020-09-09 12:06] nicklockwood commented on #739
@hovox I've not been able to reproduce this. Would you perhaps be able to share a zip archive of your project with everything except the salient files removed just so I can make sure I'm testing under the same conditions?

It should be sufficient just to include the directory structure and one example swift file that is being affected, e.g.

[code]

The Example.swift file doesn't need to have any

[2020-09-09 12:26] hovox commented on #739
Hi @nicklockwood ,
I do not why but now I'm also can't reproduce :(   Sorry for disturbing you. I was sure that checked multiple times with different options. Now it works as expected, even with same options which I shared here.

[2020-09-09 12:26] #739 closed

[2020-09-09 12:34] hovox commented on #739
I have found the case, shearing here in case someone will do the same.
So I have reverted `SwiftFormat` version back to `0.44.15` and have not noticed it.

On that version, the issue exists with above mentioned file, but on the latest version (`0.46.2`) everything works as expected.

[2020-09-09 13:05] nicklockwood commented on #739
@hovox thanks for following up! So if I understand correctly, it looks like this was a bug in version 0.44.15 but it's fixed in 0.46.2?

[2020-09-09 13:12] hovox commented on #739
Yes, issue exists in `0.44.15` version and fixed in `0.46.2`.

[2020-09-15 00:19] RobertoMachorro opened #740 "IBOutlet variables get 'weak' removed from declaration"
One of the actions that _SwiftFormat_ took was removing **weak** from my IBOutlet variable declaration:

[code]

According to the [Apple documentation](https://developer.apple.com/documentation/uikit/view_controllers/displaying_and_managing_views_with_a_view_controller) (scroll down to _Store References to Important Views_), these should be defined as weak:

This to me is a bug and hopefully gets

[2020-09-15 08:32] nicklockwood commented on #740
This is deliberate, as per Apple's recommendation in the WWDC video (https://developer.apple.com/videos/play/wwdc2015/407/ @ 32:30).

This transform should be safe in virtually all cases, and slightly improves performance. Prior to iOS 6 (when the behavior of viewDidUnload changed), using `weak` was recommended to save memory, but that no longer applies. I suspect that the Apple documentation you

[2020-09-15 12:47] RobertoMachorro commented on #740
Thanks! Closing issue.

[2020-09-15 13:48] #740 closed

[2020-09-20 16:41] nicklockwood opened #744 "Update indent rule behavior to match Xcode 12"
Xcode 12 adds new alignment rules for wrapped expressions, e.g.

[code]

Now aligns the `let`s vertically:

[code]

Which means that the second line is actually indented exactly 3 spaces and not a multiple of the specified indent level.

SwiftFormat should probably adopt this, especially when using `--xcodeindentation true`. There's a question of whether this should have some way to retain the old

[2020-09-20 17:03] nicklockwood opened #745 "Update `redundantSelf` rule for Swift 5.3"
In Swift 5.3 the requirements for explicit `self` in closures have been relaxed in some case (see https://github.com/apple/swift-evolution/blob/master/proposals/0269-implicit-self-explicit-capture.md) so SwiftFormat should remove `self` in these cases.

[2020-09-20 17:06] nicklockwood opened #746 "Automatically collapse redundant catch clauses"
In Swift 5.3, catch clauses can have multiple cases (See https://github.com/apple/swift-evolution/blob/master/proposals/0276-multi-pattern-catch-clauses.md).

SwiftFormat could detect sequential catches with identical bodies and collapse them.

[2020-09-20 17:17] nicklockwood commented on #638
@weissi in lights of the changes in https://github.com/apple/swift-evolution/blob/master/proposals/0285-ease-pound-file-transition.md, is this exception still needed?

[2020-09-20 20:14] calda commented on #744
I would love to see this be an option even for teams that aren't using `--xcodeindentation true`!

[We use](https://github.com/airbnb/swift/blob/master/resources/airbnb.swiftformat) `--indent 2` and `--xcodeindentation disabled`, but if there was a `--multilineConditional alignKeywords` option that works like this then I would totally lobby for us to adopt it.

[2020-09-20 20:29] calda commented on #727
#743 adds support for using `organizeDeclarations` with extensions

[2020-09-21 01:13] calda commented on #727
#747 adds a new `markTypes` rule that adds customizable MARK: comments before types and extensions:

[code]

[2020-09-21 22:57] zacwest opened #748 "Multi-line closure parameters cause closure contents to be indented incorrectly"
Given a source file like:

[code]

I do not expect the following change:

[code]

I would expect the indent of the code to be where it started here. This happens with the default ruleset (e.g. just `pbpaste | swiftformat`) in version 0.46.3.

[2020-09-24 15:44] gregcotten opened #749 "[Regression] preferKeyPath for map where key path is a static member"
It's a very unique case, but one that should be covered.

For the following code, I get a compile time error: **Key path cannot refer to static member 'message'**.

[code]

Changing

[code]
to
[code]
fixes the error.

[2020-09-24 15:45] gregcotten commented on #749
[Relevant discussion](https://forums.swift.org/t/key-path-cannot-refer-to-static-member/28055) on the Swift forums.

[2020-09-24 18:15] VinceBurn opened #750 "Wrap After First"
Hi @nicklockwood,

I've entered a new code base with some creative formatting that need fixing.

One of the most common thing I have is function declaration and method calls that are not following the rule to put argument on a single line or one per line.

To my surprise SwiftFormat was not able to fixe those.

I've written the following test that I think should illustrate the problem.

[code]

[2020-09-24 18:19] VinceBurn commented on #750
looks like a duplicate of #692

[2020-09-24 21:55] nicklockwood commented on #749
@gregcotten this is a bug, but it's not something that I can easily fix. SwiftFormat only looks at the call-site tokens, so it doesn't know the types stored in `list`. The only solution for now is for you to disable the `preferKeyPath` rule for that file.

[2020-09-24 21:57] nicklockwood commented on #750
@VinceBurn yeah, there's currently no way to force every method to wrap. You can set `--maxwidth` to force lines longer than the specified length to wrap if that helps?

[2020-09-25 09:47] AniHovhannisyanAni opened #751 "Color literals"
There are some issues related to color literals. Here is the example. Do we miss any rule which will fix it and make one line ?

<img width="348" alt="Screen Shot 2020-09-25 at 12 06 11" src="https://user-images.githubusercontent.com/58420228/94252231-b2b7e580-ff34-11ea-8684-55a39f0e0493.png">

[2020-09-25 09:58] nicklockwood commented on #751
This is arguably a bug. I should probably have an option to treat color literals as 1 or 2 characters for the purposes pf wrapping.

[2020-09-25 10:05] nicklockwood commented on #751
I'll add a fix for this in the next update. I think the only way to prevent this from wrapping at the moment is to disable the `wrap` rule, or set `--maxwidth` to `none`.

[2020-09-25 14:30] VinceBurn opened #752 "Redundant Self : self not remove in specific case"
Hi @nicklockwood

I've found that `self` is not remove before an optional binding shadowing

This code with only: rule "redudantSelf", option "remove"
[code]

will produce
[code]

We can notice the `self.optional` before the `guard` statement.

This feels like a very low priority issue.

[2020-09-25 14:50] nicklockwood commented on #752
@VinceBurn thanks for reporting - I'll look into it.

[2020-09-25 14:54] nicklockwood opened #753 "Replace `TypeName` with `Self` where possible."
In cases like this:

[code]

Swift allows `Self` to be used in place of `FooBarBaz` in Swift 5 and above:

[code]

[2020-09-25 20:01] meherkasam opened #754 "Bug in sortedImports rule"
I observed this behaviour in both 0.45.4 and 0.46.3.

Command:
[code]

Test file:
[code]

Expect output:
[code]

Actual output:
[code]

[2020-09-25 22:37] nicklockwood commented on #754
Ooh, that's a nasty one. Thanks for reporting.

FWIW, adding a blank line below the comment should fix it. SwiftFormat basically can't distinguish a comment header from a regular comment unless there's a blank line after.

[2020-09-25 22:39] nicklockwood opened #755 "Convert block comments to single-line comments"
e.g.

[code]

would become

[code]

[2020-09-25 22:50] nicklockwood commented on #736
@zizi4n5 fixed in 0.46.3

[2020-09-25 22:50] #736 closed

[2020-09-25 22:53] nicklockwood commented on #705
@weenzeel as of version 0.46.3 the bundled Extension should work in Xcode 12.

[2020-09-25 22:53] #705 closed

[2020-09-25 23:20] meherkasam commented on #754
Thanks Nick! That's exactly what we ended up doing to fix it.

[2020-09-26 01:42] grigorye commented on #174
Just an opinion, but I would love to see an option to enable the original behavior (i.e. "reindenting whitespace"), as it matches what Xcode does by default (that is, with trimming trailing whitespace *disabled* for empty lines) with e.g. Editor > Structure > Reindent (Ctrl-I). I'm basically looking for a formatter that indents exactly like (default) Xcode, and I consider this a "feature" rather t

[2020-09-26 10:24] nicklockwood commented on #174
@grigorye it would certainly make sense for the --xcodeindentation option to enable this behavior.

[2020-09-27 01:23] cczufish opened #756 "SwiftFormat add @available(*, unavailable) , now the project all error"
@available(*, unavailable)
    required init?(coder _: NSCoder) {
        fatalError("init(coder:) has not been implemented")
    }
}

error message :

Cannot override 'init' which has been marked unavailable

[2020-09-27 09:26] nicklockwood commented on #756
@cczufish sounds like it might be the same issue as https://github.com/nicklockwood/SwiftFormat/issues/425#issuecomment-686085105 - does the same solution work for you?

[2020-09-28 01:22] cczufish commented on #756
@nicklockwood I try add

"${PODS_ROOT}/SwiftFormat/CommandLineTool/swiftformat" "$SRCROOT"
swiftformat:disable:next initCoderUnavailable

or

add

"${PODS_ROOT}/SwiftFormat/CommandLineTool/swiftformat" "$SRCROOT"
--disable initCoderUnavailable

。

this solution did not works for me

thanks ～～

[2020-09-28 19:56] calda opened #757 "extensionAccessControl unexpectedly places visibility keyword before annotations"
I'm working on adopting the new `extensionAccessControl` rule (#742) in our codebase (airbnb/swift#105) and I noticed that it's unexpectedly placing the visibility keyword before any annotations:

### Current behavior

[code]

### Expected behavior

[code]

I'll put up a fix for this!