[2016-08-22 21:32] gragera opened #1 "Wrong indenting level of if case"
First of all, this tool looks very good, nice job! :)

I found this issue while executing the tool in a fairly large codebase

<img width="418" alt="screen shot 2016-08-22 at 23 31 07" src="https://cloud.githubusercontent.com/assets/287089/17872483/8aadfafc-68c0-11e6-8e17-7e016170a889.png">

I think the image is pretty much self-explanatory, the original if is in the right place

Regards,

[2016-08-22 21:36] gragera opened #2 "Wrong spacing when specifying a type for a generic parameter"
<img width="568" alt="screen shot 2016-08-22 at 23 35 29" src="https://cloud.githubusercontent.com/assets/287089/17872633/3d5b6e6e-68c1-11e6-9c04-f86f27eddae9.png">

The original spacing was correct :)

[2016-08-22 21:38] gragera opened #3 "Suggestion: Allow private(set) formatting as Apple suggest it in the docs ?"
<img width="337" alt="screen shot 2016-08-22 at 23 38 23" src="https://cloud.githubusercontent.com/assets/287089/17872699/887bdff0-68c1-11e6-9e79-9e51d39800e7.png">

vs

<img width="336" alt="screen shot 2016-08-22 at 23 38 36" src="https://cloud.githubusercontent.com/assets/287089/17872702/90e0bfee-68c1-11e6-83e5-4b2603883326.png">

What do you think?

[2016-08-22 21:39] nicklockwood commented on #1
Heh, I didn't know "if case" was a thing! I'll add a new test for it. Thanks!

[2016-08-22 21:43] nicklockwood commented on #2
Ha, nice! I bet the -> confused it. I'll add a new test. Thanks!

[2016-08-22 22:05] nicklockwood commented on #3
Seems a bit petty to make this an option. I think I'll change it to Apple standard and see if anyone objects.

[2016-08-22 22:52] nicklockwood commented on #3
Fixed in 0.2

[2016-08-22 22:52] #3 closed

[2016-08-22 22:53] nicklockwood commented on #2
Fixed in 0.2

[2016-08-22 22:53] nicklockwood commented on #1
Fixed in 0.2

[2016-08-22 22:53] #1 closed

[2016-08-23 03:59] shripada opened #4 "Comments do not get placed after brace when converting to KRN style braces"
Consider this code that follows a  _"always braces in new line"_ style  with a comment following an if condition-

[code]
The tool ends up converting the above code to-
[code]
This will result in compiler error as obviously the opening brace after the **if** is effectively commented out.

[2016-08-23 06:20] gragera commented on #2
<img width="572" alt="screen shot 2016-08-23 at 08 13 38" src="https://cloud.githubusercontent.com/assets/287089/17882043/510e25b6-690a-11e6-9945-d4431d771e4e.png">

<img width="491" alt="screen shot 2016-08-23 at 08 19 51" src="https://cloud.githubusercontent.com/assets/287089/17882068/7136eb16-690a-11e6-93ec-ca962bd0c0f6.png">

It does not look fixed :( . If you need some failing code to reprodu

[2016-08-23 06:34] nicklockwood commented on #4
Ooh, nice edge case :-) Thanks!

[2016-08-23 09:47] nicklockwood commented on #2
The case I fixed was:

    Foo<Bar> ->

These are

    Foo<Bar> in

And

    (Foo<Bar>) ->

Respectively, which I didn't fix.

I'll add tests for these as well, but if you have any other variants, please include them in the ticket :-)

[2016-08-23 10:37] Sephiroth87 opened #5 "Optional generic closing > is treated as an operator"
For example, the following code
[code]
is converted to
[code]
as the ?> is treated as an operator

[2016-08-23 12:24] Sephiroth87 opened #6 "Multiline logic statement gets wrong indentation if a line is commented"
Sample code:
[code]

Result:
[code]
Seems to be working fine multiline literals

[2016-08-23 18:26] nicklockwood commented on #2
Fixed in v0.3

[2016-08-23 18:26] #2 closed

[2016-08-23 18:27] nicklockwood commented on #6
Fixed in v0.3. Thanks!

[2016-08-23 18:27] #6 closed

[2016-08-23 18:28] nicklockwood commented on #4
Fixed in v0.3. Thanks!

[2016-08-23 18:28] #4 closed

[2016-08-23 18:28] nicklockwood commented on #5
Fixed in v0.3. Thanks!

[2016-08-23 18:28] #5 closed

[2016-08-24 05:13] shripada commented on #4
Thank you @nicklockwood, now time to use it live in my project.

[2016-08-24 14:25] macoto-liu opened #7 "Generics type explicitly declared for a variable does not seems formatted correctly"
I have below code
let users: MultipleModels<User> = ....

After run swfitformat command the code comes to be
let users: MultipleModels < User> = ...
it looks like there is whitespace was added after 'MultipleModels' and before 'User' type.
i.e. seems generics symbol '<' was treated as 'Less Than'.

This might be a problem, can we fix it?

btw: SwiftFormat is awesome for me to use in our project. C

[2016-08-24 14:26] macoto-liu commented on #7
Here is the swift format version I used

➜  ~ swiftformat -version
swiftformat, version 0.3

[2016-08-24 14:30] nicklockwood commented on #7
Thanks, I'll add a test case and get that fixed for the next release.

[2016-08-24 17:31] nicklockwood commented on #7
Fixed in v0.4

[2016-08-24 17:31] #7 closed

[2016-08-24 22:21] macoto-liu commented on #7
It looks good for me in v0.4. Thanks for your quick fix :)

[2016-08-25 16:36] headcrash13 opened #8 "-f option for Run Script in automate section of the README?"
**${SRCROOT}/path/to/swiftformat -f /path/to/your/swift/code/**

Results in a: **error: unknown argument: -f.**

Shouldn't the -f be removed? I wasn't sure if there was a "hidden" argument for a build environment..?

I removed the -f, and it seems to be functioning as intended.

[2016-08-25 16:43] nicklockwood commented on #8
Yeah sorry, that's left over from an earlier version. I'll update the docs.

[2016-08-25 18:55] nicklockwood commented on #8
Fixed in v0.5

[2016-08-25 18:55] #8 closed

[2016-08-25 20:50] MrAdamBoyd opened #9 "Double wrapped optionals using dot notation not formatted correctly"
I noticed that SwiftFormat doesn't format double wrapped optionals that use dot notation correctly. It takes the working code and changes it so it can't compile. Here's an example of working code:

[code]
After SwiftFormat:
[code]

Notice the extra space before and after `??.` in the second line. This is reproducible 100% of the time for me.

[2016-08-25 21:35] nicklockwood commented on #9
Thanks, I'll take a look.

[2016-08-25 23:27] nicklockwood commented on #9
Fixed in 0.5.1

[2016-08-25 23:27] #9 closed

[2016-08-26 08:33] tonyli508 opened #10 "Callbacks Indentation Made Worse"
When having more than two callbacks, indentation just lost, it always consider they are at same level.

Code Before:

[code]

Code After:

[code]

[2016-08-26 08:41] nicklockwood commented on #10
I'll take a look, thanks!

[2016-08-26 15:30] jomnius opened #11 "Reformat corrupted code"
We have a debug feature to crash the application and we use this code:
`let crash: String? = nil; let _ = crash!
`

The "String? = nil" was reformatted as "String ?= nil" which does not compile

[2016-08-26 15:38] nicklockwood commented on #11
Thanks for the report, I'll fix it for the next update.

[2016-08-26 15:45] nicklockwood commented on #11
I can't seem to reproduce this. What version of SwiftFormat are you running?

Can you provide the whole file? (or a minimal file that still produce the error)

[2016-08-26 20:02] nicklockwood commented on #10
Fixed in v0.6

[2016-08-26 20:09] nicklockwood commented on #10
Sorry, I had to pull 0.6 due to a bug. Will re-release soon.

[2016-08-26 22:36] nicklockwood commented on #10
OK, good to go.

[2016-08-26 22:36] #10 closed

[2016-08-26 22:53] nicklockwood commented on #11
I can't reproduce this on any version, so I'm going to assume you just got a bad build. If you are still seeing this on version 0.6, please reopen the ticket.

[2016-08-26 22:53] #11 closed

[2016-08-27 17:05] garnett opened #12 "tuple binding has unexpected formatting"
Before:
```if let (_, v) = e.fields```

After:
```if let(_, v) = e.fields```

Notice missing space after ```let```

[2016-08-27 17:10] garnett opened #13 "SwiftFormat removes space before enum case inside a closure"
Before:

[code]

After:

[code]

Space before ```.Other``` is missing

[2016-08-27 17:16] garnett opened #14 "Objc imported selector has unnecessary spacing after formatting"
[code]

[2016-08-27 17:58] nicklockwood commented on #14
Thanks for reporting these! I'll get them fixed for the next release.

[2016-08-28 21:24] nicklockwood commented on #12
Fixed in v0.7

[2016-08-28 21:24] #12 closed

[2016-08-28 21:24] nicklockwood commented on #13
Fixed in v0.7

[2016-08-28 21:24] #13 closed

[2016-08-28 21:24] nicklockwood commented on #14
Fixed in v0.7

[2016-08-28 21:24] #14 closed

[2016-08-29 05:13] macbaszii opened #15 "Formatting issues"
[code]

In this case (Failable Initialization), SwiftFormat will make
1. space around `?` and you will get compile error. (strict by syntax)
2. space after < and before > in my generic T type. I think SwiftFormat see that symbol as greater than and lower than mark. So, I think it should be ignored in this case.

[2016-08-29 05:28] nypisces opened #16 "..< and .. should no space"
0...i
0..<i

[2016-08-29 07:02] nicklockwood commented on #15
Thanks, I'll get those fixed.

[2016-08-29 07:23] nicklockwood commented on #16
This was actually deliberate, as I think it looks nicer. It's different from what Apple does in their docs though, so maybe it should be configurable.

[2016-08-29 08:18] nicklockwood commented on #15
Fixed in 0.7.1

[2016-08-29 08:18] #15 closed

[2016-08-29 14:34] CodeReaper opened #17 "Multiple newlines and EOF"
Multiple newlines at the end of a swift file is not replaced by a single newline. Observed using version 0.7.1 and I am unaware if this is also the case when using previous versions.

[2016-08-29 16:10] nicklockwood commented on #17
Thanks, I'll look into it.

[2016-08-30 05:19] jomnius commented on #11
That was 0.5.1, seems to be ok in 0.7.1. Thanx!

[2016-08-31 21:02] nicklockwood commented on #17
Fixed in v0.8

[2016-08-31 21:02] #17 closed

[2016-08-31 21:02] nicklockwood commented on #16
I've added the `--ranges nospace` option to remove these in v0.8. I couldn't quite bring myself to remove them by default, sorry.

[2016-08-31 21:02] #16 closed

[2016-09-01 02:13] nypisces commented on #16
Thanks, I love this option.

[2016-09-01 09:38] JustinJiaDev opened #20 "[Suggestion] Empty Line Inside Out-Most Brackets Rule"
Add extra line after `{` and before `}` only for brackets without any indentation.

It is common to write code like this:

[code]

or:

[code]

[2016-09-01 10:29] nicklockwood commented on #20
This would be in conflict with the `blankLinesAtEndOfScope` rule which removes blank lines before a closing }.

This looks wrong to me.

    enum Foo {

        case a
        case b
        case c

    }

I feel like it should be

    enum Foo {
        case a
        case b
        case c
    }

But I haven't managed to come up with a rule for blank lines at the beginning of a scope. Normally I

[2016-09-01 10:49] JustinJiaDev commented on #20
The `enum` example looks wrong by itself, but people may add functions:

[code]

If I understand it correctly, `blankLinesAtEndOfScope` will affect all curly brackets? But this rule should be a special case—it will only affect out-most brackets.

Making this configurable sounds like a good idea!

[2016-09-01 10:50] JustinJiaDev commented on #20
Sometimes I write functions like this:

[code]

I won't add empty line inside `Bar`. Mainly because `Foo` is much longer.

[2016-09-01 11:53] nicklockwood commented on #20
`blankLinesAtEndOfScope` currently only removes the blank line at the end - it doesn't add one. So it will change this:

[code]

to this:

[code]

[2016-09-01 11:56] nicklockwood commented on #20
I get what you're saying about scopes at root level possibly requiring different treatment than ones that are nested. You might be right, but I still don't think I know what the rule should be yet. I'll think about it some more.

[2016-09-06 11:18] danielgalasko opened #22 "Add support for directories with spaces in names"
We just got SwiftFormat running for our team and noticed that it failed with the following error for any projects that were included in a folder with a space in the name. One example is: `Documents/Xcode Projects/ProjectToRunSwiftLintOn/`

The error we saw in Xcode's build log:

[code]

Changing the directory name to `XcodeProjects` fixed the issue

Thanks for the awesome tool! 👍

[2016-09-06 11:34] nicklockwood commented on #22
Did you try escaping the space with a \, or putting the path in quotes?

[2016-09-06 11:36] danielgalasko commented on #22
run script actually looks as follows:

[code]

So its not really possible unless we add a script to modify `$(SRCROOT)`

[2016-09-06 11:46] nicklockwood commented on #22
You can probably omit the `$(SRCROOT)/` altogether since the script runs relative to srcroot anyway, but this should work too:

[code]

[2016-09-06 11:49] danielgalasko commented on #22
Nice to know 😄 getting the feeling that this is actually an Xcode bug and not a SwiftFormat one? Feel free to close and thanks for the help 🙌

[2016-09-06 11:58] nicklockwood commented on #22
I think this is just how command line arguments work - they're space-delimited so spaces in arguments have to be escaped somehow. I'll add a note to the docs though because it's not obvious, especially if the space is hidden inside a macro.

[2016-09-07 19:59] nicklockwood commented on #22
I've updated the docs to make this clearer.

[2016-09-07 19:59] #22 closed

[2016-09-07 20:00] danielgalasko commented on #22
Great stuff sir 🙌

[2016-09-07 20:00] nicklockwood commented on #20
I've decided to take a different approach. I'm now adding space between functions, classes, etc regardless of scope. May not be popular with everyone, but we'll see.

[2016-09-07 20:00] #20 closed

[2016-09-08 05:32] RabugenTom opened #23 "Commas keep being appended for this array configuration."
For this configuration, a comma is appended after each run of SwiftFormat (v0.9):
[code]
becomes after a few runs:
[code]
If the array have several rows, it only affects the last one.

[2016-09-08 06:45] JustinJiaDev commented on #20
Sounds good. In this case maybe `blankLinesAtEndOfScope` should be revealed? It can be submerged into `blankLinesBetweenScopes`.

Btw, what about properties?

[2016-09-08 07:09] nicklockwood commented on #23
Thanks, I'll get that fixed.

[2016-09-08 07:56] nicklockwood commented on #23
Fixed in version 0.9.1.

It won't remove the commas it's already added I'm afraid, but it shouldn't add any more.

[2016-09-08 07:56] #23 closed

[2016-09-08 08:04] nicklockwood commented on #20
I'm pretty happy with not having a blank line at the end of a scope. Since the scope always ends with a } and a lower indent level than the previous line, there's never any visual overlap:

        last line
    }

I'm not sure if I like the blank line at the start of a scope or not, which is why I current ignore it. I may eventually make this configurable though.

I haven't worked out what to do

[2016-09-08 10:30] JustinJiaDev commented on #20
I agree.

[2016-09-09 06:38] RabugenTom opened #24 "Swiftformat fails for "case x is [String: String]:""
With v0.9.1
[code]
fails to be parsed. It seems to be caused by the colon after `Key`.

[2016-09-09 11:04] nicklockwood commented on #24
Thanks for reporting. I've managed to reproduce the issue, and will put up a fix shortly.

[2016-09-09 17:14] nicklockwood commented on #24
Fixed in 0.9.2.

[2016-09-09 17:14] #24 closed

[2016-09-10 18:00] nypisces opened #25 "Is it possbile to add an option for trailingCommas"
Or must build the rules by myself?

[2016-09-10 18:02] nicklockwood commented on #25
You mean an option to disable them?

[2016-09-10 18:27] nypisces commented on #25
yes

[2016-09-10 18:31] nicklockwood commented on #25
Not currently.

To disable the rule, remove that line from the array in Rules.swift and rebuild the tool.

To make it actively remove them, you'd need to write a new rule.

[2016-09-10 18:32] nypisces opened #26 "a bug about blankLinesBetweenScopes"
if a comment after a line, SwiftFormat will add one more line before function, so there are two blank lines
[code]

[2016-09-10 18:33] #25 closed

[2016-09-10 18:46] nicklockwood commented on #26
Thanks, I'll investigate!

[2016-09-12 17:25] nicklockwood commented on #26
Fixed in 0.9.3

[2016-09-12 17:25] #26 closed

[2016-09-13 08:24] 3lvis opened #27 "Newline bellow struct and class declaration"
Hi Nick!

First of all great work on this tool, the code wasn't that hard to read and it was well documented, the installation steps were top notch, getting this running was easy peasy.

Ok, now to the question, I've read on Twitter that you were sticking to Apple's style/guidelines when it comes to formatting, but I've noticed that you're adding a newline bellow struct and class implementations m

[2016-09-13 10:28] nicklockwood commented on #27
It's based on an interpretation of Apple's guidelines, which aren't always entirely self-consistent.

I don't currently add a space before a var inside a class or struct, but I do add it before a function or nested class, or between classes and functions at the same scope.  So my rules would not add spaces inside Apple's Resolution and VideoMode classes like they have in your UIColor extension.

F

[2016-09-13 10:50] 3lvis commented on #27
Oh, I see now, it's related to extensions, seems like this doesn't apply to class and struct. Thanks for your feedback!

[2016-09-13 10:50] #27 closed

[2016-09-14 16:28] RabugenTom opened #28 "Filemanager's default interfers with switch's default."
Hi Nick,

[code]
fails to be parsed (v0.9.3). It is confused by the `default` of `Filemanager` (as Github syntax highlighting!).

[2016-09-14 17:05] nicklockwood commented on #28
Interesting. This wouldn't even compile under Swift 2.2,  but it seems Swift 3 is a lot more relaxed about keywords.

Thanks for the report - I'll put up a fix asap.

[2016-09-14 17:14] RabugenTom commented on #28
`NSFileManager.defaultManager()` as been renamed `Filemanager.default` with Swift 3. The same with `NotificationCenter.default`.

[2016-09-14 17:30] nicklockwood commented on #28
So I gathered. Anyway, this is fixed in 1.9.4. Thanks again.

[2016-09-14 17:30] #28 closed

[2016-09-14 20:20] RabugenTom opened #29 "If "default" appears at the end of a line, the following one is indented."
Hi again Nick
This is related to #28: when a line ends with `default`, the next non empty line is indented, and if this line is a comment, the line after the comment is indented too (v0.9.4).
For example
[code]
is formatted as
[code]
Appending a semicolon after `default` prevents this.

[2016-09-14 23:13] nicklockwood commented on #29
OK, this (and hopefully all similar cases) is now fixed in v0.9.5. Thanks again.

[2016-09-14 23:13] #29 closed

[2016-09-16 03:09] RabugenTom opened #30 "The following configuration fails to be parsed."
Hi Nick,
SwiftFormat (v0.9.5) fails to parse the file when it contains something like:
[code]
It seems confused with the `case`'s in `f` and those of `B`.

[2016-09-16 17:11] nicklockwood commented on #30
Thanks - fixed in 0.9.6

[2016-09-16 17:11] #30 closed

[2016-09-16 17:26] RabugenTom commented on #30
Hi Nick,
It seems there is an issue with the binary bundled with 0.9.6. It seems
that some reference to a swift file on your desktop is hardcoded. No issues
when the binary is built from code.
Best regards.
Le ven. 16 sept. 2016 à 14:11, Nick Lockwood <notifications@github.com> a
écrit :

[2016-09-16 17:51] nicklockwood commented on #30
Yes, I forgot to rebuild after fixing the bug. Should be fixed if you redownload.

[2016-09-16 18:17] jerrydillon opened #31 "Suggestion - Rules Configuration"
Great start on what could be a very useful tool.
What would be great is if you could work on a configurable set of flags to turn on/off.

Examples

- Extra Line breaks after declarations on/off
- Terminating value containers with commas yes/no
- Brace positions same line / next line

Great start!!

[2016-09-19 07:51] nicklockwood commented on #31
Thanks for the suggestions. I would like to add more configuration options at some point, but my priority for the time being is to fix all the bugs and get the standard set of rules as refined as possible.

Features like Allman-style braces (where the bracket appears on next line) would be fun to add, but AFAIK almost nobody uses this style for Swift code, and I don't want to add style options jus

[2016-09-22 08:26] danielgalasko opened #32 "Incorrectly transforming documentation comments to code block documentation"
Given a trivial documentation comment for a method, its documentation is rendered as follows

![screen shot 2016-09-22 at 10 22 51 am](https://cloud.githubusercontent.com/assets/4479146/18741300/b5382f30-80ae-11e6-8d6b-b622f956bae8.png)

When swiftformat is run, the following is produced

![screen shot 2016-09-22 at 10 23 08 am](https://cloud.githubusercontent.com/assets/4479146/18741316/cd5b1b18-

[2016-09-23 07:38] nicklockwood commented on #32
Thanks, looking into it now.

[2016-09-23 07:44] danielgalasko commented on #32
Side note, it also flattens out any indentation for code blocks AKA

[code]

This will end up as

[code]

[2016-09-23 09:02] 3lvis commented on #32
@danielgalasko

The second comment might be related to some of the listed Known Issues:

https://github.com/nicklockwood/SwiftFormat#known-issues

:)

[2016-09-23 09:55] nicklockwood commented on #32
@danielgalasko yeah, the second is a known issue. There are some workarounds suggested in the README.

[2016-09-24 22:52] nicklockwood commented on #32
This should now be fixed in 0.11 (the first issue, not the second).

[2016-09-24 22:52] #32 closed

[2016-09-25 07:28] danielgalasko commented on #32
Wow brilliant stuff @nicklockwood 🙌

[2016-10-03 03:37] tonyarnold opened #33 "Incorrect indenting of closures"
Closures aren't being correctly indented, as shown in the examples below. This is happening whether there are parameters in the closure or not.

## Incorrect

[code]

## Correct

[code]

[2016-10-03 07:08] nicklockwood commented on #33
Thanks, I'll take a look.

[2016-10-04 08:01] nicklockwood commented on #33
Fixed in version 0.11.1

[2016-10-04 08:35] tonyarnold commented on #33
Sorry Nick, I'm still getting slightly incorrect results on the code I posted above with 0.11.1.

I'm getting:

[code]

I would expect:

[code]

[2016-10-04 08:40] nicklockwood commented on #33
Oh, hmm. I thought I'd run it on that example. OK, I'll check again. Thanks!

[2016-10-04 08:49] nicklockwood commented on #33
OK, I see the problem - it behaves differently inside a for-loop. I'll take another crack at it :-)

[2016-10-04 10:10] nicklockwood commented on #33
Should be working in 0.11.2

[2016-10-04 10:10] #33 closed

[2016-10-04 13:17] tonyarnold commented on #33
👌 Perfect. Thankyou, sir!

[2016-10-04 13:24] tonyarnold opened #34 "Enforce space between [* self] and parameters in closures"
Given the following closure:

[code]

I would expect the space to remain between `[unowned self]` and the parameters `(result, textField)`, however SwiftFormat 0.11.2 is removing the space.

[2016-10-04 13:32] tonyarnold opened #35 "More fun with indentation in closures"
Sorry dude, I'm opening new issues as not to flood the original. We're like 95% of the way there for my use case 😁

Given:

[code]

I would expect similar formatting to the sample above (we can argue about the switch indentation some other time), however SwiftFormat 0.11.2 is outputting the following:

[code]

Here is a sample document: [closure.swift.zip](https://github.com/nicklockwood/SwiftForm

[2016-10-04 17:49] nicklockwood commented on #34
Fixed in 0.11.3

[2016-10-04 17:49] #34 closed

[2016-10-04 17:50] nicklockwood commented on #35
Not at all - thanks for all the great bug reports!

(Fixed in 0.11.3)

[2016-10-04 17:50] #35 closed

[2016-10-04 23:40] tonyarnold opened #37 "Multi-line guard statement indentation"
This one might require bike shedding. I'm not 100% sure what the general convention is for this, but I prefer to split my guard statements up over a number of lines.

Current SwiftFormat will do this:

[code]

Whereas I would prefer that it outdent the `else` to align with the `guard` start (much like an `if…else` control statement):

[code]

In my eyes, that's easier to read, but I understand tha

[2016-10-04 23:44] tonyarnold commented on #37
Although if the goal is to match Xcode where possible, they do:

[code]

[2016-10-05 00:11] yonaskolb opened #38 "Optional nill"
Hi, great tool!

One issue I've come across is with optional function parameters that default to nil
`value:String?=nil`
gets changed to
`value: String ?= nil`
which results in a compile time error. It should be
`value: String? = nil`

[2016-10-05 09:39] nicklockwood commented on #38
Thanks, I'll fix it.

[2016-10-05 13:32] nicklockwood commented on #38
Fixed in 0.11.4

[2016-10-05 13:32] #38 closed

[2016-10-05 13:44] nicklockwood commented on #37
Matching Xcode is not an explicit goal - in some cases I deliberately deviate from it when it clashes with my own preferences (but in those cases I usually add an option to make it behave like Xcode, unless I think Xcode's behaviour is a bug rather than a deliberate choice by Apple).

Ideally I don't want to deviate too far from Apple standard, nor do I want to try to support every nonstandard var

[2016-10-05 23:24] tonyarnold commented on #37
Fair enough, I do understand your logic. It would be nice if it matched Xcode 😄

How do you prefer to format these blocks?

[2016-10-06 02:00] tonyarnold opened #40 "Formatting of code fragments"
I'd love to see a `FormatOption` property to treat the passed input as a fragment of a larger section of code. This would aid with formatting user selections in Xcode, rather than the entire file.

I believe the "simplest" way to implement this would be to take the existing indent of the first line of code passed to `SwiftFormat.format()` and retain it (and indent subsequent lines relative to the

[2016-10-06 08:46] nicklockwood commented on #40
I was going to say this seems like a good idea, but I see you've already implemented it!

[2016-10-06 08:52] tonyarnold commented on #40
Oh, no, I haven't! I started to, but I couldn't quite get my head around where to retain the necessary indent. I'm happy to have another crack with some guidance.

[2016-10-06 08:52] tonyarnold commented on #40
I just implemented formatting of selections. They lose their indent entirely, and drop back to start from column 0.

[2016-10-06 09:23] nicklockwood commented on #37
Xcode is (IMHO) inconsistent in how it handles these cases:

    // body and closing brace indented based on the indent of the if statement
    if foo ||
        bar {
        // do stuff
    }

    // body indented based on the indent of the opening brace
    // closing brace indented based on the indent of the guard statement
    guard foo
        else {
            // do stuff
    }

    // bod

[2016-10-06 09:24] nicklockwood commented on #40
Ah OK. I'll take a look at doing it then.

[2016-10-06 10:20] tonyarnold commented on #37
Yeah, there are quite a few Swift formatting issues in Xcode. I'm not sure filing a radar about their whacko indentation of switch cases is more worth of my time than contributing to this project, so I'll do this instead 🌻

[2016-10-06 13:42] nicklockwood commented on #37
Re: switch/case, do you mean that you'd prefer

    switch foo {
        case .bar:
            break
        default:
            break
    }

to

    switch foo {
    case .bar:
        break
    default:
        break
    }

?

[2016-10-06 14:00] yonaskolb commented on #37
I know I'd prefer the former - indenting the case statements

[2016-10-06 14:19] nicklockwood commented on #37
Should be straightforward to implement, but it would need to be optional (defaulting to current behavior).

[2016-10-06 19:35] nicklockwood commented on #40
@tonyarnold here you go: https://github.com/nicklockwood/SwiftFormat/pull/41

[2016-10-06 19:49] tonyarnold commented on #40
You're a good person. Thanks for being so fast!

[2016-10-07 17:40] szweier opened #42 "Multi param method calls indent doesn't match Xcode"
Xcode indent:
[code]

SwiftFormat:
[code]

Is there a setting to keep the format matching Xcode for this case?

[2016-10-07 20:58] nicklockwood commented on #42
Not currently, but I'll consider adding support for this.

[2016-10-07 21:03] nicklockwood commented on #42
In the meantime, you may find the formatting looks nicer when written like this:

    let result = self.method(
        value1,
        param2: value2,
        param3: value3
    )

[2016-10-08 22:18] #40 closed

[2016-10-08 22:33] nicklockwood commented on #37
As of v0.12, multiline guard is now indented like this:

[code]

[2016-10-08 22:33] #37 closed

[2016-10-11 04:36] tonyarnold opened #43 "Fragment option is swallowing trailing newlines"
Given the following bit of code (note the trailing newline):

[code]

I would expect the output to be the same as the input here, however SwiftFormat is removing that trailing newline. If there were two trailing newlines, then yeah, I reckon trim one of them - but not a single trailing newline.

This is affecting #39, as a common use-case is to select a function in amongst other functions and form

[2016-10-12 17:41] nicklockwood commented on #43
Sorry for the radio silence, been a bit busy - anyway, here's the fix: https://github.com/nicklockwood/SwiftFormat/tree/trailing-linebreak-fix

(I'll probably just merge it into the same release as the xcode plugin rather than include it in a release on it's own, which is why I've not merged and tagged it yet)

[2016-10-13 03:34] tonyarnold commented on #43
LGTM! :shipit:

[2016-10-13 15:46] karolus opened #44 "Space after @escaping"
Currently `SwiftFormat` is removing space between `@escaping` and closure type, so instead of `@escaping (String) -> Void` it end up as `@escaping(String) -> Void`. Is it intentional behaviour? For me it looks strange - like `@escaping` only applies to arguments of the closure, instead of whole closure type. Of course it doesn't make sense for someone who knows Swift, but still - formatting, at th

[2016-10-14 08:04] nicklockwood commented on #43
Fixed in 0.12.1

[2016-10-14 08:04] #43 closed

[2016-10-14 08:04] nicklockwood commented on #44
Fixed in 0.12.1

[2016-10-14 08:04] #44 closed

[2016-10-14 12:24] ole opened #46 "Is preprocessing CLI arguments really necessary?"
I just read your blog posts about SwiftFormat. Great writeup!

[In part 3](http://bytes.schibsted.com/swiftformat-part-3/), I was surprised to read about the hoops you had to jump through to preprocess command-line arguments to deal with filenames with spaces or escaped quotes. The shell should handle this for you, shouldn't it?

Consider this tiny test program that simply prints the arguments it

[2016-10-14 17:47] EmilioPelaez opened #47 "Change indent rule: Keep indentation level of empty lines as the context around"
Right now, if you have:
[code]
EMPTY LINE won't be indented, keeping them indented is Xcode's default and practical, in my opinion, since you don't have to indent when you want to use that line.

I don't suggest that the default behavior is changed, but I'd like to make it an option. I tried to modify the `indent` rule to allow that but was not successful, I would appreciate some guidance.

[2016-10-15 22:09] nicklockwood commented on #46
Heh, I did think it was strange that this was necessary. It's entirely possible that I simply messed up in early testing and jumped to the wrong conclusion.

[2016-10-16 21:37] nicklockwood commented on #46
Yeah, this wasn't necessary. Thanks for the heads up!

[2016-10-16 21:37] #46 closed

[2016-10-17 19:00] mergesort opened #48 "Customizable SwiftFormat rules"
I was hoping for a mechanism to customize or disable the rules, outside of building a custom binary.

Currently I remove the `blankLinesAtEndOfScope` rule, because I like to end structs/classes/enums with a blank line, and make sure manually to not do the same for functions. If that was customizable, that would be great, otherwise I'd like to be able to just disable the rule.

This tool is great t

[2016-10-17 20:15] 3lvis opened #49 "SwiftFormat adds a comma at the end of array"
#### Used version: 0.13

#### Example
<img width="524" alt="screen shot 2016-10-17 at 22 13 15" src="https://cloud.githubusercontent.com/assets/1088217/19453843/36611d08-94b7-11e6-91bc-26549d34d10e.png">

[2016-10-17 22:00] nicklockwood commented on #49
This is by design. It's good practice because it means that if you add extra lines, the last line isn't marked as modified in a git commit.

[2016-10-17 23:43] #49 closed

[2016-10-18 08:10] 3lvis commented on #49
Makes sense, thanks!

[2016-10-21 12:07] ollitapa commented on #42
I would like to see colon alignment like this:
[code]
I'm not sure if this is the swift way, but this used to make code look cleaner in Obj-C

[2016-10-21 21:46] nicklockwood commented on #31
FYI, trailing commas can now be disabled.

[2016-10-21 21:47] nicklockwood commented on #49
FYI, trailing commas can now be disabled.

[2016-10-21 21:48] nicklockwood commented on #42
@szweier this is fixed in 0.14

(@ollitapa colon alignment isn't supported at the moment, but feel free to open a separate feature request for that)

[2016-10-21 21:48] #42 closed

[2016-10-22 07:51] ollitapa opened #50 "Colon alignment for method arguments"
I would like to see colon alignment for method parameters like this:

[code]

I'm not sure if this is the swift way, but I think it would make the code look cleaner like in Obj-C

[2016-10-22 09:22] 3lvis commented on #49
Thanks!

[2016-10-27 18:46] nicklockwood commented on #48
If you use `--removelines false` in version 0.15 that should solve your problem. If you use the Xcode Extension, it's now off by default.

[2016-10-27 18:46] #48 closed

[2016-10-27 18:48] nicklockwood commented on #47
Use `--trimwhitespace nonblank-lines` to disable this in the 0.15 command-line app. If you use the Xcode Extension, it will infer the setting from your file.

[2016-10-27 18:48] #47 closed

[2016-10-27 18:48] nicklockwood commented on #31
These configuration options are all implemented version 0.15.

[2016-10-27 18:48] #31 closed

[2016-10-27 21:36] mergesort commented on #48
Thank you. ❤️

[2016-11-02 14:25] regexident commented on #50
I personally have come to prefer

[code]

since Swift 3 unified the syntax by extracting the `bar:` from `fooWithBar(42, …)` to `foo(bar: 42, …)` on most of Apple's APIs.

The benefit is resilience against long variable/method names:

[code]

vs.

[code]

Colon-alignment was the best we had for Objective-C, but more than suboptimal with Swift 3+, imho.

[2016-11-02 14:32] nicklockwood commented on #50
@regexident SwiftFormat fully supports that style, but it's up to you to insert the linebreaks.

[2016-11-02 14:36] regexident commented on #50
@nicklockwood: I know. It was more meant as a "please don't make this the default, there's a much better alternative". :wink:

[2016-11-02 17:41] ollitapa commented on #50
Of course no amount of formatting can make everything look pretty and it's always a matter of taste 😜
I wouldn't want this to be default since it is not used by Apple. I would make a fork just for myself if someone could point me to right direction, where to place such a formatter.

[2016-11-03 03:18] bencochran opened #52 "Extra space in generic operators"
Given the following before formatting:
[code]

I get this after formatting:
[code]

[2016-11-03 05:53] bencochran commented on #52
I started exploring a fix: https://github.com/nicklockwood/SwiftFormat/compare/master...bencochran:generic-operator

It handles the above case, but would still fail with:
[code]
(which will be invalid syntax in future Swift, but for now…)

[2016-11-03 06:05] bencochran opened #53 "Extra space inserted into `@autoclosure(escaping)`"
It’s been deprecated in Swift 3, but valid Swift 2.3 attribute `@autoclosure(escaping)` gets reformatted as `@autoclosure (escaping)`

[2016-11-03 06:13] bencochran opened #54 "Extra whitespace inserted into `Array<Array<Dictionary<String, Int>>>`"
[code]
turns in to:
[code]

[2016-11-03 06:31] bencochran opened #55 "Incorrect formatting of `(Void) throws -> Void`"
[code]
turns in to
[code]
without the `throws` it correctly turns in to
[code]

[2016-11-03 18:31] nicklockwood commented on #55
Fixed in 0.16.2. Thanks!

[2016-11-03 18:31] #55 closed

[2016-11-03 18:31] nicklockwood commented on #54
Fixed in 0.16.2. Thanks!

[2016-11-03 18:31] #54 closed

[2016-11-03 18:31] nicklockwood commented on #53
Fixed in 0.16.2. Thanks!

[2016-11-03 18:31] #53 closed

[2016-11-03 18:44] nicklockwood commented on #52
Thanks for trying! I ended up doing quite a major refactor to fix this.

My original implementation was treating < and > as operators and then trying to work out if they were generic scope delimiters, which meant I was having to both split up operators like >> and <<=, *and* stitch them back together again if it turned out that a > that I thought was a generic was really a greater-than operator.

[2016-11-03 18:44] #52 closed

[2016-11-03 21:29] bencochran commented on #52
Amazing, thank you! I wasn’t a big fan of the approach I was taking for this fix, but it was a good tiptoe into how your tokenizer works. The real fix looks nice!

[2016-11-04 07:01] moshiwu opened #56 "Not Support for Playground"
![image](https://cloud.githubusercontent.com/assets/15337294/19997160/7eb353a0-a29f-11e6-8122-56a0d461fb7c.png)

[2016-11-07 04:10] RabugenTom opened #57 "Extra space in generics II"
With SwiftFormat 0.16.4,
[code]
becomes
[code]
It seems related to #52 and #54.

[2016-11-07 15:21] garnett opened #58 "Xcode generated availability check gets unnecessary whitespace"
was `if #available(iOS 9.0, *) {` // autosuggested and generated by Xcode when using unavailable APIs
 swiftformat 0.16.4: `if #available (iOS 9.0, *) {`

[2016-11-08 00:47] mergesort opened #59 "Distribution Through Homebrew"
I was wondering if you had considered adding SwiftFormat to the package manager [Homebrew](https://github.com/Homebrew). That way it would be possible to maintain and update it more easily, by directing users to install via `brew install swiftformat`, and update to the latest versions with `brew update swiftformat`.

Thanks a lot!

[2016-11-08 02:18] mergesort opened #60 "No header comments"
I wanted to suggest another feature. I'd love a SwiftFormat rule to remove the default comments that Xcode adds in when creating a new file. They usually look like this:

[code]

This would allow my team to stop using custom templates, or having to remember to remove the comments at the top of files.

Would love to hear what you think!

[2016-11-08 02:26] mergesort commented on #58
This is also happening for `#imageLiteral` and `#colorLiteral` syntax which Apple introduced in Xcode 8.

`#imageLiteral(resourceName: "icon")` is turning into `#imageLiteral (resourceName: "icon")`

[2016-11-08 07:24] nicklockwood commented on #60
This is a great idea. The main challenge is how to implement the name and date substitution.

I guess the date could be the file creation date. The name could come from the system, but that wouldn't work if you were running SwiftFormat on a CI server.

[2016-11-08 09:41] garnett commented on #60
@nicklockwood, I think @mergesort (please correct me if I am wrong) means to delete header comments completely, not shaping them in uniform format.
My team does the same, we are not interested in any header info like author / date, we just manually delete them.

[2016-11-08 10:07] nicklockwood commented on #60
@mergesort @garnett ah, I see. That's certainly simpler, but most places I've worked at prefer to have a custom header format rather than strip it completely.

Still, I guess I can implement the simpler case first, and consider a custom header later.

[2016-11-08 10:08] nicklockwood commented on #58
Looks like I'm explicitly checking for #selector and #keyPath, which is a clunky way to do it. I'll find a better solution. Thanks!

[2016-11-08 10:09] nicklockwood commented on #57
Yay, more generics bugs! :-) Thanks for reporting, I'll fix it ASAP.

[2016-11-08 12:06] nicklockwood commented on #57
@RabugenTom  This is working correctly for me. Are you sure you're running 0.16.4?

If so, can you attach the whole file (or a cut down version) that includes that line and is formatted incorrectly?

[2016-11-08 13:44] RabugenTom commented on #57
Indeed, it's an inequality a few lines below that makes it fail. Here is a minimal failing example:
[code]
becomes
[code]
with 0.16.4 (confirmed).

[2016-11-08 15:19] mergesort commented on #60
I did indeed want the simpler case, just to plainly to delete the headers. That said, the other options seem pretty cool too, and I'd throw a vote for them as well.

[2016-11-08 23:47] nicklockwood commented on #60
Stripping header comments is implemented in v0.17. Use `--header strip` as the command line option. (Replacing with a different header is not currently supported.)

[2016-11-08 23:47] #60 closed

[2016-11-08 23:48] nicklockwood commented on #58
Fixed in 0.17

[2016-11-08 23:48] #58 closed

[2016-11-08 23:49] nicklockwood commented on #57
Thanks for the clarification! Fixed in 0.17.

[2016-11-08 23:49] #57 closed

[2016-11-09 11:39] angelolloqui opened #61 "Tokenizer splitting ..< when a comment follows"
This code:
[code]

Results in this tokens:
[code]

Which looks OK.

However, when adding a comment after the expression, then the tokenizer replaces `.symbol("..<")` with 2 tokens, a `.symbol("..")` and a `.startOfScope("<")`. Example:

[code]

Results in:
[code]

The start of scope is a very delicate token because it makes other searches break, as everything after the `<` is in a different scope

[2016-11-09 11:45] nicklockwood commented on #61
Nice catch!

By all means have a go at fixing it, or I'll tackle it myself this evening. Either way, a PR with a unit test to reproduce the issue would be much appreciated!

[2016-11-09 21:19] nicklockwood commented on #61
Fixed in 0.17.1

[2016-11-09 21:19] #61 closed

[2016-11-09 21:19] nicklockwood commented on #56
Fixed in 0.17.1. Thanks!

[2016-11-09 21:19] #56 closed

[2016-11-10 10:55] nicklockwood commented on #50
This is more difficult than I anticipated due to the way tabs work.

In Xcode, it has a concept of "tab width", e.g. a tab is equivalent to 4 spaces. Setting aside that this completely misses the point of using tabs, it makes it possible for Xcode to indent using a mix of tabs and spaces in order to align at a particular character.

In SwiftFormat, I don't have a concept of tab width - if you choo

[2016-11-10 16:31] ollitapa commented on #50
Ah, didn't actually think that tabs are preferred in swift. I've a "spaces" guy myself and work in a project where spaces are used instead of tabs. It'd be great to have it for spaces at least :)

[2016-11-11 04:52] yonaskolb opened #62 "redundentParens error"
So
`if (items.contains { $0 == item }) {`
is now getting changed to
`if items.contains { $0 == item } {`
Which results in a compiler error `Trailing closure requires parentheses for disambiguation in this context`
I believe this is a new error in swift 3

[2016-11-11 05:14] yonaskolb opened #63 "Closure Indenting"
Old versions use to format to this:
[code]
but newer releases format to:
[code]

I'm not sure which version introduced the change or how. Maybe how it's formatting now is to solve another use case?

[2016-11-11 07:22] nicklockwood commented on #63
Ah, I know what caused this. It was indeed a fix for another use case - I'll see if I can find a solution that works for both. Thanks!

[2016-11-11 08:46] nicklockwood commented on #63
Hmm, although I think I know what caused the issue, I can't reproduce the bug with this code sample. I think there must have been something before or after this code in the same file that triggered it.

Can you check again and provide a code sample that fails when tested in isolation? Thanks!

[2016-11-11 09:13] nicklockwood commented on #63
OK, I figured it out. Can you retest with 0.17.2? Thanks.

[2016-11-11 09:13] #63 closed

[2016-11-11 09:14] nicklockwood commented on #62
Fixed in 0.17.2. Thanks!

[2016-11-11 09:14] #62 closed

[2016-11-14 09:04] JustinJiaDev commented on #59
+1!

PS: Xcode Extension now can also be put on the App Store.

[2016-11-17 00:19] Rerel opened #64 "if parenthesis, missing space formatting"
tested with release 0.17.2

Old version
`if(viewModel.stuff) {`

Converted version
`ifviewModel.stuff {`

[2016-11-17 09:01] nicklockwood commented on #64
Fixed in 0.18. Thanks!

[2016-11-17 09:01] #64 closed

[2016-11-23 13:49] nicklockwood commented on #59
SwiftFormat 0.18 is now on Homebrew.

[2016-11-23 13:49] #59 closed

[2016-11-23 21:24] kirakik opened #66 "How to run on a CI?"
Great project! It would be fine to have some info on how to run it on a CI :)

[2016-11-28 11:08] wokalski opened #67 "Replaces symlinks with contents of the linked file"
When `swiftformat` encounters a symlink it replaces it with contents of the symlinked file.

[2016-11-28 13:10] nicklockwood commented on #67
Thanks. Can you give a precise example, so I can check that I'm fixing the right thing? Is this when the path you specify in the command line is a symlink, or when the specified folder contains a symlink, etc?

[2016-11-28 13:23] wokalski commented on #67
Sure. I'll create a reproducible case today. I had the problem when I ran `swiftformat` in a directory whose subdirectory contained a symlink

[2016-11-28 16:43] nicklockwood commented on #67
Thanks, I think that's enough for me to go on.

[2016-11-28 19:33] wokalski commented on #67
@nicklockwood I can't reproduce. I hope you haven't started digging through it. I suppose it was Xcode that replaced the content and I didn't notice. Sorry for that.

[2016-11-28 19:51] nicklockwood commented on #67
@wokalski I was able to reproduce it for individually symlinked swift files, but not for directories. Probably not likely to be a common problem, but worth a fix anyway 👍

[2016-11-28 21:00] hailie-rei opened #68 "Can't install as an extension"
Hello!
Please help me to figure out what I'm doing wrong.
I'm using macOS 10.11 (El Capitan). I drag the app to the Applications, but when I run it, "Xcode Source Editor" doesn't appear in the System Preferences -> Extensions.
I ran console command before it and after it and restarted my Mac, but it didn't help.
Thank you!

[2016-11-28 21:02] nicklockwood commented on #68
I couldn't get it to work on 10.11 either I'm afraid. Works fine on 10.12.

[2016-11-28 21:03] hailie-rei commented on #68
Thank you! It seems I really should upgrade my OS :)

[2016-11-29 20:18] kdubb opened #69 "Configure extension options without rebuilding"
The ability to configure the editor extension without requiring a rebuild would be a great next feature.

I'm not sure how well UI is handled in an editor extension (which may be the reason for the extensions current limitation) but other methods like a `.swiftformat.yml` file in a directory would seem fairly easy; this is the method [SwiftLint](https://github.com/realm/SwiftLint) has adopted and

[2016-11-29 21:05] nicklockwood commented on #69
There's no way to provide UI for editor extension except via the host app. But it infers the config from the file you are formatting, so once you've formatted once with the command line, it should apply correct styles via the extension.

[2016-12-01 16:14] garnett opened #70 "Swiftformat strips space between while loop and condition"
swiftformat 0.18

### before

[code]

###after

[code]

[2016-12-01 16:54] nicklockwood commented on #68
I don't think there's anything I can do about this, so I'm closing for now. Feel free to re-open if you find a solution, or something else comes up.

[2016-12-01 16:54] #68 closed

[2016-12-02 23:11] nicklockwood commented on #70
Fixed in 0.19. Thanks!

[2016-12-02 23:11] #70 closed

[2016-12-02 23:12] nicklockwood commented on #67
This is now configurable in 0.19.

[2016-12-02 23:12] #67 closed

[2016-12-02 23:14] nicklockwood commented on #50
@regexident SwiftFormat 0.19 can now enforce your preferred style using `--wraparguments beforefirst`

[2016-12-02 23:30] nicklockwood commented on #66
I've no idea how, but perhaps someone else can contribute some docs to the readme?

[2016-12-14 12:01] 3lvis opened #71 "Allman style braces from command line"
Hi Nick,

First of all thanks again for such an awesome tool. :)

I'm trying to run the `swiftformat` command (from brew) but want to use Allman style braces (since the project owner uses that). I've been digging through the docs but haven't found a way to do this. Could you help me out, please?

[2016-12-14 13:25] nicklockwood commented on #71
I'm pretty sure this is covered in the help shown in the command-line tool, but the option you need is `--allman true`

However, a better approach if you're trying to match the existing project style is to run

    swiftformat --inferoptions path/to/project/folder

Then run the tool using the options suggested by the previous command

[2016-12-14 23:55] #71 closed

[2016-12-15 07:38] 3lvis commented on #71
Thanks Nick! I'll give it a try today.

[2016-12-19 16:07] garnett opened #72 "swiftformat adds unnecessary space after `?` in ternary operator expression"
Tested on 0.20

[code]

[2016-12-19 16:30] nicklockwood commented on #72
Thanks - I'll look into this.

[2016-12-19 23:28] garricn opened #73 "Missing space after paren removal from if statement starting with `!` operator"
Before:

[code]

Expected:

[code]

Result:
[code]

[2016-12-19 23:55] nicklockwood commented on #73
@garricn can you confirm what version of SwiftFormat you are running? I believe this was fixed in version 0.19.

[2016-12-20 00:35] garricn commented on #73
Oh no! I thought I updated to latest version. My bad, yes I was running 0.18 :( Anyhow, thank you!

[2016-12-20 00:35] #73 closed

[2016-12-20 00:36] garricn commented on #73
Just confirmed update to 0.20 :)

[2016-12-20 00:37] nicklockwood commented on #73
No problem! (btw I shipped 0.21 about 5 seconds ago :D)

[2016-12-20 00:48] nicklockwood commented on #72
Fixed in 0.21

[2016-12-20 00:48] #72 closed

[2016-12-20 20:29] garricn opened #74 "Add --verbose option"
As a developer, I want to be able to see a verbose output of SwiftFormat so I can know which files are-being or were changed and which are-not-being or were-not changed.

[2016-12-24 00:23] olbrichj opened #75 "Config File"
I might have missed it, but is there an option to run SwiftFormat with a config file similar to swiftlint?

[2016-12-24 09:45] nicklockwood commented on #75
No, currently you have to enter the options via the command line.

[2016-12-24 22:30] olbrichj commented on #75
Thanks for the reply. Would be great to add this to the roadmap :)

[2017-01-03 05:34] blackp opened #76 "removes whitespace around inequality operator with repeated if statements"
Only used this for the first time today. Seems like a great tool, thanks for making it!

Unfortunately came across a strange bug that introduces a compiler error for one of my files. Please excuse if I'm missing something obvious as a newbie, but I've done a little trial and error and it seems to boil down to multiple if statements in a row.

In my case it's removing whitespace around the less tha

[2017-01-03 12:21] nicklockwood commented on #76
Thanks for reporting it. That definitely shouldn't happen! I'll take a look ASAP.

[2017-01-03 19:31] nicklockwood commented on #76
Fixed in version 0.22

[2017-01-03 19:31] #76 closed

[2017-01-03 20:26] blackp commented on #76
Thanks @nicklockwood! You beat me to it. I was fascinated to poke around a bit and was just about to post a failing unit test that exhibited the bug in the tokenizer.

I like that your test suite is so comprehensive. Now that I've looked under the hood a bit I'm even more impressed with what you've got here.

[2017-01-03 22:22] nicklockwood commented on #76
@blackp thanks!

I haven't managed to fix it properly yet - I just substituted that bug for a less serious one.

So, if you feel like a challenge then by all means keep poking!

[2017-01-05 13:22] tadeuzagallo opened #77 "Errors on `enumerateSwiftFiles` are reported on the top-level directory"
Any parse errors are reported in the path passed to SwiftFormat, since `enumerateSwiftFiles` will recursively catch the exceptions. This makes it quite difficult to find the offending files.

[2017-01-05 13:30] tadeuzagallo opened #78 "SwiftFormat crashes with `illegal hardware instruction`"
Not sure what information you need, happy to help debug given some pointers. I saved a coredump in any case. Here's the stack trace:

[code]

EDIT: the command I was running was:

[code]

[2017-01-05 17:38] tadeuzagallo commented on #78
We chatted offline, but I'll leave it here for the sake of history in case someone finds it later:

It seems that the issue happens when you have a comment immediately before a closing brace.

Minimal repro:

[code]

[2017-01-09 17:37] charmaex opened #79 "weird unusedArguments replacement"
Hi Nick,

using SwiftFormat 0.22 it replaced unused variable names in methods which I like in general.

But I find this a bit weird looking:

func x(name: String) to func x(name _: String)

func x(_ name: String) to func x(_: String) ist looking fine.

I'd appreciate if you change the upper behaviour to leave it as is :)

Thanks for your time

[2017-01-09 18:34] nicklockwood commented on #77
Fixed in 0.23

[2017-01-09 18:34] #77 closed

[2017-01-09 18:34] nicklockwood commented on #78
Fixed in 0.23. Thanks!

[2017-01-09 18:34] #78 closed

[2017-01-09 18:42] nicklockwood commented on #79
Yeah, I agree that it does look a bit weird.

I'll consider adding an option to disable the feature for named arguments only.

In the meantime, you can disable the rule altogether by adding `--disable unusedArguments` to the command line.

[2017-01-11 03:54] mergesort opened #80 "Stripping used closure parameters (version 0.23)"
I'm running into an issue, where the return type is being stripped out incorrectly from a closure.

[code]

The issue is that the `Promise<String>` is being converted to `Promise<_>` for some reason, even though it's being used. This compiled before (I upgraded from 0.19) and now keeps inserting that incorrectly.

Any help would be appreciated, happy to provide more info as necessary.

[2017-01-12 21:47] kdubb opened #81 "[Q] Console coloring"
Is `swiftlint` coloring its output?  My console is so dark it's unreadable.

<img width="552" alt="screen shot 2017-01-12 at 1 45 17 pm" src="https://cloud.githubusercontent.com/assets/787655/21909618/ed566eb6-d8d5-11e6-8787-37b9c3f4d9b2.png">

[2017-01-12 21:56] nicklockwood commented on #81
Yes, it's setting the color to black, which I assumed was the default, but it seems not.

[2017-01-12 22:48] kdubb commented on #80
If it adds any insight this happens for us as well, specifically on `Promise<>`

[2017-01-12 23:26] nicklockwood commented on #80
Sorry for not responding sooner, not sure how I missed this

 I'll try to get a fix up asap. In the meantime, you can work around it by adding `--disable unusedArguments` to the swiftformat command.

[2017-01-14 01:50] nicklockwood commented on #81
Fixed in 0.23.1

[2017-01-14 01:50] #81 closed

[2017-01-14 01:50] nicklockwood commented on #80
Fixed in 0.23.1

[2017-01-14 01:50] #80 closed

[2017-01-15 16:08] longkai opened #82 "Compile error after applying format in generic type of UnsafePointer"
After applying `swiftformat .`, ran `git diff` and got,

[code]

Then the compiler complaint with,

[code]

Plus my environment,
[code]

[2017-01-15 16:45] nicklockwood commented on #82
Hi, I believe this was fixed in version 0.23.1 (release yesterday). Can you let me know if not? Thanks.

[2017-01-15 16:50] longkai commented on #82
Yes, it is fixed. I am sorry I ran the old version. Thanks.

[2017-01-15 16:50] #82 closed

[2017-01-16 16:45] mergesort opened #83 "Handling unusedArguments in delegate methods"
I don't know if this is a bug or not, but this [kind of] replacement feels strange.

From:
[code]

To:
[code]

While I understand why it's happening, I'm wondering if there's a way to leave it in for delegate methods.

In practice this seems like an especially common scenario (in delegate methods), for example if your spec changes and you have to add `tableView.deselectRow(at: indexPath)` into the

[2017-01-16 17:13] nicklockwood commented on #83
@mergesort when you say "other times", do you mean just in closures, or are there scenarios where you like them to be removed from functions too?

[2017-01-16 17:57] mergesort commented on #83
I took a few minutes to reflect on how I feel SwiftFormat should approach the problem, and why, I would love to know if what I'm thinking makes sense.

• Removing unused closure parameters: A+ as it is, keep that.

• Removing unused arguments from functions: If it's intention is to provide a semantic representation of what should be expected at the call-site would not just `_` the unused parameter

[2017-01-18 23:58] nicklockwood commented on #79
@charmaex in SwiftFormat 0.24 (just released), you can now use `--stripunusedargs unnamed-only` to get the effect you were asking for.

[2017-01-18 23:58] #79 closed

[2017-01-19 00:00] nicklockwood commented on #83
@mergesort thanks for the detailed feedback, I'll address it below in detail, but tl;dr in SwiftFormat 0.24 (just released) you can now use `--stripunusedargs closure-only` to get the effect you were asking for.

[2017-01-19 00:24] nicklockwood commented on #83
This isn't a viable option for SwiftFormat currently, because it operates purely at a token level. It can scan the body of a function to see if an argument is used, but it can't know if the function itself is used elsewhere, and update all the call sites.

In any case, there are various hard-to-detect situations (besides delegates/protocols) where you would not want it to modify the function signa

[2017-01-19 00:24] #83 closed

[2017-01-19 09:22] maun opened #84 "Extension crashes Xcode when there is nothing to change"
Formatting a file which is already formatted crashes Xcode for me.

Reproduce:

- Install latest Xcode extension
- (Bind format whole file to keybinding, Option + f for me)
- Insert spaces such that the formatting is not correct
- Format with Option +f, this works
- Format again, Xcode crashes

Xcode Report issue log:
[code]

[2017-01-19 09:52] nicklockwood commented on #84
@maun thanks for the detailed report. I'll get it fixed ASAP.

[2017-01-19 09:56] maun opened #85 "Warning on '#!/usr/bin/swift' lines in swift scripts"
These should simply be ignored without warning
[code]

[2017-01-19 09:58] nicklockwood commented on #85
👍

[2017-01-19 18:50] nicklockwood commented on #85
Fixed in 0.24.1

[2017-01-19 18:50] #85 closed

[2017-01-19 18:51] nicklockwood commented on #84
Fixed in 0.24.1

[2017-01-19 18:51] #84 closed

[2017-01-19 19:07] maun commented on #84
Wow, thanks!

[2017-01-26 08:25] dennisweissmann opened #86 "unusedArguments removes necessary parameter types and names in closures"
In version 0.24.2, swiftformat removes some necessary parameter types and names from closures.

Example:

    let collector = { (_ stroke: inout Stroke, _ touch: UITouch, _ view: UIView, _ coalesced: Bool) in
    }

becomes

    let collector = { (_ _: inout _, _ _: UITouch, _ _: UIView, _ _: Bool) in
    }

and does not compile anymore. This can be prevented by passing --disable unusedArguments

[2017-01-26 10:06] nicklockwood commented on #86
Thanks, I'll look into it.

[2017-01-26 19:38] nicklockwood commented on #86
Fixed in 0.24.3

[2017-01-26 19:38] #86 closed

[2017-01-26 19:39] dennisweissmann commented on #86
You are awesome 🎉

[2017-02-02 21:41] m4j opened #87 "Unix piping doesn't seem to work"
This doesn't show any change, because the stdout is the same as stdin:

    $cat file | swiftformat | diff - file

version 0.24.3 (homebrew)

—Maxim

[2017-02-03 12:54] nicklockwood commented on #87
Thanks, I'll look into it.

[2017-02-08 00:15] kaizimmer opened #88 "allman style not working"
Hello Nick,
first I'd like to say: **great job**. I highly appreciate your work!

Unfortunately the **allman** option doesn't seem to work.

First I tried to set it via style inference (although it outputs "--allman true"):

[code]

Which didn't work.

Then I tried to set it directly:

`swiftformat --allman true`

Which also didn't work.

Version 0.24.3 (homebrew installation)

[2017-02-08 09:09] nicklockwood commented on #88
@kaizimmer it seems to be working for me. Can you include a sample file that it's failing on?

[2017-02-08 16:09] kaizimmer commented on #88
Hello @nicklockwood

Here are two files with which I tried it once more. (Same result)

`» swiftformat --inferoptions StyleTemplateAllman.swift                                                         kai@valkyrie-mbp
inferring swiftformat options from source file(s)...
options inferred from 1/1 files in 0.02s

--indent 4 --allman true --wraparguments disabled --removelines disabled --wrapelements

[2017-02-08 16:21] nicklockwood commented on #88
@kaizimmer it seems like it worked correctly on CurrencyLabel.swift, except for the line

    var amount: NSNumber? {

Which was not correctly converted to allman. Does that match your experience?

[2017-02-08 17:55] kaizimmer commented on #88
@nicklockwood Can you attach your formatted file please? In my case there were noch visible changes at all.

[2017-02-08 19:04] nicklockwood commented on #88
Here. There are certainly some issues, but it sounds like you're seeing a different problem.

[CurrencyLabel.txt](https://github.com/nicklockwood/SwiftFormat/files/761688/CurrencyLabel.txt)

[2017-02-08 19:08] kaizimmer commented on #88
Damn, this looks quite good! Perhaps I should try another installation type or compile it by myself. Anyway. Thx for the fast answer! 👍  :)

[2017-02-08 19:23] nicklockwood commented on #88
@kaizimmer no worries. Very strange issue though.

I tried uninstalling swiftformat and reinstalling from homebrew, but it still works the same for me.

The specific command I used was:

`swiftformat --allman true ~/Downloads/CurrencyLabel.swift`

There's no --verbose option currently, but something you could try is:

`swiftformat --allman true CurrencyLabel.swift --output ModifiedCurrencyLabel.sw

[2017-02-08 19:30] nicklockwood commented on #88
@kaizimmer ah, I think I may see the problem. swiftformat doesn't remember the CLI options that you set between runs - you need to include them each time you run it.

[2017-02-09 06:58] kaizimmer commented on #88
@nicklockwood Awesome! Thank you for your support! :)
Thought those settings would be consistent. So it would be nice if there would be a config file somewhere in the project folder (like that in swiftlint for example) that is automatically read and used by swiftformat.

[2017-02-09 18:20] nicklockwood commented on #87
Fixed in 0.24.4

[2017-02-09 18:20] #87 closed

[2017-02-09 18:21] nicklockwood commented on #88
@kaizimmer yeah, a config file is planned eventually. In the meantime, you could just put the config options in a bash script and store it in the root directory.

The issue with "var amount: NSNumber? {" has been fixed in 0.24.4.

[2017-02-09 18:21] #88 closed

[2017-02-09 23:14] kaizimmer commented on #88
There's one more issue regarding Allman Style. The curly braces following the guard statement aren't reformatted.

`guard let value = value, let stringValue = CurrencyLabel.numberFormatter.string(from: value) else { return }`

[2017-02-09 23:23] nicklockwood commented on #88
@kaizimmer yes, that's deliberate. I don't automatically reformat one-line expressions (e.g. where both the opening and closing brace are on the same line) onto multiple lines.

I may add a rule for that in future, but it's not covered by any of the existing rules.

[2017-02-10 09:17] kaizimmer commented on #88
Ah, good to know. Thank you for the information. :)

[2017-02-11 20:39] csimmons0 opened #89 "trailingCommas rule gets applied to a dictionary's type declaration"
Unless I disable the trailingCommas rule, this code:
[code]
gets converted to this invalid code:
[code]
This bug doesn't always apply to dictionaries. The type declaration isn't modified when swiftformat runs on the following code:
[code]

[2017-02-12 08:08] nicklockwood commented on #89
Thanks, I'll take a look.

[2017-02-12 20:37] nicklockwood commented on #89
Fixed in 0.24.5. Thanks for the report!

[2017-02-12 20:37] #89 closed

[2017-02-13 14:38] maun opened #90 "Indentation of empty lines different from Xcode default"
In Xcode empty lines automatically have the previous indentation level.
This is removed by the trailing whitespace rule which generates a lot of changes.

Can this be changed or at least made configurable?

[2017-02-13 20:37] nicklockwood commented on #90
@maun you can disabled this using `--trimwhitespace nonblank-lines`

Note that if you use `--inferoptions` to set up SwiftFormat for your project, it will detect this preference automatically.

[2017-02-13 20:37] #90 closed

[2017-02-14 05:02] simorgh3196 opened #91 "Support Cocoapods Installation"
Thank you for the great project :)

Is there any solution to install SwiftFormatter by CocoaPods?
I want to run formatter with SwiftFormat in `Run Script Build Phases`.
ex) [SwiftLint](https://github.com/realm/SwiftLint), [Swimat](https://github.com/Jintin/Swimat).

[2017-02-14 07:49] nicklockwood commented on #91
You can install the SwiftFormat library via CocoaPods, but not the command line tool itself.

There are instructions in the README for running it via the run script build phase, but the suggested approach is to put a copy of the binary in your project directory and run it via the script.

[2017-02-14 08:22] simorgh3196 commented on #91
Thanks for the reply.

If copy binary to project, It is difficult to version maintenance of the lib.
Cocoapods CLI installation make to easier to maintenance.
I hope doing to easier.

Could you support CLI installation with Cocoapods?

[2017-02-15 14:17] mergesort opened #93 "Stripping used closure parameters (part 2)"
This issue is similar to the one posted in #80. I confirmed it's still happening with the latest version (0.24.5).

This expression [unintentionally?] gets formatted from:

[code]

To this:

[code]

The return type is expected to be of type `AnyPromise` in this case, which telling it `() -> Void` overwrote, but now they're not semantically the same. You can reproduce this by trying this in any pro

[2017-02-16 09:05] nicklockwood commented on #93
@mergesort fixed in 0.24.6.

This was actually a deliberate feature, but it was an overreach on my part - removing `-> Void` from regular function signatures is harmless, but doing it for closures can apparently change the meaning.

[2017-02-16 09:05] #93 closed

[2017-02-16 09:05] nicklockwood commented on #91
Added in 0.24.6

[2017-02-16 09:05] #91 closed

[2017-02-21 18:34] gatoAlfa opened #94 "Nested switch statements"
Great utility.

I have a `switch` and one of the `case` options is another `switch`. My expectation is that the `case` options from the inner `switch` will be indented more that the `case` options for the outer `switch` but they are all indented at the level of the first `switch`

Maybe I'm missing something in the settings or in my expectations.

Thanks in advance for tour help or clarification.

[2017-02-22 15:46] nicklockwood commented on #94
@gatoAlfa sounds like a bug. I'll look into it. Thanks!

[2017-02-24 00:58] garricn opened #95 "Spurious unscore added"
A spurious underscore is adding when running swiftformat on file.

File contains:

`let tag = 123123`

After running swiftformat with default settings on file:

Expected: `let tag = 123123`
Actual: `let tag = 123_123`

[2017-02-24 01:12] garricn commented on #95
So my team told me that this is a feature not a bug :) What is the rule if we wanted to disable it?

[2017-02-24 01:27] nicklockwood commented on #95
The option you want is `--decimalgrouping`, but I'd suggest running `swiftformat --inferoptions "/path/to/your/code/"` before doing anything else, then it will give you the options that best match your existing style.

[2017-02-24 01:27] #95 closed

[2017-02-24 01:35] garricn commented on #95
@nicklockwood Thank you! However, I'm dealing with 200 legacy swift files that were written with no sense of style whatsoever!

[2017-02-24 09:37] nicklockwood commented on #94
@gatoAlfa I've not been able to reproduce this - can you provide a code sample that demonstrates the problem?

[2017-02-24 19:47] gatoAlfa commented on #94
sure, this is a fragment sanitized from a big pice of code,  not an example of good coding practices, but still shows the issue:

[caseTest.swift.txt](https://github.com/nicklockwood/SwiftFormat/files/800319/caseTest.swift.txt)

swiftformat, version 0.24.6
thanks again.

[2017-02-28 14:07] rx2130 opened #97 "Using arguments as a build phase in Xcode project"
Hi, I'm wondering if there is any way to add ```swiftformat```  command-line argument as a build phase in my Xcode project. I do have the command-line tool installed. It works when I follow the instruction set the script as ```"swiftformat" "sourceCodeFolder"```. However, I couldn't pass in any argument in that case. So I tried to ```swiftformat --indent tabs --diable unusedArguments sourceCodeFol

[2017-02-28 14:54] nicklockwood commented on #97
@rx2130 That should work, although you have a typo in "disable". Maybe try putting the path first, e.g.

    "path/to/swiftformat" "${SRCROOT}/sourceCodeFolder"  --indent tabs --disable unusedArguments

It's also fine to put the `--argument` in quotes if that helps:

    "path/to/swiftformat" "${SRCROOT}/sourceCodeFolder"  "--indent" tabs "--disable" unusedArguments

[2017-02-28 15:29] rx2130 commented on #97
Thanks for the quick reply. I was pasting the wrong command from terminal lol. Works like a charm now! Cheers!

[2017-02-28 15:29] #97 closed

[2017-02-28 15:56] rx2130 commented on #49
I suppose this rule should be default disabled. As [Allow trailing commas in parameter lists and tuples](https://github.com/apple/swift-evolution/blob/master/proposals/0084-trailing-commas.md) was rejected in Swift 3.

[2017-02-28 16:00] nicklockwood commented on #49
@rx2130 the proposal to allow trailing commas in parameter lists was rejected, but they didn't removed support for them in array and dictionary literals. SwiftFormat only adds them in the places where they are allowed (unless you've found a bug).

[2017-02-28 19:09] nicklockwood commented on #94
Fixed in 0.24.7. Thanks!

[2017-02-28 19:09] #94 closed

[2017-02-28 19:51] gatoAlfa commented on #94
Cool. Thank you. Then the problem was not the nested case but the `0..n` operator, funny side effect. Regards,

--ga

[2017-02-28 23:08] nicklockwood commented on #94
@gatoAlfa yeah, basically that the parser thought the inner switch ended when it hit the `..<`, so it thought the subsequent `case` statements were part of the outer switch, which is why it indented them to match that one instead.

[2017-03-07 12:56] charmaex opened #98 "Remove multiple spaces in comments"
If I have this code where I pressed cmd+/ to comment one or more lines:

[code]

Swiftformat does this out of it:

[code]

If there would be an option to remove multiple spaces in comments it would be much easier to read:

[code]

[2017-03-08 00:03] nicklockwood commented on #98
@charmaex this is a known issue, but it's difficult to fix without breaking support for indenting code examples inside documentation comments (see the README for details).

[2017-03-08 02:15] RabugenTom opened #99 "unusedArguments should implicitly bypass required initializers"
Hi Nick,

I suggest that `unusedArguments` should implicitly bypass required initializers (and maybe be optionally reactivated in these cases). Otherwise, SwiftFormat may break code when used with default settings.

As an example, by default, SwiftFormat breaks simple [ObjectMapper](https://github.com/Hearst-DD/ObjectMapper) implementations where
[code]
is formatted as
[code]
which is no more the

[2017-03-08 06:59] charmaex commented on #98
Ah I see.
In my team we always use /// instead of // if we write documentation. So for us it wouldn't matter if every multiple space would be deleted if the line starts with // but not with ///.
But this may be different for other teams.
This is why I would make this an option instead of default.

[2017-03-08 07:08] nicklockwood commented on #99
@rabugentom it's my understanding that

    init(map: Map)

And

    init(map _: Map)

Are the same method signature as far as Swift is concerned. Do you actually have code that is failing to compile after this transformation?

[2017-03-08 07:20] RabugenTom commented on #99
Sorry, I made an error while writing the code. This is a failable initializer:
[code]
is formatted as
[code]
This is a bug caused by the `?`. If one removes it, one falls back to the first case where the signature is indeed not changed.

[2017-03-08 07:29] nicklockwood commented on #99
@rabugentom ah, thanks. That does sound like a bug then - I'll investigate.

[2017-03-08 18:46] nicklockwood commented on #99
Fixed in 0.25.1. Thanks!

[2017-03-08 18:46] #99 closed

[2017-03-08 23:02] garricn opened #100 "Removal of Non-redundant return"
I'm seeing an issue where a non-redundant `return` is being removed. The `return` is not removed when using `--disable redundantReturn` so I'm pretty sure it's that rule.

Here is a code snippet where its happening (Please forgive the ugly legacy code. Code has also been stripped of Farmers related context) :

[code]

Expected: zero return statements removed
Actual: first return statement removed

[2017-03-08 23:03] garricn commented on #100
This was not happening on version 0.24. It only occurred after upgrading to 0.25.1.

[2017-03-08 23:03] garricn commented on #100
I have another code example where its happening. I can get it to you later if you want it.

[2017-03-08 23:06] nicklockwood commented on #100
@garricn yes, please do - it may be a separate bug.

[2017-03-08 23:35] garricn commented on #100
Expected: no returns removed
Actual: first two returns removed

[code]

[2017-03-09 11:48] abeintopalo opened #102 "Backtick is removed for `Self`"
Hi,

First, I'd like to thank you for this awesome tool. I use it in project build phase and it is really good. :)

I'm coming from Objective-C background and I missed the Self keyword in classes. So, I usually use a pattern like this in my classes:

[code]

So, could you please patch SwiftFormat tool not to remove backticks for Self.

Thank you

BTW: I was using version 0.25.1

[2017-03-09 18:27] nicklockwood commented on #102
@abeintopalo fixed in 0.25.2. Thanks!

[2017-03-09 18:27] #102 closed

[2017-03-09 18:28] nicklockwood commented on #100
@garricn fixed in 0.25.2. Thanks!

[2017-03-09 18:28] #100 closed

[2017-03-09 18:35] garricn commented on #100
Thank you!

[2017-03-10 06:20] ldiqual commented on #74
On the same vibe, knowing which rule applied to which line would be super valuable. Right now I have to "guess" which rule applied by CTRL+F what I think changed in the readme.

[2017-03-13 17:41] RabugenTom opened #104 "Return keyword is removed when it should not."
Hi Nick,
I've found an edge case: with v0.25.1,
[code]
is formatted as
[code]
SwiftFormat thinks it is in some closure and removes the `return` keyword. Please note that it needs the `try?` (or `try`) and the `as? T` cast to happen. `return nil` is only here for cosmetics. The minimal failing code sample is:
[code]

[2017-03-13 18:10] nicklockwood commented on #104
@RabugenTom I believe this was fixed in version 0.25.2

[2017-03-13 18:13] RabugenTom commented on #104
My bad, I thought I had the latest version.
This is indeed fixed with version 0.25.2.
Thanks!

[2017-03-13 18:13] #104 closed

[2017-03-13 21:39] nicklockwood commented on #74
Implemented in version 0.26.0

[2017-03-13 21:39] #74 closed

[2017-03-13 23:23] garnett opened #105 "0.26 deletes self where it is required"
We often use the following initialisation pattern:
[code]

0.26 removes `self` from ` let v = Bar(property: self.property)` and produced code fails to compile.

[2017-03-14 08:57] nicklockwood commented on #105
Thanks - fixed in 0.26.1

[2017-03-14 08:57] #105 closed

[2017-03-14 17:16] garnett opened #106 "0.26.1 removes required self in case of ambiguous variable names"
[code]
Swiftlint has removed self from `self.expectation(description: "Progress callback called")`

so the line 1 throws compiler error: "use of local variable 'expectation' before its declaration"

[2017-03-14 17:56] scottrhoyt opened #107 "EditorConfig support"
It would be awesome to see support for http://editorconfig.org for cross-language formatting consistency! 👍

[2017-03-14 21:07] antiraum opened #108 "removal of non-redundant return"
swiftformat version 0.26.1

[code]

is transformed to

[code]

[2017-03-15 01:29] nasht opened #110 "0.26.1 : redundantself flag"
Hey Nick :)

Our convention is to use the exact opposite of this rule. Is it possible to implement something like an `explicitself` flag?

Great work on this tool!

Thanks,

Nash

[2017-03-15 07:08] nicklockwood commented on #110
It's possible, but a bit more work - I'll consider it for a future release.

[2017-03-15 07:21] nicklockwood commented on #108
Fixed in 0.26.2 - thanks!

[2017-03-15 07:21] #108 closed

[2017-03-15 07:21] nicklockwood commented on #106
Fixed in 0.26.2 - thanks!

[2017-03-15 07:21] #106 closed

[2017-03-15 07:26] nicklockwood commented on #107
Looks like it would be doable, but the editorconfig spec only supports a fairly small subset of the styling properties that SwiftFormat supports.

I could add proprietary extensions for SwiftFormat, but the editorconfig naming convention doesn't match mine, so then I'd need two sets of documentation - one for the command-line properties, and one for the custom editorconfig properties, which would

[2017-03-15 16:50] scottrhoyt commented on #107
It's not super pretty, but what I had in mind was that configuration would be able to be done in 3 ways following this priority:

1. command line options
2. a SwiftFormat config file
3. an editor config file

So command line options (if present) override any config file. A SwiftFormat config file (if present) overrides an editor config file. Editor config is only used when the other two aren't pre

[2017-03-15 18:34] griotspeak opened #112 "space following "<?>" is removed"
The space following "<?>" is removed when swiftLint is run . The removal of the space forces Swift to misinterpret the symbol and newly connected expression following the symbol.

[code]

[2017-03-16 08:13] charmaex opened #113 "self. removed where necessary (v0.26.2)"
I spotted a pattern where self. was falsely removed:

[code]

In the upper code `self.mapView = mapView` turns to `mapView = mapView`.

[2017-03-16 09:43] nicklockwood commented on #113
Thanks, I'll take a look.

[2017-03-16 10:14] 3lvis opened #114 "Removed backtick causes compiler to fail"
## Installed version (brew): swiftformat, version 0.26.2

Before I had:

[code]

Now I have:

[code]

Swift is not smart enough to figure it out without the backtick.

Full class:

[code]

[2017-03-16 10:17] tadeuzagallo opened #115 "`--patternlet inline` generates invalid code"
Formatting the following minimal repro with `swiftformat --patternlet inline` generates invalid code: (version `0.26.2`)

[code]

Generates:
[code]

Which therefore fails with the following error:
[code]

[2017-03-16 12:02] nicklockwood commented on #115
Thanks, I'll take a look.

[2017-03-16 13:26] nicklockwood commented on #114
Thanks, I'll look into it.

[2017-03-16 14:46] nicklockwood commented on #112
Thanks - I believe I've identified the problem.

[2017-03-17 03:24] garricn opened #116 "Add detailed instructions for installing as pod"
Hello :) Thank you for SwiftFormat.

I am trying to install SwiftFormat as a pod, again. This time with my team. I couldn't figure it out before. Now, with two other relatively experienced developers, we still can't figure it out. I think it would be helpful if there was a more detailed explanation of the requirements and a how-to.

I reached out to @shotat on Twitter and he said if I created the

[2017-03-17 12:18] nicklockwood commented on #116
I've now used this feature myself a few times, and it seems fairly straightforward. In your Podfile, add the following to your target:

     pod 'SwiftFormat/CLI'

The CLI will then be installed in your Pods directory, typically at:

    "${SRCROOT}/Pods/SwiftFormat/CommandLineTool/swiftformat"

To run the script, put this in your run script build phase:

    "${SRCROOT}/Pods/SwiftFormat/CommandLi

[2017-03-17 19:48] akaralar opened #117 "Opposite of `elseOnSameLine`?"
Thanks for a great formatting tool! I was wondering if it would be possible to get `else`, `catch`, etc break one line after `}` and start on a new line. Right now when `elseOnSameLine` is disabled, it doesn't enforce `else` to move to a new line. Would it be possible to get that as an option as well?

[2017-03-17 20:02] akaralar opened #118 "Wrong removal of self"
[code]

when I run swiftformat with a code block similar to the above, it removes `self.bar` in the `if let` binding, however it is actually necessary since there is a variable `bar` in that scope defined before the `if let` already.

[2017-03-17 20:48] nicklockwood commented on #116
@garricn did those instructions work for you? I've added them to the README for the next release.

[2017-03-17 21:54] nicklockwood commented on #118
Fixed in 0.27.0

[2017-03-17 21:54] #118 closed

[2017-03-17 21:54] nicklockwood commented on #115
Fixed in 0.27.0

[2017-03-17 21:54] #115 closed

[2017-03-17 21:55] nicklockwood commented on #114
Fixed in 0.27.0

[2017-03-17 21:55] nicklockwood commented on #113
Fixed in 0.27.0

[2017-03-17 21:55] #113 closed

[2017-03-17 21:55] nicklockwood commented on #112
Fixed in 0.27.0

[2017-03-17 21:55] #112 closed

[2017-03-17 21:56] nicklockwood commented on #117
That should be possible, yes.

[2017-03-17 21:57] nicklockwood commented on #107
@scottrhoyt that makes sense. I was hoping to use an existing standard for the SwiftFormat config file though. Ah well...

[2017-03-17 22:35] garricn commented on #116
Yes, I figured it out! I think the important thing was to run pod update first to get the latest version. It was installing 0.24.x. Thank you. I'm glad to hear you will update the README.

[2017-03-17 23:18] #116 closed

[2017-03-18 01:14] keith opened #119 "Support line length limits"
Apologies if this has been requested this before, I couldn't find any issues on it.

In our style guide we limit the maximum number of columns on a line to 110. Would it make sense for SwiftFormat to be able to handle a value for this and format within those constraints?

[2017-03-18 07:40] nicklockwood commented on #119
It's certainly within scope for SwiftFormat. Tricky to implement, but I'll consider it.

[2017-03-18 13:18] shotat commented on #116
Thanks!

[2017-03-18 20:39] 3lvis commented on #114
Fantastic, thanks!

[2017-03-23 05:21] tonyarnold opened #120 "redundantSelf not working all the time"
There are a couple of situations where `redundantSelf` option isn't doing anything (and it probably should):

[code]

and

[code]

In both of these circumstances, I would expect the `self.` to be removed.

[2017-03-23 07:41] alphatroya commented on #66
Maybe there is a lack of option like `--dry-run` to check code formatting by CI tools like [Danger](http://danger.systems)

[2017-03-23 07:52] away4m opened #121 "Associated enum formatting issue"
while using associated enums as a parameter to function call it's dropping associated value to next line
<img width="517" alt="screen shot 2017-03-23 at 10 49 15 am" src="https://cloud.githubusercontent.com/assets/73057/24237292/5e9bf352-0fae-11e7-938e-b2ea95afff39.png">

[2017-03-23 08:32] nicklockwood commented on #121
Can you provide the code before and after formatting? I'm not exactly clear what effect you are talking about.

[2017-03-23 08:52] away4m commented on #121
[code]

[2017-03-23 08:55] away4m commented on #121
"00000000-0000-0000-0000-000000000000" is in next line with column.It's not desired formatting for me but also i'm not sure it's intended style

[2017-03-23 09:10] nicklockwood commented on #121
@away4m it's not intended - looks like a bug. I'll investigate.

[2017-03-23 09:39] nicklockwood commented on #120
Yeah, I knew about these. They were hard to get right so I decided to err on the side of not breaking code. I'll try and sort it for next release - thanks for the reminder 👍

[2017-03-23 10:01] nicklockwood commented on #121
@away4m I can't seem to reproduce the error. Can you show me what the code looked like before running swiftformat?

Also, are you running the latest version (0.27.1)?

[2017-03-23 10:45] tonyarnold commented on #120
Yeah, that seems like sound thinking. Thanks, Nick!

[2017-03-23 10:51] tonyarnold commented on #69
Can the editor extension read user defaults written by the host app? I think a shared suite _might_ work. It'd be nice to be able to at least configure overrides for personal defaults, even with the inferred config.

[2017-03-23 10:54] nicklockwood commented on #69
@tonyarnold it can. I might be able to do something like use the host app to read a config file in the project repo, and then pass that data to the extension.

I haven't spent a lot of time investigating it so far though.

[2017-03-23 11:56] away4m commented on #121
@nicklockwood  ah sorry it's my mistake as habit i'm typing wrong shortcut and it clan-formatter.sorry for taking your time.

[2017-03-23 11:56] #121 closed

[2017-03-24 18:53] nicklockwood commented on #120
@tonyarnold fixed in 0.28.0

[2017-03-24 18:53] #120 closed

[2017-03-24 18:59] nicklockwood commented on #110
@nasht implemented in 0.28.0. Add `--self insert` to your swiftformat options to always use `self` for member variables and functions.

[2017-03-24 18:59] #110 closed

[2017-03-24 18:59] supermarin commented on #120
Is this at least configurable? we're enforcing `self.` everywhere for the sake of consistency

[2017-03-24 19:01] supermarin commented on #120
Oh sorry, just seen https://github.com/nicklockwood/SwiftFormat/issues/110#issuecomment-289115222. 👍

[2017-03-24 22:39] mergesort opened #122 "Confusing how to enable/disable certain rules"
I'm reading through the documentation and trying to figure out how to make certain rules activate, and the interface is not always explicit, nor matching my expectations.

Right now I'm trying to enable a whole bunch of rules, and having trouble with them.
I'm not sure whether the parameter format should be `--enable redundantGet`, `--redundantGet`, or if `redundantGet` is enabled by default (thou

[2017-03-25 02:07] tonyarnold commented on #69
As much as I'd like per-project configurations, I think we should wait to see what Apple does with Source Editor Extensions in Xcode 9 in a couple of months.

That being said, I think I have a good, supported path forward for sharing preferences - did you have any ideas around the UI for this, how things should be exposed, etc? I'm more than happy to have a first pass at this.

For now, the config

[2017-03-25 13:50] nicklockwood commented on #122
@mergesort thanks for the feedback - I can see there's a lot of room for improvement in the documentation!

The source of the confusion is probably that SwiftFormat has both *rules* and *options*, which are separate concepts. The rules map to the actual functions that do the formatting. The options are configuration that is used by those rules. Rules can only be enabled or disabled. Options can ac

[2017-03-25 13:59] nicklockwood commented on #69
That would be great! It's definitely the right approach - I just lack the confidence with AppKit to try it myself.

As I've (hopefully) clarified in (this answer)[https://github.com/nicklockwood/SwiftFormat/issues/122], there are two types of configuration for SwiftFormat - rules and options. The UI should probably expose these as two separate lists - rules each shown with a checkbox to enable and

[2017-03-25 23:35] tonyarnold commented on #69
Righto, that all sounds the same as what I was thinking. I'll allocate some time to this, and see where we get. 👍

[2017-03-27 17:17] nicklockwood commented on #122
@mergesort I've improved the documentation in the README. Can you let me know if you think it's clear enough now, or still needs further clarification?

[2017-03-28 00:13] nasht opened #123 "--self insert breaks code in some use cases"
Hey Nick,

Thanks for implementing this so quickly.
We found several cases where insert self breaks code.

1. Tupple Var implicit getters.

Old code:

[code]
After format: `self.UIColor..` is not correct
[code]

2. Var declared inside function of same name

Old Code:
[code]

After format: `self.commonSuperView` is not correct inside the repeat block
[code]

[2017-03-28 03:34] mergesort commented on #122
Thank you for taking care of this, the difference through your explanation above, and the README is significantly clearer and easier to parse. 🙂

[2017-03-28 07:56] nicklockwood commented on #123
@nasht thanks! I've reproduced the first case, but not the second. I think it might depend on some other code in the class. Could you provide some more context?

[2017-03-28 12:27] nasht commented on #123
gist shared with you via email

[2017-03-28 17:44] nicklockwood commented on #123
Fixed in 0.28.1.

[2017-03-28 17:44] #123 closed

[2017-03-28 17:45] #122 closed

[2017-03-29 06:51] nevil opened #124 "SwiftFormat does not handle nested enum in case"
Not the most beautiful style but nonetheless.
SwiftFormat currently does not handle this code:

[code]

[code]

I'm not familiar enough with the code yet so can't propose a patch...

[2017-03-29 13:31] nicklockwood commented on #124
Thanks - I've found a fix. Will include it in the next release.

[2017-03-30 13:37] 3lvis commented on #114
Still happening in version 0.28.1

<img width="528" alt="screen shot 2017-03-30 at 15 35 34" src="https://cloud.githubusercontent.com/assets/1088217/24506721/af844be2-155e-11e7-8292-712bb359f7a5.png">

[2017-03-30 13:37] 3lvis commented on #114
Doesn't seem like I can reopen this issue, could you do it for me>?

[2017-03-30 13:56] nicklockwood commented on #114
Sorry about that, I thought it was fixed, but it seems not. I'll take another look.

[2017-03-30 17:15] nicklockwood commented on #124
Fixed in 0.28.2

[2017-03-30 17:15] #124 closed

[2017-03-30 17:16] nicklockwood commented on #114
Fixed in 0.28.2

[2017-03-30 17:16] #114 closed

[2017-04-03 18:00] mergesort opened #125 "Excluded files"
Hi there,

I was trying to figure out if there is a way to exclude a file (or folder) from being formatted? I have code-generated files using Sourcery, which insert this header.

[code]

The header tells Sourcery to not re-generate the next build through, but combined with `--header strip` turned on in SwiftFormat, it regenerates it each time.

One solution would be to move my generated Sourcery f

[2017-04-03 19:07] nicklockwood commented on #125
Yes, use the `--exclude` option, followed by one or more comma-delimited files or folders.

[2017-04-03 19:33] mergesort commented on #125
Oh, awesome, thank you! Just a suggestion, but might wanna include that in the README, I missed it when I went searching.

[2017-04-04 03:30] nevil commented on #124
@nicklockwood
Firstly, thanks for a great tool!

I confirmed that it works with our code.
Thanks for fixing.

[2017-04-04 09:00] nicklockwood commented on #125
@mergesort yeah, that's fair. It's in the `--help`, which should generally be considered the source of truth for docs, although it's a bit terse in some cases.

[2017-04-04 13:54] mergesort commented on #125
Totally fair. I just realized that when I ran `swiftformat --help`, it was using an old version from brew (0.24.6) and not the recent pod version, so I didn't see the option. Sorry for the bother!

[2017-04-04 13:54] #125 closed

[2017-04-05 20:13] jarsen opened #126 "Removing necessary explicit reference to self in autoclosures."
I've got some regular ol' XCTestCases using matchers from Nimble. The Nimble `expect` function uses an autoclosure to get its `expect(foo) == bar` style matchers. However, with the redundant self option on, SwiftFormat doesn't seem to realize that the reference to self is necessary to make the capture semantics explicit and removes it, resulting in code that no longer compiles.

In other words

[c

[2017-04-05 20:17] nicklockwood commented on #126
Hmm. I don't think there's any way I can detect that. Darn.

I'll see if I can think of a solution. In the meantime, you'll probably have to use `--disable redundantSelf`

[2017-04-05 20:41] jarsen commented on #126
Yeah, I was thinking about how difficult it would be to detect autoclosures. But you are a wizard 🔮 so you never know. 😛

Disabling the redundant self is the current game plan. Either that or not using Nimble. Or using Quick instead of XCTestCase. I'll figure something out.

Anyway, feel free to close this if there's no good solution, just thought I'd throw the issue out there since I didn't see a

[2017-04-14 16:33] gmosx commented on #75
That would be a great (and obvious?) addition to the tool.

[2017-04-19 07:34] Rerel commented on #126
I'm having a similar issue with the necessary self with this scenario:

[code]

turns into

[code]

Which gives me a `Call to method 'getValue' in closure requires explicit 'self.' to make capture semantics explicit`

I'm going to use `--disable redundantSelf` for now.

[2017-04-19 07:58] nicklockwood commented on #126
@Rerel that looks like a more straightforward bug - I should be able to fix it.

[2017-04-19 08:18] nicklockwood commented on #126
@Rerel are you using SwiftFormat 0.28.2? I'm having trouble reproducing your bug.

[2017-04-19 08:27] Rerel commented on #126
@nicklockwood Yes I'm using SwiftFormat 0.28.2.

 My bad I didn't detail exactly the issue, try with:

[code]

[2017-04-20 20:53] nicklockwood commented on #126
@Rerel fixed in 0.28.3

[2017-04-24 11:48] aliak00 opened #129 "with --self insert: decomposing associated value with same name as member var causes confusion"
[code]

[2017-04-24 11:51] aliak00 commented on #129
Just realized I'm on 28.1. Maybe it's fixed in an update. Will check and report if you don't get to seeing this first.

[2017-04-24 11:54] nicklockwood commented on #129
@aliak00 looks like it's still reproducible on 28.3. I'll take a look.

[2017-04-26 14:45] mdiep opened #130 "Request: Remove explicit .init when possible"
I'd love to have a rule for this. SwiftLint has [a rule](https://github.com/realm/SwiftLint/blob/master/Source/SwiftLintFramework/Rules/ExplicitInitRule.swift) for it.

[code]

I've no idea if that's beyond the scope of SwiftFormat. Feel free to close if it is. ☺️

[2017-04-26 17:02] nicklockwood commented on #130
This should be doable, I'll look into it 👍

[2017-04-26 21:09] nicklockwood commented on #129
@aliak00 fixed in 0.28.4

[2017-04-26 21:09] #129 closed

[2017-04-29 16:56] ahwulf opened #131 "How can I change settings in Xcode plugin?"
Seems pointless to integrate into Xcode if all I can get is the default settings. Is there no way to specific what settings I want?

[2017-04-29 17:46] nicklockwood commented on #131
I'm working on it, but note that it's not entirely useless: it doesn't use the default settings, but instead infers the settings to use by looking at the existing file, so for files that have already been mostly formatted to the correct style, it will correct any exeptions to those rules.

[2017-04-30 13:37] ahwulf commented on #131
It would be handy to have a config file perhaps in the root of the current workspace/project (I assume you have access to the environment?)

[2017-04-30 14:06] nicklockwood commented on #131
@ahwulf

I don't. That's the problem. @tonyarnold is looking into an alternative approach though.

[2017-04-30 23:13] tonyarnold commented on #131
Yeah, sorry - this hasn't been a priority for me - busy few weeks at home/work. I have verified that it's possible to pass preferences back and forth between the host/shell app and the editor extension. Now I need to find time to build out the UI for editing defaults.

Hopefully within the next week I'll have time - this is something I really want myself.

[2017-05-01 00:45] ahwulf commented on #131
I'd be happy with a simple config file and no UI even. I think a lot of people would like to include it in their project so every gets the same look, or optionally have it in a known place in your ~ directory so you could have a local standard config file.

[2017-05-01 00:52] tonyarnold commented on #131
@ahwulf that's not possible with how Apple have designed Xcode Source Editor Extensions right now. I am confident that I can let you set defaults for your user account, but the process is not allowed to access the filesystem, so there won't be per-project settings with the current version of Xcode.

[2017-05-01 01:46] ahwulf commented on #131
account would be OK, Apple sure is pathetic sometimes

[2017-05-01 01:48] tonyarnold commented on #131
I can see why they've done things this way. Our only course of action is to file radars 📡

[2017-05-01 01:56] ahwulf commented on #131
Apple's radar seems unable to see much :-)

[2017-05-03 18:53] blackm00n opened #132 "`redundantSelf` rule adding backticks to method name if it's same as keyword"
`self.switch(toSmth: foo)` is converted to
[code]

Should `self` be left in this case?

[2017-05-04 06:26] aksswami opened #133 "Adding SwiftFormat to Swift Source Compatibility Test Suite"
It's probably a good idea, to add SwiftFormat to "Swift Source Compatibility Test Suite".
https://swift.org/blog/swift-source-compatibility-test-suite
https://swift.org/source-compatibility/#current-list-of-projects
Alamofire, ObjectMapper are already in the list.

[2017-05-04 09:26] nicklockwood commented on #132
Arguably that might be preferable.

[2017-05-04 12:43] blackm00n commented on #132
I believe [this code](https://github.com/nicklockwood/SwiftFormat/blob/18e03a138356935c412ad7fb97e34a490cec42ce/Sources/Rules.swift#L2027) is causing it. I personally prefer redundant self instead of backticks. Maybe it should be a parameter for `redundantSelf` rule, but I don't have a strong opinion.

[2017-05-04 13:20] igorkulman opened #134 "Question: Why is the Xcode Source Editor Extension not in brew"
I was just wondering, why is the Xcode Source Editor Extension not in brew (cask)?  I can install SwiftFormat quite easily using brew and but when I want to use the Xcode Source Editor Extension I have to download the source code and build it myself. I know I do it just once, but anyway.

[2017-05-04 14:13] aksswami commented on #133
Oh. Got your point. Just thought that, as SwiftFormat is widely used tool for linting/reformatting and other purpose, It's compatibility should be tracked. And It may also help swift developers providing more insight for swift version change on community driven projects.

[2017-05-04 14:16] nicklockwood commented on #133
Agreed. I'm not sure the best way to do that though. It might make more sense to have a *SwiftFormat* compatibility test suite (possibly the same one as Swift uses) that I automatically run the formatter on and verify isn't broken. That would be quite an effort to set up though.

[2017-05-04 14:30] nicklockwood commented on #134
Is brew appropriate for installing a GUI application? I thought it was only for command-line apps?

I'm considering putting the Xcode Extension in the app store once the formatter reaches a reasonable level of stability.

You shouldn't have to build the extension yourself though - there's a signed binary already included in the repository.

[2017-05-04 14:36] igorkulman commented on #134
[Homebrew cask](https://caskroom.github.io/) is for installing GUI apps

[2017-05-04 17:21] aksswami commented on #133
Yes. That will be quite an effort and I am not even sure how to go about implementing one. If there is anything I can do, I am open to help and contribute. Anyway you can close the issue now or keep it open to track as `improvement`.

[2017-05-04 21:31] nicklockwood commented on #133
Thanks! I'll keep it open for now as a reminder.

[2017-05-04 21:49] nicklockwood commented on #134
Ah. TIL ¯\_(ツ)_/¯

[2017-05-05 12:36] tadeuzagallo opened #135 "`nil` is not redundant when initializing lazy properties"
I understand that the following snippet makes little to no sense, but it's valid and I only found it because SwiftFormat removed the `nil` and then it was no longer valid. It's a bit of an edge case, but I thought I'd report it anyway.

[code]

Fine:
[code]

Not fine:
[code]

[2017-05-05 13:02] nicklockwood commented on #135
Thanks, should be a simple fix.

[2017-05-11 11:21] aksswami opened #136 "Error when formatting syntax related to `for condition where method() {}`"
I am using swift format to format my iOS project and for two instances swift format is not formatting correctly.

[code]

[code]

Is this expected behaviour or some there is an issue with swiftFormat.

[2017-05-11 11:23] nicklockwood commented on #136
@aksswami this looks like a bug. I'll look into it - thanks!

[2017-05-11 11:42] aksswami commented on #136
Another example:- https://github.com/hyperoslo/Sugar/blob/master/Source/Shared/Extensions/Array+Queueable.swift

If you run swiftformat on above it will change to:-

`for (index, element) in currentQueue.enumerated() where element.process {`

[2017-05-14 19:25] nicklockwood commented on #135
Fixed in 0.28.5

[2017-05-14 19:25] #135 closed

[2017-05-14 19:26] nicklockwood commented on #136
Thanks for the PR! Fixed in 0.28.5.

[2017-05-14 19:26] #136 closed

[2017-05-15 16:55] davbeck opened #138 "spaceAroundOperators adds space in front of "&" in pointer function calls"
Probably easier to show than describe:

[code]

When spaceAroundOperators is enabled, a space is added before `&red`, which is not what I would expect.

Granted, a better importer would probably move red into the argument list.

[2017-05-15 17:14] nicklockwood commented on #138
@davbeck yep, I agree this is a bug. I'll add a fix for it.

[2017-05-24 12:49] K4stor opened #140 "Adds line break to if when 2. argument is in parentess"
First of all, thanks for this great tool,
I found a bug.

this
[code]
will be formated to this
[code]

[2017-05-24 13:23] nicklockwood commented on #140
Whoah, well that's definitely not right! Thanks for raising it, I'll try to fix.

[2017-05-24 21:01] nicklockwood commented on #140
@K4stor I'm having some trouble reproducing this. What format settings are you using?

[2017-05-30 13:48] rerelease opened #141 "spaceAroundParens removes space between closure type and capture list."
`spaceAroundParens` changes

[code]
to
[code]

Is this intentional? It compiles but does not look quite right IMO.

[2017-05-30 14:12] nicklockwood commented on #140
@K4stor ping!

[2017-05-30 14:14] nicklockwood commented on #141
@rerelease it's not exactly intentional. It's because SwiftFormat doesn't distinguish between

    let foo = [...]()

Where the space *should* be removed, and

   { [...] () -> Void in ... }

Where it arguably shouldn't. I'll add a special-case.

[2017-05-30 14:16] nicklockwood commented on #138
This is fixed on master. I'll include the fix in the next release.

[2017-05-30 18:05] K4stor commented on #140
Sorry... erm where can I see the format settings ? My colleague set this up.
Its part of a 350 ish line long file. Here goes the whole method...

[code]

[2017-05-30 18:14] nicklockwood commented on #140
The settings are whatever arguments are being passed to the swiftformat command line script.

[2017-05-30 18:45] K4stor commented on #140
`--indent 2 --enable trailingClosures --commas inline --wraparguments beforefirst --wrapelements beforefirst --patternlet inline --stripunusedargs closure-only`

[2017-05-30 21:35] nicklockwood commented on #140
@K4stor thanks - I can reproduce it now. I'll try to fix it asap.

[2017-05-31 08:38] K4stor commented on #140
Cool, thanks alot

[2017-05-31 13:21] nicklockwood commented on #141
Fixed in 0.28.6.

[2017-05-31 13:21] #141 closed

[2017-05-31 13:22] nicklockwood commented on #138
Fixed in 0.28.6.

[2017-05-31 13:22] #138 closed

[2017-06-01 23:32] deepumukundan opened #142 "File and/or line level exclusions"
I read some issues and PR's talking about a config file for the preferences. Would a file or line level exclusion also make sense in addition to the default config file? Something similar to https://github.com/realm/SwiftLint#disable-rules-in-code? I have seen some places where the removeRedundantSelf rule causing code to not compile. Marked out sections of code will prevent future formatting.

[2017-06-02 08:36] nicklockwood commented on #142
Yes, this is something I plan to do. File level should be fairly easy. Line-level may be trickier due to the way the rules are currently implemented.

[2017-06-03 21:42] deepumukundan commented on #142
Gotcha. File level would be helpful too. Thanks Nick!

[2017-06-05 07:02] vincentisambart opened #143 "Comment in protocol list changes indentation"
[code]
gets formatted into:
[code]

I would have expected the formatting not to change. The last `}` being indented feel pretty strange. What do you think?

[2017-06-05 10:48] nicklockwood commented on #143
@vincentisambart yeah, that looks like a bug. I have special cases for wrapped if/guard statements - it looks like wrapped class definitions should be using the same approach.

[2017-06-06 14:20] timothy-volvo opened #144 "pre-commit hook example does not work for paths with spaces"
If the swift file resides in a folder with a space, the pre-commit example grep call doesn't match as there is a " at the end of the line. Here is a version that worked for me:

#!/bin/bash
 git status --porcelain | sed 's/"//g' | grep -e '^[AM]\(.*\).swift$' | cut -c 3- | while read line; do
   swiftformat "${line}";
   git add $line;
 done

[2017-06-07 02:14] danielcompton opened #145 "Format on save?"
SwiftLint formats the code on save by [swizzling methods](https://github.com/ypresto/SwiftLintXcode/blob/06a8dfa70174522a33224db3bb33d8bc800bc6f9/SwiftLintXcode/SaveHook.swift). This is a little bit dicey, but OTOH provides very handy functionality. Would this be considered for SwiftFormat?

[2017-06-07 10:26] nicklockwood commented on #145
My understanding is that this isn't supported by Xcode any more due to code-signing. You can only do it if you run a hacked version of Xcode?

[2017-06-08 03:25] danielcompton commented on #145
Yes, I think you're right :(.

[2017-06-08 03:25] #145 closed

[2017-06-08 10:52] aksswami opened #147 "Inconsistent while formatting method with single argument."
Before swift formatter:-
`func closeButtonPressed(sender: UIButton)`

After SwiftFormatter:-
`func closeButtonPressed(sender _: UIButton)`

This causes issue with @IBAction methods and also other places. I understand that `sender` should be replaced with `_` if we are not using `sender` inside the function. But above changes the function name itself.

[2017-06-08 11:06] nicklockwood commented on #147
@aksswami is your project Swift 2.x or 3?

For 2.x this could be a breaking change, and you should disable the rule. For Swift 3.x the two function signatures above are equivalent, and I'd be very surprised if this breaks anything in your project.

[2017-06-09 07:32] aksswami commented on #147
My project is currently in Swift 3.x and it was migrated from swift 2.x. The problem is with @IBOutlet specific. In xml it gets linked 'closeButtonTappedWithSender', but formatter changes the signature to 'closeButtonTapped'.

And you are saying that both signatures are same, but in
'func mapping(_ map: T)' the argument is 'map' whereas in 'func mapping(map _: T)' the label is 'map'.

[2017-06-09 08:55] nicklockwood commented on #147
@aksswami this is very strange.

From Swift's point of view, the two signatures *are* the same, because the argument name doesn't affect the method name, only the label does, so both methods have the signature `closeButtonPressed(sender:)` when called from Swift, and that should also translate to the same selector in Objective-C: `closeButtonPressedWithSender:`

As you can see from this playground

[2017-06-09 12:57] aksswami commented on #147
@nicklockwood Thanks for the detailed explanation. I will try to create a sample repo, If possible.

[2017-06-20 14:34] alexito4 commented on #130
Hopefully this can be closed now.

[2017-06-20 17:27] nicklockwood commented on #144
I've updated the README in version 0.29.0

[2017-06-20 17:27] #144 closed

[2017-06-20 17:28] nicklockwood commented on #143
Fixed in 0.29.0

[2017-06-20 17:28] #143 closed

[2017-06-20 17:28] nicklockwood commented on #130
Added in 0.29.0

[2017-06-20 17:28] #130 closed

[2017-06-21 00:15] vincentisambart commented on #143
Thank you!

[2017-06-25 14:17] JustinJiaDev opened #149 "Rule Suggestion: Remove Blank Lines After {"
Currently `SwiftFormat` supports trimming blank lines before `}` but not after `{`.

[code]

is currently valid.

Maybe it's worth adding another `blankLinesAtBeginOfScope` rule to match `blankLinesAtEndOfScope` rule?

[2017-06-26 10:11] nicklockwood commented on #149
Removing blank lines at the start of a function is something I want to support - I just need to think a bit about what the rule should be, as it's not always what you want (e.g. you probably want it in a function, but it may look weird inside a class)

[2017-06-26 16:33] peterstuart opened #150 "Type.init sometimes removed when it is need"
`init` is sometimes removed too aggressively.

This:

[code]

gets changed to this

[code]

which is not valid.

[2017-06-26 20:52] JustinJiaDev commented on #149
I think it's okay for classes, because SwiftFormat still has a BlankSpaceBetweenScopes rule.

Something like:

[code]

[2017-06-27 11:21] alper commented on #75
It would be great if this worked similar to clang-format where it searches either in your project directory or in your $HOME.

[2017-06-30 14:27] andrewcl opened #151 "Self option adds self to type(of:)"
When referencing class methods I tend to write
`type(of:self).someMethod()`
instead of
`Foo.someMethod()`
as it eliminates the need to change every `Foo` call when refactoring.

Using SwiftFormat with the `self` option set to `insert` has been modifying my
`type(of: self)`
calls to the following
`self.type(of: self)`

Would you require any additional information to diagnose this issue?

On a separ

[2017-07-01 10:32] jandamm opened #152 "switch indentation"
I know that Xcode itself indents (control + I) like this:

[code]
Which matches with Swiftformats indetation.

Apples Demo Projects on the other hand are indented like this:

[code]

In my opinion this is more readable and feels more natural.

I wanted to ask if you could integrate this as an option.
Thanks in advance!

[2017-07-01 16:11] brucer42 opened #153 "README.md/rules/semicolons/3rd example no change"
No effect here AFAICT

- return;
- goto(fail)
+ return;
+ goto(fail)

[2017-07-01 17:30] nicklockwood commented on #153
Yes, that's intentional. Removing the semicolon in that case would change the behavior of the code.

[2017-07-01 17:35] nicklockwood commented on #151
I'm assuming that you have a "type" property defined in that class?

If so, this actually won't compile in Swift 4 - you would have to write `swift.type(of: self)` instead to avoid ambiguity.

I agree it's a bug that SwiftFormat breaks your code in Swift 3 though. I'll need to add a special case for type(of:).

Ps: to ignore self instead of always inserting or removing, use `--disable redundantSel

[2017-07-01 18:39] brucer42 commented on #153
I get it but it looks like a diff.  It's really an explanation. Perhaps a
comment in the "diff"?

About wraparguments: I have inherited some code with long function argument
lists. Like 150 characters. Wraparguments doesn't change them. Any ideas?

Great tool!

On Sat, Jul 1, 2017 at 10:30 AM Nick Lockwood <notifications@github.com>
wrote:

[2017-07-03 06:21] cheeseonhead opened #154 "Incorrectly inserts space into array slice syntax."
# Code
`let newMoves = Array<BoardPoint>(gameData.moves[game.gameData.moves.count...])`

# Expected
There's no space around `...` as having space there causes compile error.

# Actual
Spaces are inserted around `...`.
`let newMoves = Array<BoardPoint>(gameData.moves[game.gameData.moves.count ... ])`

[2017-07-03 07:44] nicklockwood commented on #153
Yeah, I don't currently have a way to specify a wrap width, so wraparguments only makes the wrapping consistent for a given function, it doesn't enforce a particular line length.

[2017-07-03 07:45] nicklockwood commented on #153
Yeah, I don't currently have a way to specify a wrap width, so wraparguments only makes the wrapping consistent for a given function, it doesn't enforce a particular line length.

[2017-07-03 07:47] nicklockwood commented on #154
Thanks. Is this syntax new in Swift 4? I've not come across it before.

Should be a simple fix anyway.

[2017-07-03 09:09] nicklockwood commented on #152
Yeah, there have been a few requests for this. I'll try to add it soon.

[2017-07-03 09:10] nicklockwood commented on #147
@aksswami any update on this? Or should I close it.

[2017-07-03 19:23] nicklockwood commented on #154
Fixed in 0.29.2

[2017-07-03 19:23] #154 closed

[2017-07-03 19:24] nicklockwood commented on #153
I've updated the docs. Hopefully they're a bit clearer now.

[2017-07-03 19:24] #153 closed

[2017-07-03 19:24] nicklockwood commented on #151
Fixed in 0.29.2

[2017-07-03 19:24] #151 closed

[2017-07-05 14:49] timothy-volvo opened #155 "pre-commit script commits unstaged changes"
If a file has staged and unstaged git changes, the pre-commit sample script commits all the changes as the swiftformat is executed against the working file.

[2017-07-08 09:26] aksswami commented on #147
@nicklockwood Closing this for now, Was not able to reproduce this.

[2017-07-08 09:26] #147 closed

[2017-07-08 09:48] nicklockwood commented on #147
Thanks for following up 👍

[2017-07-09 18:53] swiftjsoneditor commented on #131
I am really looking forward to it, it would be insanely helpfull

[2017-07-10 20:50] mergesort opened #156 "Reverse trailing closure rule"
There currently is a rule that takes any closure that can be transformed into a trailing closure, and does so. We're trying to root trailing closures out of our code base because they have a high learning curve for newer developers, and I was wondering if it was possible to create a rule that would transform trailing closures into parenthetical ones.

I suspect it might not be possible, but figure

[2017-07-11 08:38] nicklockwood commented on #156
It wouldn't be possible, at least not for 100% of cases. The problem is that the trailing closure syntax throws away the label for the last argument, and there's no way for me to get that back again without a true AST of the whole program.

That's actually the reason why the trailingClosures rule is disabled by default, because converting to trailing closures can introduce ambiguity in some cases

[2017-07-11 08:39] nicklockwood commented on #155
I don't know how to solve this. I'd be happy to accept a PR if you know what needs to be done.

[2017-07-11 15:22] mergesort commented on #156
That stands in line with what I was thinking.

I don't think this is a huge need, so I wouldn't insist on adding the look up table or alternatives like that, but if you do happen to go down that route, then this is definitely one of the features I would love to have added.

[2017-07-12 17:59] PlayfulGeek opened #157 "Comment before closure at beginning of line removed"
In the following example, comment 2 is lost, probably due to one of the "braces" rules.

Before:
![image](https://user-images.githubusercontent.com/1126933/28131957-529761f6-66f0-11e7-9a90-f508e89e108c.png)

After:
![image](https://user-images.githubusercontent.com/1126933/28131972-5f66a1e4-66f0-11e7-9079-1d361426fa2b.png)

(test code)

    let responses = [

        // comment 1
        "response

[2017-07-13 07:48] nicklockwood commented on #157
Thanks, I'll add a fix.

[2017-07-13 11:44] OdNairy opened #158 "SwiftFormat as lint-only tool"
I cannot find `lint` launch option in SwiftFormat. Is it possible to launch SwiftFormat for processing #warning's and #error's without any modifications?

[2017-07-13 11:52] nicklockwood commented on #158
No, but this is something I want to add.

You could implement this yourself way by running with --output set to a different directory so that it doesn't overwrite the original file(s). If you run with --verbose it will tell you which rules were applied to each file, so you could pipe that to a script that then generates a lint output for any file that was modified.

[2017-07-13 11:55] OdNairy commented on #158
Thanks for notice.
I will look how can I implement it in this repo.

[2017-07-13 11:55] #158 closed

[2017-07-28 16:07] wladyslaws opened #159 "Cannot disable rules"
Hello, thank you for this awesome tool:) I want to give it a try, but apparently rules disabling is not working for me. Here is the output of two following commands for disabling and then checking rules.

    /Users/home>swiftformat --rules --disable unusedArguments,redundantLet,redundantPattern,wrapArguments

    blankLinesAtEndOfScope
    blankLinesBetweenScopes
    braces
    consecutiveBlankLi

[2017-07-28 16:12] nicklockwood commented on #159
SwiftFormat has no memory of previous commands that you have given it. If you want to disable the rules, you have to pass the list of disabled rules each time you use it.

[2017-07-28 16:14] wladyslaws commented on #159
thank you:)

[2017-07-28 16:14] #159 closed

[2017-07-28 19:25] alastaircoote opened #160 "Changing text in multiline strings"
I have some hard-coded JSON in my code:

    """
        {
            "Content-Type":["application/json"],
            "Cache-Control":["public","max-age=1"]
        }
    """

After running swiftformat it looks like this:

    """
        {
            "Content - Type":["application / json"],
            "Cache - Control":["public","max - age = 1"]
        }
    """

I'm assuming this is because

[2017-07-28 19:52] nicklockwood commented on #160
Seems like a reasonable assumption. And yes, clearly a bug!

[2017-07-28 20:00] alastaircoote commented on #160
(for anyone running into this issue as well, using `--disable spaceAroundOperators` solves this specific issue in the immediate term, though obviously it also affects your Swift code as well)

[2017-07-30 14:12] nicklockwood commented on #160
FYI, it turns out the issues is that SwiftFormat currently doesn't understand the """ multiline string delimiter, introduced in Swift 4. I haven't spent a lot of time on Swift 4 support yet, but I'll see if I can make this work.

[2017-07-30 16:10] alastaircoote commented on #160
Didn't realise it was Swift 4 only. Relative newbie here. Apologies for jumping the gun!

[2017-07-30 17:07] nicklockwood commented on #160
No problem - I'll have to fix it eventually :-)

[2017-07-31 08:03] nicklockwood commented on #160
Fixed in 0.29.3. Thanks!

[2017-07-31 08:03] #160 closed

[2017-07-31 08:03] nicklockwood commented on #157
Fixed in 0.29.3. Thanks!

[2017-07-31 08:03] #157 closed

[2017-07-31 15:40] RishabhTayal opened #161 "cocoapods integration instructions not correct."
In the tutorial, the path is incorrect. The path should be `${PODS_ROOT}/SwiftFormat/CommandLineTool/swiftformat .` instead of `"${SRCROOT}/Pods/SwiftFormat/CommandLineTool/swiftformat"`. I will create a PR to fix this.

[2017-07-31 15:41] nicklockwood commented on #161
Thanks!

[2017-07-31 15:49] RishabhTayal commented on #161
Please note that I also added a `.` in the end.

[2017-08-01 17:05] RishabhTayal opened #163 "Make examples more easily readable"
I think there needs to be some formatting in the readme.md for the [rules](https://github.com/nicklockwood/SwiftFormat#rules) section. I will create a PR for that.

[2017-08-01 17:28] RishabhTayal commented on #163
I have created an example change. If @nicklockwood think that example looks good then I will change it for other rules as well.

[2017-08-03 22:05] fbartho commented on #120
Is this maybe regressed? I'm seeing failure to remove self :(

[code]

[2017-08-04 08:54] nicklockwood commented on #120
@fbartho can you include a sample file so I can check?

[2017-08-04 17:07] fbartho commented on #120
Absolutely! I'll scrub the file of identifying details and prepare it shortly.

[2017-08-04 17:15] fbartho commented on #120
Oh! In the process of simplifying the file I deleted something that made the failure occur. (I've retested with the full file. -- Now binary searching to find the line that confuses things.

[2017-08-04 17:34] fbartho commented on #120
Include the following snippet in your file, and half or more of the `self` references won't be stripped!
[code]

Gist for full source file: https://gist.github.com/fbartho/7125c77d889dbcb6696b468810a4b428

[2017-08-11 10:21] ifelsedeveloper opened #165 "Improve spaceAroundComments"
Hello,
Thank you for your utility. You are doing great job.

I've run into issue.
It doesn't fix comments like this
//Test comments
class TestClass {
}

can you please fix spaceAroundComments?

[2017-08-20 22:08] keith opened #167 "Insert `self.` false positive"
In our codebase we have this (slightly abridged) case:

[code]

If you run SwiftFormat and add missing `self.` instances, it inserts one here:

[code]

Even though in this case the `image` is actually referring to the name bound in the compiler conditional. If I rename the containing function to not just be `image(...)`, it does not insert `self.`.

[2017-08-20 22:11] nicklockwood commented on #167
Thanks, for reporting. I thought I'd squashed a similar bug previously, but it's possible the #if breaks the previous fix. I'll look into it.

[2017-08-21 07:28] #161 closed

[2017-08-21 17:27] nicklockwood commented on #167
@keith fixed in 0.29.4

[2017-08-21 17:27] #167 closed

[2017-08-21 17:33] keith commented on #167
🎉 nice thanks!

[2017-08-23 20:41] keith opened #168 "False negative when inserting `self.`"
In this case:

[code]

If you attempt to insert missing `self.`, `bar =` is not given a `self.`

[2017-08-23 21:04] nicklockwood commented on #168
This is a known limitation of the way SwiftFormat is implemented. It has no concept of overall program structure (no AST), so inherited or extension members can't be identified as belonging to self.

I may eventually be able to make this work for extensions in the same file, as in this case, but it will never cover 100% of cases.

[2017-08-24 12:02] fxcoudert opened #169 "Failure to build on macOS 10.13 with Xcode 9"
The error, found during Homebrew testing on 10.13, is below. I've seen there is a pull request about the issue, but it was closed. Some I'm filing an issue.

[code]

[2017-08-24 13:14] nicklockwood commented on #169
@fxcoudert fair enough. I can't land the fix in its current state as it makes SwiftFormat 5000% (50x) slower. Hopefully Apple will address this before Xcode 9 is out of beta.

In the meantime, I suggest using the pre-built binary in this repo instead of homebrew for 10.13.

[2017-08-28 17:58] rajbarik opened #170 "Swift 4 build errors"
Any fix for Swift 4 support? I get this error: "error: package has unsupported layout; found loose source files:"

[2017-08-28 18:01] nicklockwood commented on #170
Not yet. There's a branch for 3.2 support here: https://github.com/nicklockwood/SwiftFormat/tree/xcode-9b5 but it has some performance regressions.

[2017-09-04 16:33] #168 closed

[2017-09-04 18:35] nicklockwood commented on #170
Fixed in 0.29.5

[2017-09-04 18:35] #170 closed

[2017-09-04 18:36] nicklockwood commented on #169
Fixed in 0.29.5

[2017-09-04 18:36] #169 closed

[2017-09-06 16:36] j-jeudesprit opened #172 "Improve space after if let foo = ..., let bar = ...,"
Now it's formatted like this:
[code]

--->

I think it will be more correct:
[code]

[2017-09-06 21:46] VinceMikhailKearney opened #173 "Whitespace and extra line at end of file"
When there is only one blank line at the end of the file it seems to add an extra one, I had seen in the CHANGELOG that you commented in August 2016 it was sorted so I was wondering if it's a rule I need to change as I can't seem to figure it out looking through it all? :)

Another question:
I have a pre-commit hook that gives me a patch file to see what the differences are, which I can then apply

[2017-09-07 16:05] castus opened #174 "--trimwhitespace "nonblank-lines" add spaces, while it shouldn't"
Let me explain what is the issue. I will mark spaces as dots.

Suppose I have

[code]

When I run `swiftformat --trimwhitespace "nonblank-lines"`, it will add four spaces in the empty line, so it will be:

[code]

Expected behaviour is that it will only trim spaces from lines, that aren't blank. It definitely shouldn't add new spaces to existing code ;)

What do you think?

[2017-09-07 16:12] nicklockwood commented on #174
This is expected behavior, although I can see why it would be confusing.

The default behavior is to remove all spaces from empty lines (which would leave your first example alone, and would convert the second example to the first).

If you override this by using `--trimwhitespace nonblank-lines` then it only trims the trailing space from lines that contain code, and leaves the other lines alone.

[2017-09-07 16:18] nicklockwood commented on #173
It's not possible for a line to be deleted and added again, as that would not result in a change in the patch file. I suspect what is happening is that the line originally contained trailing spaces or tabs, and SwiftFormat has removed those.

The blank line added at the end of the file is also not a bug, it's a deliberate feature. If you don't want that, you can disable it with `--disable linebrea

[2017-09-07 20:10] castus commented on #174
Wow, what a quick response, thanks!

In my opinion is very confusing. The way I thought about it, was:
* `--trimwhitespace always` will trim all orphaned spaces
* `--trimwhitespace nonblank-lines` is a subset of `always` and will trim **only** spaces at the end of the lines

Imagine you are working in the team, and you need to correct something in a file. It is actually good to have trimmed all sp

[2017-09-07 21:08] nicklockwood commented on #174
@castus I seem to have done a bad job of explaining.

`--trimwhitespace` works as you describe, but `--trimwhitespace` is not the only function of SwiftFormat.

By default, SwiftFormat applies indenting to the entire file, which includes blank lines. It is the indent function that is adding the space to the line in your example.

If you disable indenting, the space will not be added, e.g:

[2017-09-09 14:42] castus commented on #174
@nicklockwood you have amazing response time, thanks ! :)

Now I understand, so the indent is the problem here. But I don't want to disable it, because the indent is the most helpful thing of swiftformat ;)

Could you please consider to change the behaviour of trimwhitespace, so that when the line is completely empty it won't add spaces to it?

[2017-09-09 14:57] nicklockwood commented on #174
Why is it that you don't just use `--trimwhitespace always`? Do you have blank lines containing whitespace that you don't want to remove?

[2017-09-09 16:47] castus commented on #174
Yes, exactly. I'm working in a team where we don't have strong agreement on remove all whitespaces from blank lines. Even Xcode's default settings allows you do to it. So, I would like to use swiftformat for my code, but I don't want to change everything in the file, because PR will be messy then. For now I just disabled that rule using `--disable trailingSpace` but it would be great if I can use.

[2017-09-20 10:29] xavierjurado opened #176 "Invalid formatting using the inline let pattern"
The `inline` let pattern produced non-compilable code under the following circumstances:

Options:

Input code:

[code]

Formatted code (note the presence of two `let` statements):

[code]

[2017-09-21 09:38] nicklockwood commented on #176
Thanks. I've found the bug - will be fixed in the next release.

[2017-09-21 09:40] nicklockwood commented on #176
In the meantime, you can use `--disable hoistPatternLet` as a workaround.

[2017-09-21 09:46] castus commented on #174
It turns out, that `--disable trailingSpace` is not enough, I must disable `indent` also. It looks like totally weird thing to do, I need to disable indent when I don't want spaces 0_O

[2017-09-21 09:55] nicklockwood commented on #174
I'm not sure why this is so confusing.

The `indent` rule adds or removes space at the beginning of each line, including blank lines. The `trailingSpace` rule removes the space at the end of each line, including blank lines.

I'm looking into how I can fix this for you at the moment, but it's not clear to me what the expected behavior should be.

If I want blank lines to match the indent of the su

[2017-09-21 10:01] nicklockwood commented on #165
That's working for me. Can you provide a complete, standalone code sample that is formatted incorrectly when running SwiftFormat?

[2017-09-21 14:10] nicklockwood commented on #176
@xavierjurado fixed in 0.29.6. Thanks for reporting!

[2017-09-21 14:10] #176 closed

[2017-09-21 15:55] castus commented on #174
I will write what is my way of thinking:

About `indent` rule, I thought that it will *only* indent my code. So it will change indentation on lines that have some text. It shouldn't change any other lines. That is how I understand indentation.

For ex. I have code:
[code]

it will make it:
[code]

Second thing is whitespaces. This is something very different than indentation and shouldn't have any

[2017-09-26 14:20] Johennes commented on #155
@nicklockwood I think the actual problem is that the hook shouldn't actually change anything. Having an external tool change your code right before you commit might even be considered a security issue in some companies (not saying it is actually one for SwiftFormat of course).

I think what would be great is if SwiftFormat had something like a dry mode where it'll just print out a list of files th

[2017-09-26 15:54] Johennes commented on #155
@nicklockwood Implementation-wise this might be possible to achieve by adjusting the formatter methods (e.g. `removeToken`) to not actually do anything when the "dry option" is set but instead simply to record that a change would have happened. I think that would be easier than to work it into every single rule.

WDYT?

[2017-09-26 17:24] mlfarrell commented on #131
I could use this feature as well.  Great tool otherwise.  Thanks!

[2017-09-27 11:49] yonaskolb opened #178 "Build with Swift Package Manager"
While trying to run SwiftFormat with [Mint](https://github.com/yonaskolb/Mint), I found that SwiftFormat doesn't build with `swift build` in Xcode 9.

[code]

This can be fixed by updating the Package to Swift 4

[2017-10-06 08:04] vincentisambart opened #179 "Swift 4's key paths not supported"
It seems SwiftFormat doesn't support the new Swift 4 key paths. Running it on the file below:
[code]
gives me the following error:
[code]

[2017-10-06 09:33] nicklockwood commented on #179
Thanks, I’ll try to fix asap.

[2017-10-06 16:27] nicklockwood commented on #178
I don’t use SwiftPM myself, so this is tricky for me to test. Would you mind creating a PR with the necessary changes?

[2017-10-08 16:18] nicklockwood commented on #179
Fixed in 0.29.7

[2017-10-08 16:18] #179 closed

[2017-10-08 20:20] DarkByte3PG commented on #131
I'd be happy with a per-account config file, as I'm sure most devs would be, since we're mostly using only one code formatting style across our projects.

The problem with auto-inferring settings by looking at how the code was written is not helping me much, since my client brought me someone else's (ton of) code, which is badly and uneven formatted.

So, how about a global configuration file? Thi

[2017-10-08 21:00] nicklockwood commented on #131
If you are working with an existing project that is badly formatted, I’d strongly suggest using the command-line tool (which is fully configurable) to do a one-off reformat of the whole project, then the Xcode plugin should be effective for per-file edits from that point onwards.

[2017-10-08 22:33] vincentisambart commented on #179
That was quick.
Thanks a lot!

[2017-10-09 07:26] DarkByte3PG commented on #131
Thanks, @nicklockwood , that's a good idea! Don't know how I missed it :)

[2017-10-09 09:28] DarkByte3PG commented on #131
Btw, elseOnSameLine can be _enabled_ (forcing the "else" in constructs like "} else {"), but _disabled_ (of course) does nothing, leaving the code as it is. Is there any possibility to move the "else {" to a new line?

Thanks!

[2017-10-10 16:37] jessesquires opened #180 "Spacing around ranges edge case with =, results in invalid code"
#### Using:

`--ranges nospace`

#### Results:

[code]

#### Compiler error:

[code]

#### Expected:

[code]

[2017-10-10 18:16] nicklockwood commented on #180
Ah, thanks - I’ll get it sorted asap.

[2017-10-10 20:01] jessesquires commented on #180
Thanks @nicklockwood ! 😄

[2017-10-11 22:16] nicklockwood commented on #180
@jessesquires fixed in 0.29.8

[2017-10-11 22:16] #180 closed

[2017-10-16 21:35] rastersize opened #181 "Comment indentation in switch statement"
Hey there!

Just integrated SwiftFormat (0.29.8) and found something that seems be be a bug. The following code:
[code]

Is indented as:
[code]

Which seems off to me. I’d expect it to not change at all. Cheers!

[2017-10-16 23:04] nicklockwood commented on #181
You’re right, that does seem off. I’ll look into it - thanks!

[2017-10-17 02:46] rastersize commented on #181
Thanks! :)

[2017-10-17 20:41] fellipecaetano opened #182 ""hoistPatternLet" inserts "let" keyword before "import""
Enabling the `hoistPatternLet` rule causes a `let` keyword to be inserted before an `import`. Perhaps coincidentally, it's usually the only `import` in the source file. When `hoistPatternLet` is disabled the bogus `let` keyword is not inserted.

Running
[code]

over the file
[code]

produces the output
[code]

It also happens to exactly one other source file in my codebase. If you'd like to take a

[2017-10-18 09:41] nicklockwood commented on #182
I’ll investigate, thanks! One repro sample should be enough, unless you think the other case might be a different issue (i.e. not related to import).

[2017-10-18 13:10] fellipecaetano commented on #182
Not at all, both files are actually very similar. Thanks!

[2017-10-22 15:26] #173 closed

[2017-10-22 16:30] nicklockwood commented on #182
Fixed in 0.29.9

[2017-10-22 16:30] #182 closed

[2017-10-22 16:30] nicklockwood commented on #181
Fixed in 0.29.9

[2017-10-23 03:32] rastersize commented on #181
Thanks for fixing so quickly!

[2017-10-26 09:25] nicklockwood commented on #178
@yonaskolb I had a go at updating the package format, but when I run `mint install https://github.com/nicklockwood/SwiftFormat` I get:

[code]

The latest tag is actually **0.29.9**. Mint seems to have cached the 0.29.8 version, and I can't find any way to make it pull the latest.

[2017-10-26 09:34] yonaskolb commented on #178
Ah yes I just noticed this, the repo isn't fetching new tags properly. I have to fix that.

As a workaround you can delete the mint cach
[code]

[2017-10-26 09:36] yonaskolb commented on #178
Another workaround is to specify the specific version
[code]

[2017-10-27 12:51] #165 closed

[2017-10-27 12:51] nicklockwood commented on #152
Implemented in 0.30.0 - sorry it took so song!

[2017-10-27 12:51] #152 closed

[2017-10-27 12:52] nicklockwood commented on #117
Implemented in 0.30.0 - sorry it took so song!

[2017-10-27 12:52] #117 closed

[2017-10-29 07:51] dennisweissmann opened #184 "Rule Suggestion: blankLinesAtEndOfScope --insert option"
I'd like my code to look like this:

[code]

However, in our codebase are lots of

[code]

I can enforce the latter one with `blankLinesAtEndOfScope` but it (IMO) doesn't look as nice because it's not symmetric to the opening of the scope.

Maybe we can also introduce a `blankLinesAtBeginningOfScope` which inserts (or removes) a blank line at the beginning of the scope.

[2017-10-29 21:29] yonaskolb opened #185 "Swift 4 dictionary default failure"
I'm getting an error when using the new default syntax for dictionaries in Swift 4

[code]

The offending line of code:
[code]

[2017-10-30 08:32] nicklockwood commented on #185
That line on its own seems to work fine for me. Can you paste in the whole file? Or enough of the surrounding context to repro anyway.

[2017-10-31 06:47] rjchatfield opened #186 "`indent` Rule: .flatMap on new line unindents unexpectedly"
Example pre-formatted:
[code]
Example formatted:
[code]

(I updated this comment with the smallest example I could trick)

[2017-10-31 11:07] rjchatfield opened #187 "Add an Option to indent method's closing brace if the last param is an array or closure"
Current indent output:

[code]

It would be great to have an option to indent this like below:

[code]

Suggestion:
[code]

[2017-11-01 19:54] yonaskolb commented on #185
Seems to be if the line is in a switch statement

[code]

[2017-11-08 12:11] nicklockwood commented on #187
The issue is that the ( and { have separate indents, but the } and ) have the same indent. SwiftFormat tries to match the outermost indent in this situation. If you write it like this instead, it looks better:

[code]

[2017-11-08 13:24] rjchatfield commented on #187
Thanks for replying. That’s what we defaulted to. Well, a mixture of all 3.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-11-09 09:10] CodeEagle opened #188 "Error remove nil inside Codable struct"
when remove `= nil`
compile error
[code]

[2017-11-10 18:43] nicklockwood commented on #188
Fixed in 0.30.1, thanks!

[2017-11-10 18:43] #188 closed

[2017-11-10 18:43] nicklockwood commented on #185
Fixed in 0.30.1, thanks!

[2017-11-10 18:43] #185 closed

[2017-11-10 18:51] yonaskolb commented on #185
🎉

[2017-11-14 16:38] j4nos opened #189 "Howto indent with tab?"
Want to use tab indent, but that was no example how to change it. Tried this, without any luck.

[code]

[2017-11-14 17:16] nicklockwood commented on #189
@j4nos the syntax is:

    swiftformat --indent tab

[2017-11-14 19:27] fellipecaetano opened #190 ""self" incorrectly stripped from expression inside autoclosure"
My codebase uses [Nimble](https://github.com/Quick/Nimble) to expand its test assertion vocabulary. Nimble wraps most expectation expressions inside autoclosures, and inside them `self` is required to make capture semantics explicit. After formatting our test sources some of our test cases stopped compiling.

I understand this is an obscure edge case and that it's unlikely something can be done ab

[2017-11-15 11:30] nicklockwood commented on #190
Hi @fellipecaetano, yes this is a known issue. Unfortunately there's no context available for SwiftFormat to identify autoclosures since they look the same as ordinary arguments. At the moment the only option is to disable the redundantSelf rule.

[2017-11-15 16:29] jengu opened #191 "Continuation indent for class/struct"
It would be great to add a feature that can do continuation indent for classes and structs.
Some examples:
[code]

[2017-11-15 16:31] nicklockwood commented on #191
What is the indent principle being applied in this example - double the regular indent?

[2017-11-15 16:36] jengu commented on #191
@nicklockwood yes

[2017-11-18 23:33] FranDepascuali opened #192 "Issue with parenthesis and bool condition"
I had this first:
[code]
and after running `SwiftFormat`, it converted it to this:
[code]
Xcode complains in that line because of missing parenthesis:
<img width="497" alt="screen shot 2017-11-19 at 00 31 01" src="https://user-images.githubusercontent.com/12101394/32985723-01079b1c-ccc1-11e7-8663-51d7c3bd6713.png">

I actually don't understand why is it an error without parenthesis.

Apart from th

[2017-11-18 23:37] nicklockwood commented on #192
Thanks for the report, I’ll get that fixed asap!

[2017-11-19 23:45] #189 closed

[2017-11-20 00:03] nicklockwood commented on #192
@FranDepascuali fixed in 0.30.2

[2017-11-20 00:03] #192 closed

[2017-11-20 00:04] nicklockwood commented on #190
This is fixed in 0.30.2. I've just added a special case for `expect()`, since the Nimble framework is the only place where this issue has arisen so far.

[2017-11-20 00:04] #190 closed

[2017-11-20 00:05] nicklockwood commented on #126
@jarsen This is fixed in 0.30.2. I've just added a special case for `expect()`, since the Nimble framework is the only place where this issue has arisen so far.

[2017-11-20 00:06] FranDepascuali commented on #192
Cool, thank you very much!

[2017-11-22 07:10] garricn opened #193 "Placeholder for 3 possible Issues"
### Test file: `test.swift`

**Test Case 1**

File contains:

[code]

Running `$ swiftformat test.swift` results in:

[code]

**Test Case 2**

File contains:

[code]

Running `$ swiftformat test.swift --comments ignore` results in:

[code]

**Test Case 3**

File contains:

[code]

Running `$ swiftformat test.swift --decimalgrouping "3,0"` results in:

[code]

[2017-11-22 23:25] nicklockwood commented on #193
@garricn

Case 1 is definitely a bug - not the indenting, but the extra " that was inserted

Case 2 is by design. The --comments ignore feature is designed to disable indenting of multiline comments, because these sometimes contain code samples that shouldn't be re-indented.

I guess in this case you wanted to disable indenting of commented-out code? Unfortunately there's no feature for that at th

[2017-11-24 03:51] garricn commented on #193
Thank you! I’ll relay this info to my team :)

[2017-11-24 22:59] nicklockwood commented on #193
@garricn I've just release SwiftFormat 0.31.0 which fixes issues 1 and 2. I don't consider issue 3 to be a bug, so I'm going to close this now, but feel free to reopen if you have additional info.

[2017-11-24 22:59] #193 closed

[2017-11-24 23:00] nicklockwood commented on #193
@garricn I forgot to mention - the fix for commented-out code doesn't require the `--comments ignore` flag to be set, so you can remove that unless you have multiline comment blocks that you also wish to be ignored.

[2017-11-27 08:33] kevinrenskers opened #196 "Option to force // MARK styling"
In our code, in which multiple developers are working, we have two styles of adding the MARK comment: surrounded by newlines top and bottom, and without the newline at the bottom.

[code]

versus

[code]

It would be great to force a similar style in our code, possibly configurable.

[2017-11-27 08:40] kevinrenskers commented on #196
(Personally I'd say that the default should have newlines above and below, since usually this MARK is not about one method but a group of them, so having it as a method comment is confusing.)

[2017-11-28 00:00] LeonidKokhnovich commented on #190
We have a custom built framework that uses "@autoclosure". Is there any way to extend this fix for all other use cases?

[2017-11-28 00:03] nicklockwood commented on #190
@LeonidKokhnovich I'm considering adding a customizable whitelist of function names, but this isn't currently implemented.

[2017-11-28 00:46] LeonidKokhnovich opened #197 "Add "whitelist" of methods that use @autoclosure in order to stop removing "self""
This issue is created based on a discussion from here: #190

Sample code to reproduce:

[code]

[2017-11-28 15:42] AMatecki opened #198 "Split wrapArguments to separate function declaration and implementation"
Hi,
I would like to have more control over wrapArguments. Currently I have to choose the same behaviour
for function declaration and implementation.  I can't have beforeFirst implementation:
[code]

and afterFirst declaration:
[code]

The main reason why I want them separately is that I don't like hanging ") {"in the new line in case of declarations with beforeFirst option:
[code]

This version wo

[2017-11-28 22:35] tinder-garricnahapetian opened #199 "Grouping for fraction digits"
We use the SwiftLint `number_separator` rule in our project. If we continue to use this rule it will conflict with the SwiftFormat `numberFormatting` rule because SwiftFormat will remove underscores from fraction digit groups while SwiftLint will require them.

[2017-11-30 00:26] nicklockwood commented on #196
Implemented in 0.32.0

[2017-11-30 00:26] #196 closed

[2017-11-30 00:27] nicklockwood commented on #142
@deepumukundan ironically, line-level turned out to be easier, because I didn't have to decide on a file format. Implemented in 0.32.0.

[2017-11-30 00:27] #142 closed

[2017-12-07 06:18] jengu commented on #191
Any updates on this issue?

[2017-12-09 15:36] alphatroya commented on #66
I see that 0.32.1 is added a `--dryrun` option, I think it a big step to resolve this issue 👍

[2017-12-21 15:35] garriguv commented on #66
Having `--dryrun` is indeed a game-changer 😃

https://github.com/garriguv/danger-ruby-swiftformat

[2017-12-21 15:53] nicklockwood commented on #66
@garriguv nice! Perhaps you could add a README PR that explains how to set up SwiftFormat as a CI step? You are welcome to include a link to your Danger plugin.

[2017-12-21 15:57] garriguv commented on #66
@nicklockwood I'll get something ready.

[2017-12-21 16:12] nicklockwood commented on #66
I'm going to consider this closed by https://github.com/nicklockwood/SwiftFormat/pull/202 - thanks @garriguv!

[2017-12-21 16:12] #66 closed

[2017-12-25 08:25] lettleprince opened #204 "README mistakes"
There are two mistakes in the content of README.

[code]

should be

[code]

And,

[code]

should be

[code]

[2017-12-27 00:36] garohussenjian opened #205 "`redundantSelf` false positive when capturing self in escaping autoclosure"
When capturing `self` (i.e. passing property references as arguments) in escaping autoclosures, SwiftFormat incorrectly removes `self.` while attempting to enforce the redundantSelf rule.

In these instances, `self.` is needed to make an explicit capture, removing results in a compiler error

[code]

[2017-12-27 02:51] garohussenjian commented on #205
Closing, this is a known issue

[2017-12-27 02:51] #205 closed

[2017-12-28 03:59] mgrebenets opened #206 "Rule to force position of else statement in multiline guard statements"
Would it be possible to have a rule that enforces `else` position in multi-line `guard` statements?
E.g.

[code]

would be formatted into

[code]

At the moment SwiftFormat leaves code like this untouched.

I believe this is related to #37.

[2017-12-28 04:00] mgrebenets commented on #206
Another useful formatting rule would be to enforce uniform formatting for multiline guards.

For example, when `guard` is multiline, but there is no newline after `guard` itself:

[code]

Could be formatted into

[code]

Since it's clear that `guard` is multiline here.

[2018-01-04 01:45] wizofaus opened #207 "{ } don't align properly with --allman when used as function arguments"
The following code:

    UIScrollView.animate(withDuration: 0.25, animations:
       {
             doStuff()
       }, completion:
       {
            doOtherStuff()
       })

Fails to format as expected, with the { } being unaligned and weirdly placed. Nor does { get moved to the next line if originally formatted K&R style. Note this happens with just a single parameter, and even if it's anony

[2018-01-11 12:30] QF5690 opened #208 "Inconsistent whitespace in multi-line string literal"
I think there is some problem with parsing multiline strings.
Valid code:
[code]
Error:
[code]
Version:
[code]

[2018-01-12 09:42] nicklockwood commented on #204
Thanks. Could you open a PR to fix them, and I'll merge it?

[2018-01-12 17:00] nicklockwood commented on #208
@QF5690 thanks - I've found the issue. Seems to be caused by the space between "describing:" and "4". The parser is wrongly interpreting that as indent space. Should be easy to fix.

[2018-01-12 20:12] nicklockwood commented on #208
@QF5690 fixed in 0.32.2

[2018-01-12 20:12] #208 closed

[2018-01-12 20:12] nicklockwood commented on #204
Never mind, fixed in 0.32.2

[2018-01-12 20:12] #204 closed

[2018-01-14 18:37] nickdomenicali opened #209 "Unable to ignore comments, adding indents to empty commented lines"
When commenting out a block of code the empty lines that are also commented get indented to the level of scope.

for example:
[code]
both `swiftformat .` and `swiftformat . --comments ignore` indent the empty comment line
[code]

[2018-01-26 04:10] VinceBurn commented on #131
Hi, do you have a plan for this? Because I would be interested in contributing for this item.

I've seen that https://github.com/Jintin/Swimat is using `UserDefaults(suiteName:)`  to share settings across the application and extension. Where you looking at a solution like that or you have found an other way?

[2018-01-26 10:39] nicklockwood commented on #131
@VinceBurn yes, using user defaults is the plan. The sticking point at the moment is building a UI for managing the settings. For now, a simple text box where you can enter the command-line arguments might be the best option.

[2018-01-26 10:39] nicklockwood commented on #131
@DarkByte3PG indenting switch cases is now supported using the `--indentcase true` option.

[2018-01-26 11:37] DarkByte3PG commented on #131
@nicklockwood : wow, thanks! I'll take a look into this tomorrow.

[2018-01-26 14:26] VinceBurn commented on #131
@nicklockwood I would go for a UI in the same "spirit" as the "general" section of the "system preferences", but scrolling.
And it should be coded in a way that should be easy to add new settings as they are developed.
I would leave out detailed descriptions and example for each settings.

[2018-01-26 14:29] nicklockwood commented on #131
@VinceBurn that would probably be more user-friendly, but it will take longer to build and be harder to maintain than the textfield option. If you want to take a stab at it though, then be my guest :-)

[2018-01-26 17:00] evisoup commented on #131
@nicklockwood  so the rules for existing files are clear

What would be the behavior for a new file?  🤔

I just did a little experiment by creating a poorly formatted code in a new file, but the formatter seems still does the job.

Just curious what should I expect from it.

[2018-01-26 18:51] nicklockwood commented on #131
@evisoup that comment only applies to the Xcode plugin. If you are using the command line tool rather than the Xcode plugin then it *doesn't* attempt to infer the format options from your existing files - it will always use the default settings unless you explicitly override them.

If you are using the Xcode plugin, then it has no knowledge of any files in your project other than the one you are c

[2018-01-26 19:43] evisoup commented on #131
@nicklockwood  Thanks for the clarification. And yes, I was curious about the behavior of the plug in only, which you answered👍

[2018-01-28 22:38] VinceBurn commented on #131
@nicklockwood I have something working for rules, which should be easy to maintain. Option on the other hand is more complicated and will need some more thinking.

I would like you to take a look at it, to see if you think it is in the right direction. If you think it is in the right direction I will add some test and then propose a merge request for the rules part.
( https://github.com/VinceBurn/

[2018-01-28 23:13] nicklockwood commented on #131
@vinceburn thanks! It’s late here, but I’ll take a look tomorrow.

[2018-01-29 10:47] Starscream27 opened #210 "[FEATURE REQUEST] blankLinesAtBeginningOfScope"
There's already a *blankLinesAtEndOfScope* allowing one to remove blank lines at end of scope. I would suggest we add the equivalent for the beginning of scope: *blankLinesAtBeginningOfScope*

E.g.

[code]

would be formatted into

[code]

[2018-01-29 22:16] nicklockwood commented on #131
@VinceBurn looking good! Can you open a work-in-progress PR so it's easier for me to review and give feedback? A couple of comments so far:

* I don't think it's a problem that it only supports rules - the options are inferred from the current state of the file being formatted, but the rules are the part that there is currently no way to configure at all.

* I'd prefer not to require 10.13 as a mi

[2018-01-29 22:18] tonyarnold commented on #131
Given that Xcode 9.3 is 10.13+ only, Apple might be making this decision for you…

Sorry for ducking out on this issue - I'll happily help to review the WIP PR once it is opened.

[2018-02-01 08:13] daniavram opened #213 "Xcode Source Editor Extension installation issue"
After attempting to install as described in the readme, I get the following error: `"SwiftFormat for Xcode" is damaged and can't be opened. You should move it to the Trash.` Am I doing something wrong?

[2018-02-01 08:46] nicklockwood commented on #213
@daniavram sorry about that - I'd just merged a WIP PR onto the main branch and that overwrote the binary. Try again now.

[2018-02-01 09:04] daniavram commented on #213
@nicklockwood Awesome. It works now. Thanks 😉 Will close. But, just an idea, if you could add an icon to the `SwiftFormat for Xcode` file (the one from `EditorExtension` folder) it would be great. Great work with the extension, anyways! 😁

[2018-02-01 09:04] #213 closed

[2018-02-01 09:37] nicklockwood commented on #209
@nickdomenicali @hyperknot sorry I took so long to get to this. I've found the problem and it will be fixed in the next release.

[2018-02-01 09:42] nicklockwood commented on #206
@mgrebenets do you think it would make sense to tie this to the existing `elseOnSameLine` rule configuration? It seems related.

[2018-02-01 22:04] nicklockwood commented on #210
Added in version 0.33.0

[2018-02-01 22:04] #210 closed

[2018-02-01 22:05] nicklockwood commented on #209
Fixed in 0.33.0

[2018-02-01 22:05] #209 closed

[2018-02-01 22:07] nicklockwood commented on #131
@ahwulf support for enabling/disabling rules in the Xcode plugin has landed in version 0.33.0.

[2018-02-01 22:07] #131 closed

[2018-02-05 17:09] hyperknot opened #214 "--insertlines --removelines"
I'm somewhat confused about the new rules and options supported by the newest 0.33.0 release.

TLDR: It's removing empty lines and it's not clear how to configure it not to.

Confusion 1. There are 4 rules but only 2 options to configure them:

- blankLinesAtStartOfScope
- blankLinesAtEndOfScope
- blankLinesBetweenScopes
- blankLinesAroundMark

for options: `--insertlines` and `--removelines`.

Co

[2018-02-05 17:21] nicklockwood commented on #214
Hi @hyperknot

TLDR; to revert to the old behavior use `--disable blankLinesAtStartOfScope`

Re: Confusion 1

There is not a one-one mapping between rules and options. Several rules may be affected by the same option. In this case, both the `blankLinesAtStartOfScope` and `blankLinesAtEndOfScope` rule can be configured using the `--removelines` option.

All rules can be disabled explicitly by using

[2018-02-05 17:27] hyperknot commented on #214
Thanks!

[2018-02-05 17:27] #214 closed

[2018-02-06 23:01] tinder-garricnahapetian commented on #199
Hi Nick, I just wanted to check in with you regarding this. Any plans to tackle this issue? How easy would it be for someone like me to handle? I hope all is well. Happy new year! :)

[2018-02-07 13:45] rmaz opened #215 "Remove duplicated imports"
Minor one, we have a bunch of code with loads of imports that has dupes, would be nice to strip them out

[2018-02-07 13:46] nicklockwood commented on #215
Good idea!

[2018-02-07 13:49] nicklockwood commented on #199
@tinder-garricnahapetian sorry I haven't gotten around to this yet. The rule itself is pretty straightforward (really just a minor change to the existing rule), but the complexity is in figuring out how to name it and fit it in with the existing set of options. That probably makes it unsuitable as something for an external contributor, but I'll try to get it added for the next release.

[2018-02-07 17:53] VinceBurn opened #216 "Allow option configuration for the Xcode Extension"
Currently the Xcode Extension companion application can configure which rules will be applied by the Xcode Extension.
It would be nice to be able to do the same for options.

Interesting evolution to consider that this new feature would make possible.
1. A way to identify which options affect which rules in application UI.
2. A "help" panel that could show the help for a selected Rules and Options

[2018-02-07 18:28] VinceBurn commented on #216
Hi @nicklockwood, @tonyarnold

I've done some exploratory work to see how this could be done.
I've started with UI data to see what is needed and I'm walking my way backward toward the data.

Currently I'm using:
- UserSelectionType enum to be able to model the different selection ways
- A UserSelectionType has an associated value that maps to a specific representation that can be translated to a

[2018-02-09 15:33] rafcabezas commented on #206
@nicklockwood Please don't tie it into the `elseOnSameLine` rule. We use else on same line for everything except multiline guards

[2018-02-09 15:40] rafcabezas commented on #206
A rule to enforce the multiline guard formatting would be greatly appreciated, though. With our current setup, swiftformat seems to respect/infer the current multiline guard format and leave it as is; but the reason we're using swiftformat is to enforce a certain formatting style, so it kind of defeats the purpose :)

[2018-02-09 17:47] VinceBurn commented on #216
Hi @nicklockwood and @tonyarnold,

I've made #217 to have a better view on a possible implementation and to have your feedback before I dive to much in.

Thanks for your comments.

[2018-02-10 20:52] nicklockwood commented on #215
@rmaz implemented in 0.33.1

[2018-02-10 20:52] #215 closed

[2018-02-12 09:43] rmaz commented on #215
👍

[2018-02-13 04:09] hyperknot opened #219 "Indent comments within blocks"
By default both Xcode and AppCode aligns comments in the wrong place when the Cmd + / is pressed, that is at the start of the line.

[code]

AppCode's built-in reformatter actually supports fixing this, but for a year+ there AC couldn't solve why the default position of those comments are at column 0.

Now with today's SwiftFormat, I couldn't find an option to fix these. I believe fixing this mean

[2018-02-13 10:46] nicklockwood commented on #219
Previously I was indenting the comment, but preserving the leading whitespace inside the comment, which looked very wrong for deeply indented code. I added an exception for code comments to leave them at the beginning of the line (i.e. to replicate Apple's comment behavior).

The reason for this is commenting-out blocks of code tends to be a temporary action, where you intend to either delete or u

[2018-02-13 12:25] hyperknot commented on #219
You are right that's a more tricky issue for alignments within comments.

WebStorm (AppCode's JS cousin) is way more polished in this regard. It comments and uncomments like this:

[code]

Aligning perfectly and with exactly one space at the nearest line.

Can you not just do the same? That is:
- move the comments to the right indentation level
- remove spaces such that there is exactly one space

[2018-02-15 18:40] rudedogg opened #220 "Some header rule exception variations don't work"
I'm attempting to keep a copyright header on a file. It seems that some variations of the comment to disable the rule are missed by SwiftFormat.

Swift Version: 4
SwiftFormat Version: `swiftformat, version 0.33.1`
Options/Command: `swiftformat --header strip --stripunusedargs closure-only --indent 2 *.swift`

## Working
[code]

## Not Working (stripped/deleted)
[code]

[2018-02-20 09:38] Cyberbeni opened #221 "SwiftFormat screws up override init"
SwiftFormat version: 0.33.1
Original file:
[code]

Formatted file:
[code]

[2018-02-20 10:55] nicklockwood commented on #221
@Cyberbeni ah, it's the `.postfix` that's the problem. I'll fix it.

[2018-02-20 10:58] Cyberbeni commented on #221
Thanks. It's the same problem with `.prefix`.

[2018-02-20 11:01] nicklockwood commented on #221
@Cyberbeni yes, more generally, any specifier keyword (e.g. public, private, open, override, etc) that appears at the end of previous line is being mistaken for part of the init function declaration.

[2018-02-20 18:27] nicklockwood commented on #221
@Cyberbeni fixed in 0.33.2

[2018-02-20 18:27] #221 closed

[2018-02-20 18:28] nicklockwood commented on #220
@rudedogg fixed in 0.33.2, but you'll need to use `// swiftformat:disable fileHeader` as it's the name of the rule, rather than the option

[2018-02-20 18:28] #220 closed

[2018-02-20 19:26] Cyberbeni opened #223 "Recommended git hook commits unstaged changes if file has staged lines"
Now I don't have my work laptop with me, so I couldn't try it out, but I'm 99.9% sure this is what happens.

Here is the git hook I used for sorting imports in objective C files, that solves this problem: https://github.com/Cyberbeni/GitHooks/blob/master/pre-commit

tl;dr:
`git stash --keep-index` before formatting and adding changes
`git stash pop` after formatting and adding changes

Not sure if

[2018-02-21 02:58] ChristopherRogers opened #224 "`duplicateImports` breaks with more complicated import statements"
If you are using import statements for types or importing submodules that not exported by default from the main module (`import enum MyModule.MySubmodule.MyEnum`, or `import MyModule; import MyModule.Private`), SwiftFormat's new `duplicateImports` rule can remove them.

[2018-02-21 03:01] ChristopherRogers opened #225 "`redundantParens` removes required parentheses for tuples of closure value."
Before applying SwiftFormat:
[code]

After applying SwiftFormat: (error: Expected pattern)
[code]

[2018-02-21 03:26] ChristopherRogers opened #226 "redundantParens removes required parentheses for function call after #selector"
SwiftFormat will remove the parentheses on the function call `foo()` below:

[code]

[2018-02-21 10:38] nicklockwood commented on #226
@ChristopherRogers thanks for reporting it, I'll get this fixed asap.

[2018-02-21 16:32] mrackwitz opened #227 "--inferoptions returns options which are deprecated"
This causes the following warning when using the options to format the code:
[code]

[2018-02-21 16:35] nicklockwood commented on #227
@mrackwitz thanks, I'll fix it.

[2018-02-21 21:14] nicklockwood commented on #227
Fixed in 0.33.3

[2018-02-21 21:14] #227 closed

[2018-02-21 21:15] nicklockwood commented on #226
Fixed in 0.33.3

[2018-02-21 21:15] #226 closed

[2018-02-21 21:15] nicklockwood commented on #225
Fixed in 0.33.3

[2018-02-21 21:15] #225 closed

[2018-02-21 21:15] nicklockwood commented on #224
Fixed in 0.33.3

[2018-02-21 21:15] #224 closed

[2018-02-26 04:02] ChristopherRogers commented on #226
That was fast! Thank you!

[2018-02-26 06:10] ChristopherRogers opened #229 "unusedArguments adds an underscore to closure argument types"
This
[code]

gets turned to this:

[code]

The following (what it probably should have been) is not modified.

[code]

[2018-02-26 08:07] nicklockwood commented on #229
@ChristopherRogers this is deliberate - since those arguments are unused they don’t need to be named.

[2018-02-26 08:10] yonaskolb commented on #229
@nicklockwood But the types are messed up, eg `_Int`

[2018-02-26 08:10] nicklockwood commented on #229
@ChristopherRogers @yonaskolb oh sorry, I missed that. OK, yes that's a bug. I'll fix it.

[2018-02-26 18:00] nicklockwood commented on #229
@ChristopherRogers fixed in 0.33.4

[2018-02-26 18:00] #229 closed

[2018-02-27 05:39] delackner opened #230 "swiftformat 0.26.1 redundantReturn confused by if #available"
Swiftformat is removing the first `return` below:
[code]

[2018-02-27 08:34] nicklockwood commented on #230
Thanks, I'll take a look

[2018-02-28 21:16] AndrewSB opened #231 "Use libSyntax?"
Hey @nicklockwood! This is awesome and I'm so happy you've spent the time to build it 🙃

Have you thought about using [libSyntax](https://github.com/apple/swift/tree/master/lib/Syntax) to do the tokenizing and whatnot? I see that alot of that is implemented in this library, but (to me) it makes sense for the Swift community to colocate all of the syntax parsing expertise into one tool, instead of

[2018-03-05 16:08] VinceBurn opened #232 "spaceAroundOperators and wildcard"
In a `if #available` statement the `*` should not be treated as an operator.

Currently when applying the `spaceAroundOperators` rules the following change will be apply:

-    if #available(iOS 10.0, *) {
+    if #available(iOS 10.0, * ) {

(a space was added after the `*`)

[2018-03-05 16:15] VinceBurn commented on #232
If combined with the `spaceInsideParens` rule, this is not an issue.

[2018-03-05 16:22] nicklockwood commented on #232
I'll leave it open, as rules are supposed to be independent and one rule shouldn't introduce a bug that another rule is required to fix

[2018-03-05 16:23] nicklockwood commented on #231
@AndrewSB I have considered it, but it would require a major rewrite (libSyntax wasn't available when I started).

[2018-03-05 20:14] AndrewSB commented on #231
That makes sense, thanks for responding!

[2018-03-05 20:14] #231 closed

[2018-03-06 11:30] chenyunguiMilook opened #233 "Failed to format some mathmatic function"
failed to format this type of code

[code]

[2018-03-07 12:24] nicklockwood commented on #230
I can't reproduce this in the latest version (0.33.4). Can you confirm?

[2018-03-07 12:26] nicklockwood commented on #233
@chenyunguiMilook I just tried this sample with SwiftFormat 0.33.4 and it seemed to work. Can you confirm?

[2018-03-07 13:11] chenyunguiMilook commented on #233
@nicklockwood I'm using 0.33.4, and I have tried again, it works!!, yesterday I tried it just after installation, Xcode popup failed, may be caused by some other reason.

[2018-03-07 13:11] #233 closed

[2018-03-08 11:01] fphilipe opened #234 "Wrong indentation of conditional compilation blocks around switch cases"
Swift allows to wrap a switch case in a conditional compilation block. SwiftFormat indents those blocks one level too deep.

This is what I get for each config of `--ifdef`:

[code]

What I expect is the following:

[code]

[2018-03-08 11:04] nicklockwood commented on #234
That makes sense. Thanks for reporting!

[2018-03-08 11:43] AMatecki commented on #198
Hey @nicklockwood, any chance you could make this change?

[2018-03-08 11:47] yonaskolb commented on #198
I would love to be to control the new line brace (hanging as you say @AMatecki ) separately from the before or after first. Would this also solve your problem @AMatecki? Or do you also want different first param wrapping for func declarations and call sites?

[2018-03-09 06:59] delackner commented on #230
Nick, if I had realized my team was on such an old version I would have
tried to repro before reporting.  My apologies.  I will have a check
tomorrow.

On Wed, Mar 7, 2018 at 4:24 AM, Nick Lockwood <notifications@github.com>
wrote:

[2018-03-09 08:24] AMatecki commented on #198
My main pain point is hanging new line brace, everything else would be a nice bonus

[2018-03-09 10:29] yonaskolb commented on #198
Yeah I'm not a huge fan of it either. I'd basically like to be able to have `beforeFirst` without the hanging brace

[2018-03-11 15:11] knlr opened #235 "sortedimports: code between imports gets deleted"
My project wouldn't compile after running swiftformat because it deleted some code. It turned out that the sortedimports rule assumes all the imports are in one place, and it will discard anything in between the first and last 'import' that isn't an import:

[code]

[2018-03-15 22:01] nicklockwood commented on #235
Thanks, I'll include a fix in the next release.

[2018-03-15 22:02] #230 closed

[2018-03-16 08:54] nicklockwood commented on #235
@knlr fixed in 0.33.5

[2018-03-16 08:54] #235 closed

[2018-03-16 08:55] nicklockwood commented on #234
@fphilipe this turns out to be harder to fix than I expected. Didn't make it into this release, but hopefully will be solved for the next one.

[2018-03-20 22:16] RabugenTom opened #236 "Special Xcode UITesting markup is modified by SwiftFormat"
When recording UITests, Xcode generates some special comment markup with alternative choices for tapped elements. For example,

[code]
will be displayed as
<img width="441" alt="capture d ecran 2018-03-20 a 18 58 19" src="https://user-images.githubusercontent.com/1325273/37685203-55df0d86-2c71-11e8-9724-2d88080502fa.png">

<img width="431" alt="capture d ecran 2018-03-20 a 19 10 18" src="https://u

[2018-03-22 15:07] fphilipe opened #237 "Code and comments between imports getting deleted"
Code within `#if/#endif` and comments get deleted when placed between `import` lines:

[code]

The above code, regardless of the `--ifdef` config, becomes:

[code]

[2018-04-04 08:37] stantrujillo opened #239 "Separate indentation rules for closures"
It would be great if you could, for example, use Allman but specify K&R for closures.

[2018-04-05 21:26] felix91gr opened #240 "Linux support?"
We're making an [index](https://github.com/felix91gr/awesome-system-swift) of cool Swift cross-platform tools and libraries. Is SwiftFormat intended for use in Linux as well? If so, how can I compile it? I tried `swift build` and it says `warning: no targets to build in package` x3

Thank you for the help, and have a good day :)

[2018-04-06 08:42] nicklockwood commented on #240
@felix91gr SwiftFormat only works on macOS at the moment, as it relies on the Objective-C runtime (I'll consider refactoring to remove that requirement if there's a lot of interest in Linux support though).

You might want to check out my [Expression](https://github.com/nicklockwood/Expression) and  [Consumer](https://github.com/nicklockwood/Consumer) libs though, which both support Linux :-)

[2018-04-06 18:41] felix91gr commented on #240
Okay! Let's see what happens then :)

Atm I'm mainly focusing on helping make [SourceKittenDaemon](https://github.com/terhechte/SourceKittenDaemon/) and [langserver-swift](https://github.com/RLovelett/langserver-swift/) a reality on Linux. Any of those are required for a sane developing experience (IDE, autocomplete, etc). Therefore, I don't have a use case for formatting right now, and probably o

[2018-04-06 19:12] nicklockwood commented on #240
It’s a [parser combinator](https://en.m.wikipedia.org/wiki/Parser_combinator) framework, so it’s not limited to context free grammars - in theory it can parse just about anything - you just have to define the rules.

Out of the box it can evaluate arithmetic or boolean expressions, but it can be extended with custom variables or symbols, and it can work with arbitrary types, so it can be used for

[2018-04-06 19:17] tinder-garricnahapetian opened #241 "Whitespace between try!/try? and .init() Removed"
Test Case 1:

`let foo: Int = try! .init()`

Result:

`let foo: Int = try!.init()`

Test Case 2:

`let foo: Int = try? .init()`

Result:

`let foo: Int = try?.init()`

Test Case 3:

`let foo: Int = try .init()`

Result:

`let foo: Int = try .init()`

swiftformat, version 0.33.5

[2018-04-06 19:29] felix91gr commented on #240
I couldn't make Expression work, because you're importing `CoreGraphics` somewhere. Are you sure it runs on Linux? Well, I was trying to make `swift test` work after all so maybe it _does_ work but tests don't :thinking:

[2018-04-06 19:33] nicklockwood commented on #240
@felix91gr correct - the framework works on Linux but the tests don’t.

[2018-04-11 14:11] garnett opened #242 "Header strip deletes documentation"
[code]

produces

[code]

Is it feasible to distinguish between "header comments" type based on `///` vs `//`?

[2018-04-13 09:33] hartbit commented on #206
Same here.

[2018-04-13 09:35] hartbit opened #243 "Rule to indent multiline strings"
It would be nice to have a rule to indent multiline strings from:

[code]

into

[code]

It seems to be the style most often used in the community too.

[2018-04-13 12:50] #178 closed

[2018-04-14 13:18] mihaicristiantanase opened #244 "One liner"
Hi!

Is there a rule that can take the following function:
[code]
and format it like this:
[code]
due to the empty content?

[2018-04-14 13:22] mihaicristiantanase opened #245 "Partial formatting"
Hi!

Is there a way to format only a portion of a file?
Something like:
[code]
where "range" takes two lines as parameters

[2018-04-14 13:23] mihaicristiantanase opened #246 "Standard Output"
Hi!

Can the "--output" be used to send the result to standard output?

[2018-04-16 03:30] huangzhouhong opened #248 "Reorder of defaulted parameters"
Add new rule to  reorder defaulted parameters

Decription
---

[code]
call method
[code]

formatter output:

[code]

[2018-04-17 08:26] nicklockwood commented on #242
@garnett seems to be working for me - can you provide a file that reproduces the issue? (or even better, a PR with a failing test?)

[2018-04-17 11:20] #246 closed, assigned to nobody

[2018-04-17 11:25] mihaicristiantanase commented on #245
@nicklockwood, do you think it's a trivial task to allow the command line tool to do partial formatting?
I'm asking because I'd like to use swiftformat with git hooks.

[2018-04-18 08:02] nicklockwood commented on #241
@tinder-garricnahapetian this is now fixed in 0.33.6. Thanks for reporting it!

[2018-04-18 08:02] #241 closed

[2018-04-19 09:21] #248 closed, assigned to nobody

[2018-04-19 22:35] tinder-garricnahapetian commented on #241
my pleasure :)

[2018-04-19 22:46] tinder-whitneyfoster opened #251 "How to Disable [Key : Second Line Value] Alignment?"
Hi! We'd just like to know the rule name that handles this functionality so I can disable it:
[code]
changes to:
[code]
We're trying to avoid second line values but we'd like to avoid using this SwiftFormat rule for the few that slip through the cracks.

Thanks!

[2018-04-20 22:16] jasjuang commented on #119
@nicklockwood I look forward to this feature!

[2018-04-21 16:39] pampeano opened #252 "Build fase not working"
Since version 0.33.6, the build phase not working.

<img width="747" alt="captura de pantalla 2018-04-21 a la s 13 30 21" src="https://user-images.githubusercontent.com/35750464/39086509-cde135d8-4568-11e8-81a4-9fe63907d5c7.png">

My build phase script is

[code]

I temporarily fixed with follow code

[code]

Possible bug in this [commit](https://github.com/nicklockwood/SwiftFormat/commit/bde19922

[2018-04-29 19:49] castus commented on #174
Does that make sense? ;)

[2018-04-30 17:11] alimoeeny opened #253 "@testable is being removed from imports in test files"
I must be missing something, but couldn't figure out why swiftformat removes the `@testable` from
[code]
in my test files. Marmalade here being the library that is being tested and Test files need the `@testable` so that we don't need to expose internals of the library just to get them tested.

[2018-04-30 17:58] nicklockwood commented on #253
@alimoeeny that definitely shouldn’t happen. Can you verify that you’re using the latest version?

If you are, can you provide a sample file that I can use to reproduce the issue?

[2018-04-30 19:06] alimoeeny commented on #253
Thanks @nicklockwood
- I am using `0.33.6` with Pods (as a pod + a build step that calls it).
- yes I can provide a sample. I think I need to provide a project because this only happens on the test side and just a file will not do. Should I create a repo with this sample project in it?

[2018-04-30 19:08] nicklockwood commented on #253
@alimoeeny the code doesn’t have to compile to be formattable. A single file should be sufficient.

[2018-04-30 19:12] alimoeeny commented on #253
Of course.
if you run swiftformat on the following file, the `@testable` will be removed:
[code]

[2018-05-01 02:09] JohnEstropia opened #254 "Rule request: Ability to force a blank line at the start of scope"
Thanks for the awesome tool.

I need to customize the `blankLinesAtStartOfScope` rule to insert blank lines instead of removing them. I thought of writing a PR, but there are several approaches to this so I thought I should consult which direction is preferred.

- Option A: Add a `forceBlankLinesAtStartOfScope` rule separate from `blankLinesAtStartOfScope`.  `--insertlines` and `--removelines` arg

[2018-05-01 18:09] an0 opened #255 "Need a rule for adding a blank line between consecutive cases in a switch block"
Thanks!

[2018-05-02 19:24] castus opened #256 "Plug in/Extension architecture"
I love this tool. I want to use it to format code in my organization. We have some custom rules that are easy to write, but when I do it, I will lose ability to update this tool from your repository. Did you thought about custom rules, that every user can write and use it apart from the tool itself?

From what I saw it is be very difficult in the current architecture, but maybe it is easy, maybe t

[2018-05-03 12:11] nicklockwood commented on #256
@castus can you give some examples of the sort of rules you'd want to write?

[2018-05-03 14:42] castus commented on #256
Yes of course:
1. Linebreak at the very top of the file.
2. Linebreak after calling `super.xxx()`
3. Linebreak before return. There shoudn't be blank line when there is only one `return` in the scope, for ex. `{ return }`
4. Linebreak after guard's else scope
5. Linebreak inside class, extension or struct, for ex:
[code]

[2018-05-03 17:49] JustinJiaDev commented on #149
It looks like `blankLinesAtStartOfScope` has been added so I'll close this one. Thanks @nicklockwood!

[2018-05-03 17:49] #149 closed

[2018-05-10 07:40] nicklockwood commented on #256
@castus OK that makes sense. Some of those rules could probably just be added to the standard list as off-by-default, but a few are probably too esoteric for general use.

I think it would probably be sufficient just to add the `CustomRules.swift` file, without needing the template and build script. That file would never change, so anyone who has added custom rules shouldn't run into conflicts whe

[2018-05-10 07:48] nicklockwood commented on #253
@alimoeeny there seems to be a syntax error in your code - it should be

`@testable import AlisLibrary`

But you are missing the `import` statement.

[2018-05-10 07:49] nicklockwood commented on #253
@alimoeeny if I add the `import` statement then SwiftFormat doesn't remove the `@testable` line.

Do you think that could have been the whole issue, or do you have another test case?

[2018-05-10 07:54] nicklockwood commented on #245
@mihaicristiantanase it's doable, but formatting can be fairly unreliable when applied to a range - for example it may mess up the indenting if the selection overlaps the start or end of a scope. It's probably safer to format the entire file.

[2018-05-10 09:13] alimoeeny commented on #253
@nicklockwood I could have sworn that it happened with the `import`
Since last we talked I have `--excludeded` my test project. I just went and removed the exclude and all worked fine.
I must have been very confused. :face_palm: :bumps_head_to_wall:
Thank you very much. And I apologize for taking your time.

[2018-05-10 09:13] #253 closed

[2018-05-10 20:47] castus commented on #256
@nicklockwood could you point what rules you think can be added to the standard list? I will try to make PR with them.

The idea with the `CustomRules.swift` is great, I will make a PR with this change as well.

[2018-05-11 09:12] garnett commented on #242
You were right, it works, my example was incorrect:

[code]

comment will be stripped only if there is a blank line, but, considering that Xcode allows empty line between them:

<img width="517" alt="screen shot 2018-05-11 at 10 11 52" src="https://user-images.githubusercontent.com/829783/39916904-d1a483fa-5503-11e8-815b-ce5a82ec9e13.png">

[2018-05-11 09:26] garnett commented on #242
PR with failing test: https://github.com/nicklockwood/SwiftFormat/pull/258

[2018-05-13 12:36] jeffersonsetiawan commented on #68
I'm using 10.13 and the extension is not showing. Tried 9.3 and 9.3.1, doesn't work.

Please help.

[2018-05-16 08:02] nicklockwood commented on #256
@castus so, IIUC rule 3 would convert something like:

[code]

to

[code]

I can imagine a lot of teams wanting this rule, although I've also seen the argument that it should always be the former so that you can put a breakpoint against the return line. So I think a rule that can be configured to convert either way would be useful. If you'd like to have a go at that I'd appreciate it (don't worry

[2018-05-16 08:04] nicklockwood commented on #256
@castus actually, re 5 - someone else has already done some thinking about that: https://github.com/nicklockwood/SwiftFormat/issues/254

[2018-05-16 08:18] nicklockwood commented on #254
@JohnEstropia hey, sorry for the radio silence. I agree with your thinking here.

I'd like to avoid having rules that contradict each other because I don't have any good way to document or detect exclusivity (i.e. what happens when you enable both rules), so I think option A is probably not a good idea.

I've deprecated the `--insertlines` and `--removelines` options because they're too broad, but

[2018-05-18 07:52] nicklockwood commented on #252
@pampeano I believe this is now fixed in version 0.33.7, please verify. Thanks!

[2018-05-18 17:01] Panajev opened #259 "SwiftFormat inserts self where local variable shadows class instance method"
Hello :),

We have noticed that SwiftFormat handles the following case
[code]
incorrectly when adding **self.** as a formatting rule.
Since the class this code snippet comes from has a method that is named route, I think SwiftFormat may be thinking that route in the code snippet is the 'route method' and not the local variable route and will transform the code snippet into:
[code]

Besides renamin

[2018-05-18 17:35] nicklockwood commented on #259
@Panajev this sounds like a bug in swiftFormat, so the correct course of action for me is to fix it!

For you, the correct course is probably to use comments to temporarily disable the rule for inside the loop:

    // swiftformat:disable redundantSelf
    return route
    // swiftformat:enable redundantSelf

[2018-05-18 18:09] Panajev commented on #259
Cheers Nick, for sure fixing it is the bestest course of action :)!

Naively, I would think that such situation, shadowing a method with a local variable should be considered a kind of code smell if it can be avoided, but anything that can be done to ensure I do not have my developers fear this autocorrect the better.

I am quite thrilled with both SwiftLint and SwiftFormat working together and ag

[2018-05-18 18:28] nicklockwood commented on #259
@Panajev detecting code smells is more the domain of SwiftLint. As long as the code compiles, SwiftFormat should accept it too.

[2018-05-18 18:38] Panajev commented on #259
Reasonable :).

Sent from my iPhone

[2018-05-21 01:05] JohnEstropia commented on #254
Thanks for the input, I think your idea is better and looks more intuitive. I'll see if I can manage my time to work on a PR within the month, but if anyone's willing to do it sooner feel free to do so.

[2018-05-21 16:20] ruslanskorb opened #261 "Add `insertBlankLineAtStartOfScope` rule"
There is a rule for [removing blank lines at the start of scope](https://github.com/nicklockwood/SwiftFormat/blob/master/Sources/Rules.swift#L583-L611).

Would you like to have a partially opposite rule?

[Some teams](https://github.com/eure/swift-style-guide#open-braces--for-type-declarations-functions-and-closures-should-be-followed-by-one-empty-line-single-statement-closures-can-be-written-in-o

[2018-05-22 07:04] ruslanskorb commented on #261
Alternatively, this rule can be part of the `blankLinesAtStartOfScope` rule. In this case it may be configured using `--insert` and `--remove` options. And there will be no need to [change the name of the `blankLinesAtStartOfScope` rule](#260).

[2018-05-22 08:02] igorkulman opened #262 "Cannot activate the Xcode extension"
I updated the Xcode extension to 0.33.7 but I noticed it disappeared from Xcode 9.2. When I go to System Preferences | Extensions there is no Xcode section as in the past:

<img width="780" alt="screen shot 2018-05-22 at 09 57 12" src="https://user-images.githubusercontent.com/4746070/40349357-ae832bfa-5da6-11e8-8d83-629488a4e0d0.png">

I tried 0.33.6 but same result, not showing in Extensions. I

[2018-05-23 23:56] tinder-garricnahapetian opened #263 "Unwanted whitespace inserted between carrot brackets"
swiftformat, version 0.33.7

Test Case 1:

[code]

Result:

[code]

Test Case 2:

[code]

Result:

[code]

Test Case 3 (No issue):

[code]

Result:

[code]

[2018-06-08 14:30] Orfeas opened #264 "Losing file history and can't "undo" and changes"
I've noticed this issue which i'm not sure if it's known already.

When SwiftFormat detects formatting errors in a file and updates the file, you lose the ability to "undo" any changes made previously (cmd+Z for example). From what I understand the library recreates the file, it doesn't update it so you lose the ability to backtrack your changes.

[2018-06-21 20:22] #252 closed

[2018-06-25 08:29] nicklockwood commented on #264
That's correct. Unfortunately there's nothing I can do about this.

I would suggest only running the SwiftFormat command line tool when you run the unit tests, instead of on every build.

You can also use the Xcode extension for formatting code while you're working on it, which will preserve your undo history.

[2018-06-25 08:29] #264 closed

[2018-06-25 08:30] nicklockwood commented on #259
Fixed in version 0.33.8

[2018-06-25 08:30] #259 closed

[2018-06-25 08:31] nicklockwood commented on #263
@tinder-garricnahapetian fixed in version 0.33.8

[2018-06-25 08:31] #263 closed

[2018-06-25 08:32] nicklockwood commented on #234
@fphilipe fixed in version 0.33.8

[2018-06-25 08:32] #234 closed

[2018-06-25 08:34] nicklockwood commented on #232
@VinceBurn fixed in version 0.33.8

[2018-06-25 08:34] #232 closed

[2018-06-29 13:38] giln commented on #262
I have the same issue.
I think it disappeared when I changed Xcode version.
I have 4 versions of Xcode installed: 7.3.1, 8.3.3, 9.4.1, 10-beta 2.
 It worked with Xcode 10 beta 1 but disappeared when I installed beta 2 I think (or maybe it was after upgrading to Xcode 9.4.1)?

[2018-06-29 13:40] giln commented on #262
OK I found a workaround.
My Xcode versioned was named: Xcode-9.4.1.app
I renamed it to Xcode and the menu appeared again.

[2018-06-30 10:50] jandamm opened #266 "Passing != to a function"
I need a predicate like this `{ $0 != referenceValue }`.
To reduce some overhead I used a curry function `func curry<A, B, C>(_ function: @escaping (A, B) -> C) -> (A) -> (B) -> C` on `!=`.

So my final code looks like this:
`curry(!=)(referenceValue)`

Unluckily SwiftFormat is unhappy with `(!=)` and "corrects" it to `(! =)`.
`( != )` doesn't help either. It first get's corrected to `(!=)` and th

[2018-07-02 13:32] nicklockwood commented on #266
@jandamm Thanks for reporting the issue. This is now fixed in version 0.33.9

[2018-07-02 13:32] #266 closed

[2018-07-03 16:09] nicklockwood commented on #237
@fphilipe fixed in version 0.33.10. Thanks for reporting the issue!

[2018-07-03 16:09] #237 closed

[2018-07-03 20:54] michaelmcguire opened #267 "--dryrun option has no return value"
PR #177 added support for `--dryrun` and returning a non-zero exit code if anything would be modified.  PR #202 looked to use that by giving instructions on configuring [Danger](https://github.com/danger/danger) using the assumption that you'll get a non-zero exit code if anything is formatted.  While I don't use Danger, I'm guessing these instructions are broken (with or without `--dryrun`) since

[2018-07-03 21:52] michaelmcguire commented on #267
I found the [commit](https://github.com/nicklockwood/SwiftFormat/commit/016b20028594c6b1973a06a505cfd52a16f86955) where this was removed.

[2018-07-04 10:43] nicklockwood commented on #267
@michaelmcguire it doesn't make sense to me that a mode called "dryrun" would return an error in the event that the command completes successfully.

I think a better option might be to add a new mode called something like "--lint" which behaves the same as "--dryrun" but returns an error if any changes would have been applied.

Does that seem reasonable?

[2018-07-04 13:19] lla01 opened #268 "Error: Parentheses removed from closure call via positional index (tuple)"
In case there's a tuple that contains a closure as one of its members and the closure needs to be called with parameters, then the code from the following snippet, which dereferences the closure via tuple indexes and immediately calls it, is not properly formatted.

Instead, SwiftFormat removes the parentheses around the closure parameters, resulting in malformed swift syntax.

[code]

[2018-07-05 07:32] nicklockwood commented on #239
@stantrujillo that's how the "--allman" option works at the moment (it ignores closures).

Unless you mean that you'd like to use Allman indenting for closures as well? Or automatically to convert Allman-style closures to K&R when "--allman" is true?

[2018-07-05 07:43] nicklockwood commented on #207
@wizofaus the allman formatting option isn't applied to closure braces. I agree that the indenting of the last line looks weird, but that's because it's trying to balance the closing ) with the function that called it.

It's not immediately obvious what the correct behavior should be in this situation since Allman-style indenting and inline closures don't mix very well. I'd be interested to hear y

[2018-07-05 07:49] nicklockwood commented on #207
This issue seems related to https://github.com/nicklockwood/SwiftFormat/issues/187

[2018-07-05 08:05] nicklockwood commented on #268
@lla01 Fixed in 0.33.11

[2018-07-05 08:05] #268 closed

[2018-07-05 10:04] nicklockwood opened #269 "redundant parens not removed around tuple argument"
The `redundantParens rule` fails to remove the extra parens in the following cases:

[code]

Need to be careful with fixing this, because there *is* a semantic difference between the following:

[code]

But not between the following:

[code]

And, having more than 2 sets of nested parens is always meaningless AFAICT.

[2018-07-09 00:02] heyitswither commented on #267
Hey, I was just about to ask about this. What's the progress on it? @michaelmcguire

[2018-07-09 00:42] michaelmcguire commented on #267
@heyitswither hope to open a PR tomorrow

[2018-07-10 08:55] lassik opened #271 "Non-zero exit code on error"
Currently the exit code is zero (indicating success) even when there is an error.

[code]

I believe it would be better to make it non-zero so that editor plugins and batch jobs don't try to use the output from stdout.

I have latest version from Homebrew:

[code]

[2018-07-16 11:17] mefilt opened #274 "Can I set up blankLinesAtStartOfScope?"
I do not want to delete the space before the type

Before SwiftFormat
[code]

After SwiftFormat
[code]
Want space between types

After SwiftFormat
[code]

Thx

[2018-07-18 18:42] zuberalimir opened #275 "Parenthesis around 'if condition' getting removed upon formatting"
Here is the issue.

I would like to have the 'if condition' parenthesis intact upon formatting.

Before formatting:

        if(1==1 &&2==2){
        }

After Formatting:

       if 1 == 1 &&2 == 2 {
        }

Thanks

[2018-07-18 19:49] nicklockwood commented on #275
You can use `—disable redundantParens` in the command line arguments to disable the rule that removes them.

[2018-07-19 13:42] mpsnp opened #276 "Generic enums with type constraints fail to parse"
If enum has generic constraints in `where`, swiftformat fails during parsing them.

Example:

[code]

Fails with error:

[code]

[2018-07-19 19:50] zuberalimir commented on #275
Thanks for the heads up !

[2018-07-19 19:50] #275 closed

[2018-07-20 06:23] mpsnp opened #277 "Custom operators parsing"
It would be great to have a possibility to list  custom operators which are used in project, because now, swiftformat recognizes binary operator as postfix unary operator and makes code incorrect:

Before formatting:
[code]

After formatting:

[code]

[2018-07-20 06:28] nicklockwood commented on #277
It shouldn’t be necessary to list custom operators because the pre/in/postfixness is unambiguous from the white space around the operator.

I suspect the bug here is that SwiftFormat’s parser is confusing your <> operator with a generic argument. I’ll investigate.

[2018-07-20 08:16] mpsnp commented on #277
@nicklockwood , i could fix this issue, if you tell me from where to start searching the bug.
The problem is that swift compiler after formatting returns error: `'<>' is not a postfix unary operator` and fails to compile.

[2018-07-20 08:25] mpsnp commented on #277
I guess also this could be related to this issue, it adds blank line in place of comment in this example:

[code]

As well as it breaks indentation here:

Before:
[code]

After:
[code]

[2018-07-21 15:59] pampeano commented on #252
Sorry for the delay! I tested with version 0.33.11 and its works! Thanks!

[2018-07-21 17:09] kevnm67 opened #278 "FormatCommandError error 0 in Playgrounds #56"
Same/similar issue resolved in #56 but seems limited to multi-page playgrounds.
<img width="748" alt="screen shot 2018-07-21 at 1 08 45 pm" src="https://user-images.githubusercontent.com/2734154/43038473-3e798e7e-8ce7-11e8-9ed7-ae04f3fe73b6.png">

[code]

[2018-07-23 13:36] #277 closed

[2018-07-23 20:43] nicklockwood commented on #278
@kevnm67  I don't think this is the same issue. Can you provide the contents of the Playground that causes this error so I can reproduce it locally?

[2018-07-23 20:43] nicklockwood commented on #276
@mpsnp fixed in 0.33.12, thanks!

[2018-07-23 20:44] nicklockwood commented on #269
Fixed in 0.33.12

[2018-07-23 20:44] #269 closed

[2018-07-23 20:44] #262 closed

[2018-07-24 11:24] kevnm67 commented on #278
@nicklockwood Sure.  It only happens after adding at least 1 page to a playground.

Here's an example playground:
[SwiftFormatBug.playground.zip](https://github.com/nicklockwood/SwiftFormat/files/2223374/SwiftFormatBug.playground.zip)

[2018-07-24 20:09] arnaudWasappli opened #280 "redundantParens broke optional completion closure"
RedundantParens enable cause the code to be broke for my completion closure:

<img width="1160" alt="redundantparens" src="https://user-images.githubusercontent.com/7737273/43163336-d2916d86-8f5b-11e8-9b46-8f19ee84873d.png">

[2018-07-24 21:34] nicklockwood commented on #280
@arnaudWasappli thanks, I'll put up a fix asap

[2018-07-24 22:09] nicklockwood commented on #267
@michaelmcguire the `--lint` option has landed in version 0.33.13. Thanks!

[2018-07-24 22:09] #267 closed

[2018-07-24 22:09] nicklockwood commented on #280
@arnaudWasappli fixed in version 0.33.13

[2018-07-24 22:09] #280 closed

[2018-07-24 22:13] nicklockwood commented on #271
@lassik fixed in version 0.33.13

[2018-07-24 22:13] #271 closed

[2018-07-24 22:15] nicklockwood commented on #199
@tinder-garricnahapetian I've implemented this feature now on the develop branch. It should be included with the next major release.

[2018-07-24 22:17] nicklockwood commented on #274
This seem to be a duplicate of https://github.com/nicklockwood/SwiftFormat/issues/261

[2018-07-24 22:19] nicklockwood commented on #243
@hartbit sorry for not responding earlier. Seems like a reasonable feature - would you be interested in creating a PR?

[2018-07-24 22:35] michaelmcguire commented on #267
@nicklockwood Awesome! Happy to help!

[2018-07-26 05:28] ChristopherRogers opened #281 "Cannot parse #if/#endif in enum"
Running the following code through SwiftFormat (0.13.13)...

[code]

...gives the warning, "warning: unexpected token #endif at 6:0 in test.swift".

[2018-07-26 06:01] nicklockwood commented on #281
@christopherrogers hmm, I thought this was fixed - I’ll take a look.

[2018-07-26 22:59] xuaninbox opened #283 "#imageLiteral handling bug"
When using #imageLiteral, there's a bug where

#imageLiteral(resourceName: "abc.pdf").pngData()

will be formatted to

#imageLiteral(resourceName: "abc.pdf").pngData

[2018-07-27 08:18] nicklockwood commented on #283
I'm not able to reproduce this with just that line. Can you provide a larger code sample that demonstrates the issue?

[2018-07-27 08:36] 2h4u commented on #216
In my opinion this would be a great feature. Why is it still not in the master?

[2018-07-27 08:50] tonyarnold commented on #216
@2h4u because we all have limited time to work on open source projects. @nicklockwood mentioned he had some fixes still to finish up before this work could be merged from `develop` to `master` and released.

You're always welcome to compile the `develop` branch yourself and try out the changes before they are released.

[2018-07-27 08:51] nicklockwood commented on #216
@2h4u master represents the latest released version. This feature is merged on the develop branch if you would like to try it out. It will most likely be included in the next release, barring any unforeseen issues.

[2018-07-27 08:57] 2h4u commented on #216
Ah okay I see, thank you guys for the quick responses!

[2018-07-27 11:35] hartbit commented on #243
I have very little left for Open Source contributions :-( I'll have a look but I can't promise anything.

[2018-07-27 18:58] xuaninbox commented on #283
[code]

it seems only happen when there's nothing after (), this does not trigger
[code]

[2018-07-29 17:17] bhanubirani opened #285 "Unable to install specific SwiftFormat version via brew"
Hi Team - I'm wondering how to install specific version of SwiftFormat via homebrew. Technically, I expect swift format to expose all/selected versions on home brew. This way we can pick and install any version. At the moment there's only one version available which can be seen via ```brew search swiftformat``` command.

Currently, it's throwing the following response:
[code]
Is there a way to get

[2018-07-29 17:48] nicklockwood commented on #285
You should be able to run

`brew switch swiftformat 0.x.x`

to select the earlier version on your local machine. I’m not sure what happens if you’ve never installed that version though.

[2018-07-30 10:37] nicklockwood commented on #283
@xuaninbox fixed in 0.34.0

[2018-07-30 10:37] #283 closed

[2018-07-30 10:38] nicklockwood commented on #281
@xuaninbox fixed in 0.34.0

[2018-07-30 10:38] #281 closed

[2018-07-30 10:38] nicklockwood commented on #278
@kevnm67 fixed in 0.34.0

[2018-07-30 10:38] #278 closed

[2018-07-30 10:40] nicklockwood commented on #199
@tinder-garricnahapetian this is now implemented in version 0.34.0

[2018-07-30 10:40] #199 closed

[2018-07-30 17:40] QF5690 opened #286 "Rule `todos` applied to `where` keyword."
I have code with long "where" expression similiar to this:
[code]
When I run swiftformat on it (indent 2), todos rule is applied, and result is:
[code]
- It seems that applying todos rule is wrong here
- "where" blends visually with function body (although there is a chance that other people will prefer that)

Is it possible to make a new rule for that kind of cases?

[2018-07-30 21:51] nicklockwood commented on #286
@QF5690 I’m not sure what the connection is to the `todos` rule? Does this indent go away if you disable the `todos` rule? That would be hard for me to explain if so.

This is the correct/expected behavior as implemented by the `indent` rule (wrapped lines of code are indented), however there is already a feature request to make the indent level for wrapped lines (aka “continuations”) configurable